Repository vmware-tanzu/community-edition, pull requests merged in 2021-10, with the labels that each got.

#2104 Adjust nuspec URLs for chocolatey validation
  hack/choco/tanzu-community-edition.nuspec
Labels: area/release-eng, cla-not-required

#2105 Add logo for Chocolatey
  docs/site/content/docs/img/TCE Logo Stacked PNG.png
Labels: area/docs, cla-not-required

#2087 First blog post
  docs/site/content/posts/01-blog-article.md
  docs/site/content/posts/01-community-is-our-middle-name-welcome.md
Labels: area/docs, cla-not-required

#2108 Fix 404s on nuspec URLs
  hack/choco/tanzu-community-edition.nuspec
Labels: area/release-eng, cla-not-required

#2107 Remove TOKEN requirement to build all parts of TCE
  Makefile
  hack/build-tanzu.sh
  hack/fix-for-ci-build.sh
Labels: area/release-eng, cla-not-required

#2110 Remove links to tags in blog posts to avoid confusion
  docs/site/themes/template/layouts/_default/single.html
Labels: area/docs, cla-not-required

#2111 Doc- Fix bookmark links in doc
  docs/site/content/docs/latest/aws-install-mgmt.md
  docs/site/content/docs/latest/azure-install-mgmt.md
  docs/site/content/docs/latest/azure-mgmt.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/content/docs/latest/ref-aws.md
  docs/site/content/docs/latest/vsphere-install-mgmt.md
  docs/site/content/docs/latest/vsphere.md
Labels: area/docs, cla-not-required

#2112 Update Tanzu Developer Center links on the resources page
  docs/site/content/resources/_index.html
Labels: area/docs, cla-not-required

#2109 Don't fail chocolatey install on missing dependencies
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#2113 update windows instructions until choco is ready
  README.md
  docs/site/content/docs/assets/cli-install-windows.md
Labels: area/docs, cla-not-required

#2114 fix docs rendering issue
  docs/site/content/docs/assets/cli-install-windows.md
Labels: area/docs, cla-not-required

#2115 Update Use link on the frontpage to go to the latest docs
  docs/site/themes/template/layouts/partials/use-cases.html
Labels: area/docs, cla-not-required

#2117 Standardize LICENSE file
  LICENSE
  LICENSE.md
Labels: area/docs, cla-not-required

#2121 Update Azure image ID to latest used
  docs/site/content/docs/latest/azure-mgmt.md
Labels: area/docs, cla-not-required

#2118 [Docs] github token is optional when using curl script
  docs/site/content/docs/assets/cli-install-linux.md
Labels: area/docs, cla-not-required

#2116 Update Evaluate link on the frontpage to go to the latest docs
  docs/site/themes/template/layouts/partials/use-cases.html
Labels: area/docs, cla-not-required

#2124 Update the TCE lab link under resources to have the proper name and description
  docs/site/content/resources/_index.html
Labels: area/docs, cla-not-required

#2125 Fix choco license URL and prereq check
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#2126 Add Slack link to Website
  docs/site/content/community/_index.html
Labels: area/docs, cla-not-required

#2090 fix ako 1.5.3 configmap data value format error
  addons/packages/load-balancer-and-ingress-service/1.5.3/bundle/config/overlays/overlay-configmap.yaml
Labels: area/packages, cla-not-required

#2129 Add more links to Slack channel
  docs/site/config.yaml
  docs/site/content/community/_index.html
  docs/site/themes/template/layouts/partials/footer.html
Labels: area/docs, cla-not-required

#2135 Suppress the tanzu init spinner for Windows
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#2141 Fix `make generate-package-repo` to use `CHANNEL` instead of `REPO`
  Makefile
  docs/site/content/docs/latest/designs/package-process.md
Labels: area/docs, area/release-eng, cla-not-required

#2144 support localappdata path with spaces for windows install.bat
  hack/install.bat
  hack/uninstall.bat
Labels: kind/bug, area/release-eng

#2145 adding links for slack channel in README
  README.md
Labels: area/docs, cla-not-required

#2136 Add README.md for test directory
  test/README.md
Labels: area/docs, area/release-eng, cla-not-required

#2149 Separate command from output
  docs/site/content/docs/assets/package-installation.md
Labels: area/docs, cla-not-required

#2146 Re-organize to highlight that it may take some time to reconcile
  docs/site/content/docs/assets/package-installation.md
Labels: area/docs, cla-not-required

#2152 Update cli-install-mac.md
  docs/site/content/docs/assets/cli-install-mac.md
Labels: area/docs

#2154 Add in known issues section to release notes template
  hack/release/release/release.template
Labels: cla-not-required

#2155 Dynamic version for Mac install docs
  docs/site/content/docs/assets/cli-install-mac.md
Labels: cla-not-required

#2157 doc- Fix codeblock in clean-up.md to display missing line.
  docs/site/content/docs/assets/clean-up.md
Labels: area/docs, cla-not-required

#2161 fix ako 1.5.3 template format error
  addons/packages/load-balancer-and-ingress-service/1.5.3/bundle/config/overlays/overlay-secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.5.3/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.5.3/bundle/config/upstream/loadbalancerandingressservice/secret.yaml
Labels: area/packages, cla-not-required

#2164 Update kapp-controller version doc. #1491
  docs/site/content/docs/latest/upgrade-kapp-controller.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2162 add metrics-server v0.5.1
  addons/packages/metrics-server/0.5.1/README.md
  addons/packages/metrics-server/0.5.1/bundle/.imgpkg/bundle.yml
  addons/packages/metrics-server/0.5.1/bundle/.imgpkg/images.yml
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/overlay-apiservice.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/upstream/components.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/values.yaml
  addons/packages/metrics-server/0.5.1/bundle/vendir.lock.yml
  addons/packages/metrics-server/0.5.1/bundle/vendir.yml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2234 doc: remove doc ref to ytt in package documentation.
  docs/site/content/docs/latest/package-management.md
Labels: area/docs, cla-not-required

#2249 update optional step 9 in deploying workload cluster procedure
  docs/site/content/docs/latest/workload-clusters.md
Labels: area/docs

#2256 Add AKO 1.6.1 template files
  addons/packages/load-balancer-and-ingress-service/1.6.1/README.md
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/.imgpkg/bundle.yml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/gatewayclasses.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/gateways.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/hostrules.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/httprules.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.star
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/vendir.lock.yml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/vendir.yml
  addons/packages/load-balancer-and-ingress-service/1.6.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2253 Update maintainers for Calico package
  addons/packages/calico/metadata.yaml
Labels: area/packages, cla-not-required

#2232 Add E2E test for Chocolatey package for PR changes
  .github/workflows/e2e-chocolatey-package.yaml
  hack/choco/packpush.ps1
  hack/choco/test/e2e-test.ps1
Labels: area/release-eng, cla-not-required

#2272 Add description to the choco nuspec
  hack/choco/tanzu-community-edition.nuspec
Labels: area/release-eng, cla-not-required

#2289 Fix incorrect 1.5.0 ako-operator image tag.
  addons/packages/ako-operator/1.5.0/bundle/.imgpkg/images.yml
  addons/packages/ako-operator/1.5.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/upstream/akooperator/deployment.yaml
Labels: area/packages, cla-not-required

#2294 Make binary portable.
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/.imgpkg/images.yml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/overlays/change-namespace.yaml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/overlays/update-configmap.yaml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/overlays/update-crds.yaml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/overlays/update-deployment.yaml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/upstream/kapp-controller.yaml
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/values.star
  cli/cmd/plugin/standalone-cluster/hack/kapp-config/config/values.yaml
  cli/cmd/plugin/standalone-cluster/hack/kind-config.yaml
  cli/cmd/plugin/standalone-cluster/hack/kind-config/kind-config.yaml
  cli/cmd/plugin/standalone-cluster/hack/kind-config/overlay.yaml
  cli/cmd/plugin/standalone-cluster/hack/kind-config/values.yaml
  cli/cmd/plugin/standalone-cluster/kapp/values.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2305 Implements using `~/.config/tanzu/tkg/local` as the config dir for local clusters
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2311 Introduce package detection
  cli/cmd/plugin/standalone-cluster/cluster/kind.go
  cli/cmd/plugin/standalone-cluster/go.mod
  cli/cmd/plugin/standalone-cluster/go.sum
  cli/cmd/plugin/standalone-cluster/kapp/kapp.go
  cli/cmd/plugin/standalone-cluster/packages/packages.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2308 Removed unneded namespace from packages and template. #2306
  addons/packages/contour/1.17.1/package.yaml
  addons/packages/contour/1.17.2/package.yaml
  addons/packages/contour/1.18.1/package.yaml
  addons/packages/contour/1.18.2/package.yaml
  addons/packages/local-path-storage/0.0.20/package.yaml
  addons/packages/velero/1.6.3/package.yaml
  hack/packages/templates/metadata.yaml
  hack/packages/templates/package.yaml
Labels: area/packages, area/release-eng, cla-not-required

#2407 Force data value hash to string in csi daemonset
  addons/packages/vsphere-csi/2.3.0/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.3.0/package.yaml
Labels: area/packages, cla-not-required
