Repository vmware-tanzu/community-edition, pull requests merged in 2021-12, with the labels that each got.

#2626 Add upgrade strategy for ako statefulset
  addons/packages/load-balancer-and-ingress-service/1.4.3/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-statefulset.yaml
Labels: area/packages, cla-not-required

#2625 Bumps vulnerable dependencies for dependabot alerts
  .golangci.yaml
  addons/packages/test/pkg/utils/file.go
  hack/.misspellignore
  hack/builder/go.mod
  hack/builder/go.sum
  hack/imagelinter/main.go
  hack/imagelinter/pkg/lint/imagelint.go
  hack/packages/generate-package-repository.go
  hack/release/release/release.go
  hack/runner/webhook/aws.go
  hack/runner/webhook/main.go
  hack/runner/webhook/server.go
  hack/tools/go.mod
  hack/tools/go.sum
  hack/workflows/packages/copy-package-readmes-to-docs.go
  test/e2e/config.go
  test/go.mod
  test/go.sum
Labels: area/packages, area/release-eng, cla-not-required

#2531 Update package repository for 0.10.0 #2530
  addons/packages/cert-manager/1.6.1/package.yaml
  addons/packages/external-dns/0.8.0/package.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/package.yaml
  addons/packages/metrics-server/0.4.0/package.yaml
  addons/packages/pinniped/0.4.3/package.yaml
  addons/packages/pinniped/0.4.4/package.yaml
  addons/packages/prometheus/2.27.0/package.yaml
  addons/packages/whereabouts/0.5.0/package.yaml
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#2611 Doc - Minor correction in Harbor readme.
  addons/packages/harbor/2.2.3/README.md
Labels: area/packages, area/docs, cla-rejected

#2628 Doc - detail for package install doc
  docs/site/content/docs/assets/cert-manager-desc.md
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/latest/glossary.md
Labels: area/docs, cla-not-required

#2627 Wiring velero e2e-test with e2e-framework
  test/e2e/e2e.go
  test/e2e/e2e_suite_test.go
  test/e2e/testdata/install_dependencies.go
  test/e2e/testdata/velero/velero_values.yaml
Labels: area/release-eng, cla-not-required

#2612 Doc - Add doc for finding name of kind cluster in troubleshooting section
  docs/site/content/docs/latest/tsg-bootstrap.md
Labels: area/docs, cla-rejected

#2630 Doc - add workload cluster scale doc
  docs/site/content/docs/latest/scale-cluster.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2638 Docs: Fix Medium Zoom selector to exclude side nav images
  docs/site/themes/template/assets/js/main.js
Labels: area/docs, cla-not-required

#2635 Use registry for `v1.4.0` compatibility in `tce` prod harbor
  Makefile
  hack/build-tanzu.sh
  hack/builder/Makefile
Labels: area/release-eng, cla-not-required

#2507 update harbor 2.3.3 DEV.md
  addons/packages/harbor/2.3.3/DEV.md
Labels: area/packages, area/docs, cla-not-required

#2650 fix `make release-docker` to remove sudo since docker container runs as root
  hack/ensure-deps/ensure-gh-cli.sh
  hack/fix-for-ci-build.sh
Labels: area/release-eng, cla-not-required

#2642 Add overlay to update ServiceAccount namespace on ClusterRoleBinding for Gatekeeper package
  addons/packages/gatekeeper/3.2.3/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/gatekeeper/3.2.3/package.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/overlay/overlay-namespace.yaml
  addons/packages/gatekeeper/3.7.0/package.yaml
Labels: area/packages

#2637 add antrea configuration value for serviceCIDRv6
  addons/packages/antrea/1.2.3/bundle/config/overlay/antrea_overlay.yaml
  addons/packages/antrea/1.2.3/bundle/config/values.yaml
  addons/packages/antrea/1.2.3/test/Makefile
  addons/packages/antrea/1.2.3/test/README.md
  addons/packages/antrea/1.2.3/test/antrea_suite_test.go
  addons/packages/antrea/1.2.3/test/antrea_test.go
  addons/packages/antrea/1.2.3/test/go.mod
  addons/packages/antrea/1.2.3/test/go.sum
Labels: area/packages, area/docs, cla-not-required

#2624 Update the resolved image url digests for CSI 2.4.0 package
  addons/packages/vsphere-csi/2.4.0/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, cla-not-required

#2422 Add sriov-network-device-plugin package
  README.md
  addons/packages/sriov-network-device-plugin/3.3.2/Dockerfile
  addons/packages/sriov-network-device-plugin/3.3.2/README.md
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/.imgpkg/bundle.yml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/.imgpkg/images.yml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/helper.lib.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/overlay/overlay-sriov-network-device-plugin.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/sriov-network-device-plugin.lib.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/upstream/configMap.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/upstream/sriovdp-daemonset.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/values.star
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/config/values.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/kbld-config.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/vendir.lock.yml
  addons/packages/sriov-network-device-plugin/3.3.2/bundle/vendir.yml
  addons/packages/sriov-network-device-plugin/3.3.2/package.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/Makefile
  addons/packages/sriov-network-device-plugin/3.3.2/test/README.md
  addons/packages/sriov-network-device-plugin/3.3.2/test/go.mod
  addons/packages/sriov-network-device-plugin/3.3.2/test/go.sum
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/expected/base.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/expected/node-pools-expected.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/expected/resources-expected.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov-conf/node-pools.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov-conf/resources.yaml
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov_dp_suite_test.go
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov_dp_test.go
  addons/packages/sriov-network-device-plugin/metadata.yaml
Labels: area/packages, area/docs, cla-not-required

#2592 Fix tanzu package install command for Harbor
  addons/packages/harbor/2.3.3/README.md
Labels: area/packages, area/docs, cla-not-required

#2609 Add antrea dev to maintainers
  addons/packages/antrea/metadata.yaml
Labels: area/packages, cla-not-required

#2653 correction in the curl path for aws cli installation
  hack/ensure-dependencies.sh
Labels: kind/test-release, area/release-eng, cla-not-required

#2658 Add notice to Mac getting started that ARM machines are not supported
  docs/site/content/docs/assets/prereq-linux.md
  docs/site/content/docs/assets/prereq-mac.md
Labels: area/docs, cla-not-required

#2644 Add Harbor to packages page
  docs/site/content/packages/_index.html
  docs/site/themes/template/static/img/packages/harbor.png
Labels: area/docs, cla-not-required

#2648 Update Harbor Package README.md
  addons/packages/harbor/2.2.3/README.md
  addons/packages/harbor/2.3.3/README.md
Labels: area/packages, area/docs, cla-not-required

#2667 Pinniped Package: remove namespace from JWTauthenticator
  addons/packages/pinniped/0.12.0/bundle/config/overlay/pinniped-jwtauthenticator.yaml
Labels: area/packages, cla-not-required

#2670 Remove local path from TF uploads to GCP Buckets
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Labels: cla-not-required

#2645 Refactor/cleanup hack directory
  .github/workflows/check-mdlint.yaml
  .github/workflows/check-shell.yaml
  Makefile
  hack/builder/build-tanzu.sh
  hack/builder/install-tanzu.sh
  hack/check/.misspellignore
  hack/check/.yamllintconfig.yaml
  hack/check/check-mdlint.sh
  hack/check/check-misspell.sh
  hack/check/check-shell.sh
  hack/check/check-yaml.sh
  hack/ensure-dependencies.sh
  hack/ensure-deps/ensure-aws-cli.sh
  hack/ensure-deps/ensure-dependencies.sh
  hack/ensure-deps/ensure-imgpkg.sh
  hack/ensure-deps/ensure-jq.sh
  hack/ensure-deps/ensure-kbld.sh
  hack/ensure-deps/ensure-kind.sh
  hack/ensure-deps/ensure-kubectl.sh
  hack/ensure-deps/ensure-release-notes.sh
  hack/ensure-deps/ensure-shellcheck.sh
  hack/ensure-deps/ensure-ytt.sh
  hack/release/fix-for-ci-build.sh
  hack/release/install.bat
  hack/release/install.sh
  hack/release/package-release.sh
  hack/release/uninstall.bat
  hack/release/uninstall.sh
Labels: area/release-eng, cla-not-required

#2678 Fix release after `hack` folder clean up
  Makefile
Labels: area/release-eng, cla-not-required

#2680 Docs: Overflow scroll for wide tables
  docs/site/themes/template/assets/scss/_docs.scss
Labels: area/docs, cla-not-required

#2671 Add dnsPolicy to kapp controller package
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
Labels: area/packages, cla-not-required

#2683 Adding Antrea agent tweak configmap
  addons/packages/antrea/1.2.3/bundle/config/kapp-config.yaml
  addons/packages/antrea/1.2.3/bundle/config/overlay/antrea_overlay.yaml
  addons/packages/antrea/1.2.3/bundle/config/upstream/antrea.yaml
  addons/packages/antrea/1.2.3/package.yaml
Labels: area/packages, cla-not-required

#2695 Default kapp controller packge DNSPolicy
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
Labels: area/packages, cla-not-required

#2675 Add harbor package configuration table in README
  addons/packages/harbor/2.2.3/README.md
  addons/packages/harbor/2.3.3/README.md
Labels: area/packages, area/docs, cla-not-required

#2688 Replace deprecated linters
  .golangci.yaml
Labels: cla-not-required

#2661 packages/contour: Expose loadBalancerIP in config
  addons/packages/contour/1.18.2/README.md
  addons/packages/contour/1.18.2/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.18.2/bundle/config/values.yaml
  addons/packages/contour/1.18.2/package.yaml
  addons/packages/contour/1.19.1/README.md
  addons/packages/contour/1.19.1/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.19.1/bundle/config/values.yaml
  addons/packages/contour/1.19.1/package.yaml
  docs/site/content/docs/latest/designs/package-management.md
  docs/site/content/docs/latest/docker-monitoring-stack.md
  docs/site/content/docs/latest/package-management.md
  docs/site/content/docs/latest/package-readme-contour-1.19.1.md
  docs/site/content/docs/latest/vsphere-monitoring-stack.md
Labels: area/packages, area/docs

#2694 Add prefix to data hash, so it cannot be parsed as integer.
  addons/packages/vsphere-cpi/1.22.4/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.4/test/vsphere_cpi_test.go
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/update-csi-driver.yaml
Labels: area/packages, cla-not-required

#2470 Run go mod tidy before verifying modules to lint modules
  Makefile
  addons/packages/antrea/1.2.3/test/go.sum
  addons/packages/calico/3.11.3/test/go.sum
  addons/packages/calico/3.19.1/test/go.sum
  addons/packages/external-dns/0.10.0/test/go.sum
  addons/packages/external-dns/0.8.0/test/go.sum
  addons/packages/harbor/2.2.3/test/go.sum
  addons/packages/harbor/2.3.3/test/go.sum
  addons/packages/multus-cni/3.7.1/test/go.sum
  addons/packages/test/pkg/go.sum
  addons/packages/vsphere-cpi/1.22.4/test/go.sum
  hack/asset/go.sum
  hack/packages/go.mod
  hack/release/release/go.sum
  hack/runner/webhook/go.mod
  hack/runner/webhook/go.sum
  hack/tools/go.sum
  hack/workflows/packages/go.mod
Labels: area/packages, area/release-eng, cla-not-required

#2702 update Contour package SHAs
  addons/packages/contour/1.18.2/package.yaml
  addons/packages/contour/1.19.1/package.yaml
Labels: area/packages, cla-not-required

#2703 Additional hack folder clean up
  Makefile
  hack/check/.imagelintconfig.yaml
  hack/check/.urllintconfig.yaml
  hack/lint-repo-links.sh
Labels: area/release-eng, cla-not-required

#2660 Add info about ARM to download.html
  docs/site/themes/template/layouts/_default/download.html
Labels: area/docs, cla-not-required

#2722 Fix recent aws ec2 endpoint not being available
  hack/runner/webhook/go.mod
  hack/runner/webhook/go.sum
Labels: area/release-eng, cla-not-required

#2723 [Antrea] Disable UDP tunnel offload option
  addons/packages/antrea/1.2.3/README.md
  addons/packages/antrea/1.2.3/bundle/config/overlay/antrea_overlay.yaml
  addons/packages/antrea/1.2.3/bundle/config/values.yaml
  addons/packages/antrea/1.2.3/package.yaml
  addons/packages/antrea/1.2.3/test/antrea_test.go
Labels: area/packages, area/docs, cla-not-required

#2712 Create a single daily build that is downloadable for users and tests
  .github/workflows/build-daily.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-standalone-cluster.yaml
  Makefile
  hack/dailybuild/Makefile
  hack/dailybuild/dailybuild.go
  hack/dailybuild/go.mod
  hack/dailybuild/go.sum
  hack/dailybuild/publish-daily-build.sh
  hack/release/cut-release.sh
  test/download-or-build-tce.sh
  test/vsphere/run-tce-vsphere-management-and-workload-cluster.sh
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: area/release-eng, cla-not-required

#2727 Add kapp controller init container to configure cluster DNS access
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/values.star
  addons/packages/kapp-controller/0.30.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
Labels: area/packages, cla-not-required

#2687 2686: Proposal Process Design Doc
  GOVERNANCE.md
  docs/designs/2686-proposal-process.md
  docs/designs/README.md
  docs/designs/template.md
Labels: area/docs, cla-not-required

#2733 Finalize proposal process into README
  docs/designs/README.md
Labels: area/docs, cla-not-required

#2740 Add ginkgo tools for harbor e2e test
  addons/packages/harbor/2.2.3/test/go.sum
  addons/packages/harbor/2.2.3/test/tools.go
  addons/packages/harbor/2.3.3/test/go.sum
  addons/packages/harbor/2.3.3/test/tools.go
Labels: area/packages, cla-not-required

#2734 update vsphere-cpi validations to allow dualstack
  addons/packages/vsphere-cpi/1.22.4/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.4/test/go.mod
  addons/packages/vsphere-cpi/1.22.4/test/go.sum
  addons/packages/vsphere-cpi/1.22.4/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#2745 Add BUILD_VERSION and a way to manually trigger a daily build
  .github/workflows/build-daily.yaml
  Makefile
Labels: area/release-eng, cla-not-required

#2735 Add vsphere-csi 2.4.1 package
  addons/packages/vsphere-csi/2.4.1/README.md
  addons/packages/vsphere-csi/2.4.1/bundle/.imgpkg/bundle.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.4.1/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/upstream/vsphere-csi/LICENSE
  addons/packages/vsphere-csi/2.4.1/bundle/config/upstream/vsphere-csi/manifests/vanilla/vsphere-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/values.star
  addons/packages/vsphere-csi/2.4.1/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-csi/2.4.1/bundle/vendir.lock.yml
  addons/packages/vsphere-csi/2.4.1/bundle/vendir.yml
  addons/packages/vsphere-csi/2.4.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2728 Clean up left files to not block other incoming package installation
  addons/packages/multus-cni/3.7.1/README.md
  addons/packages/multus-cni/3.7.1/test/e2e/multihomed-testfiles/cleanup.yaml
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_test.go
  addons/packages/test/pkg/utils/validation.go
Labels: area/packages, area/docs, cla-not-required

#2726 Added e2e test for whereabouts package
  addons/packages/whereabouts/0.5.0/test/Makefile
  addons/packages/whereabouts/0.5.0/test/README.md
  addons/packages/whereabouts/0.5.0/test/e2e/test_assets/multi_nic_pod.yaml
  addons/packages/whereabouts/0.5.0/test/e2e/test_assets/whereabouts_values.yaml
  addons/packages/whereabouts/0.5.0/test/e2e/whereabouts_suite_test.go
  addons/packages/whereabouts/0.5.0/test/e2e/whereabouts_test.go
  addons/packages/whereabouts/0.5.0/test/go.mod
  addons/packages/whereabouts/0.5.0/test/go.sum
Labels: area/packages, kind/feature, kind/test-release, cla-not-required

#2647 SEO edits
  docs/site/content/_index.md
  docs/site/content/community/_index.html
  docs/site/content/docs/latest/_index.md
  docs/site/content/packages/_index.html
  docs/site/content/posts/_index.md
  docs/site/content/resources/_index.html
  docs/site/themes/template/layouts/_default/baseof.html
Labels: area/docs, cla-not-required
