Repository vmware-tanzu/community-edition, pull requests merged in 2021-11, with the labels that each got.

#2411 fix: change cert-manager.io/v1alpha2 to cert-manager.io/v1
  addons/packages/harbor/2.2.3/bundle/config/certificates.lib.yaml
  addons/packages/harbor/2.2.3/package.yaml
  addons/packages/harbor/2.2.3/test/unittest/fixtures/expected/default.yaml
  addons/packages/harbor/2.2.3/test/unittest/fixtures/expected/registry-azure-storage.yaml
  addons/packages/harbor/2.2.3/test/unittest/fixtures/expected/registry-existing-pvc.yaml
  addons/packages/harbor/2.2.3/test/unittest/fixtures/expected/registry-s3-storage.yaml
Labels: area/packages, cla-not-required

#2414 Update velero test scripts
  addons/packages/velero/1.6.3/test/Makefile
  addons/packages/velero/1.6.3/test/README.md
  addons/packages/velero/1.6.3/test/install-velero-cli.sh
Labels: area/packages, area/docs, cla-not-required

#2402 Send standalone bootstrap log to file
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2417 Standalone overhaul: Renames `local` to `standalone` within codebase
  cli/cmd/plugin/standalone-cluster/README.md
  cli/cmd/plugin/standalone-cluster/cluster/cluster.go
  cli/cmd/plugin/standalone-cluster/cluster/kind.go
  cli/cmd/plugin/standalone-cluster/cluster/noop.go
  cli/cmd/plugin/standalone-cluster/config/config.go
  cli/cmd/plugin/standalone-cluster/config/config_test.go
  cli/cmd/plugin/standalone-cluster/configure.go
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/list.go
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: area/docs, cla-not-required, area/cli

#2316 Update documentation regarding default values #607
  docs/site/content/docs/latest/designs/package-process.md
Labels: area/docs, cla-not-required

#2409 Update imgpkgBundle for calico packages
  addons/packages/calico/3.11.3/package.yaml
  addons/packages/calico/3.19.1/package.yaml
Labels: area/packages, cla-not-required

#2420 Standalone overhaul: Implements a set of standard 2 column width emojis for logging
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/list.go
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2421 Table format standalone cluster list
  cli/cmd/plugin/standalone-cluster/config/config.go
  cli/cmd/plugin/standalone-cluster/list.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2297 Package Creation, Step by Step
  docs/site/content/docs/latest/package-creation-step-by-step.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2408 Separate image pull from cluster creation
  cli/cmd/plugin/standalone-cluster/cluster/cluster.go
  cli/cmd/plugin/standalone-cluster/cluster/kind.go
  cli/cmd/plugin/standalone-cluster/cluster/noop.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2193 Add cert-manager 1.5.4
  addons/packages/cert-manager/1.5.4/README.md
  addons/packages/cert-manager/1.5.4/bundle/.imgpkg/images.yml
  addons/packages/cert-manager/1.5.4/bundle/config/overlays/overlay-annotations.yaml
  addons/packages/cert-manager/1.5.4/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/cert-manager/1.5.4/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/cert-manager/1.5.4/bundle/config/upstream/cert-manager.yaml
  addons/packages/cert-manager/1.5.4/bundle/config/values.yaml
  addons/packages/cert-manager/1.5.4/bundle/vendir.lock.yml
  addons/packages/cert-manager/1.5.4/bundle/vendir.yml
  addons/packages/cert-manager/1.5.4/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2428 Uniform GH Workflow Name for Homebrew
  .github/workflows/release-homebrew-package.yaml
Labels: cla-not-required

#2429 Use correct version in chocolately install command
  docs/site/content/docs/assets/cli-install-windows.md
  docs/site/layouts/shortcodes/choco_release_latest.html
Labels: area/docs, kind/docs, cla-not-required

#2405 Fix fluent overlays to consume custom values for daemon set.
  addons/packages/fluent-bit/1.7.5/bundle/config/overlays/overlay-daemonset.yaml
Labels: area/packages, cla-not-required

#2430 Update Housekeeping Actions with Correct Permissions
  .github/workflows/label-issues-prow.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/welcome-contributors.yaml
Labels: cla-not-required

#2427 Implements reporting standalone cluster creation and deletion times
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
Labels: cla-not-required

#2246 Adding shell scripts tests in e2e-framework
  test/e2e/addons_config.yaml
  test/e2e/e2e.go
  test/e2e/e2e_test.go
  test/e2e/smoke-test/Makefile
  test/e2e/smoke-test/packages/cert-manager/1.5.3/cert-manager-test.sh
  test/e2e/smoke-test/packages/contour/1.18.2/contour-test.sh
  test/e2e/smoke-test/packages/contour/1.18.2/contour-values.yaml
  test/e2e/smoke-test/packages/fluent-bit/1.7.5/fluent-bit-test.sh
  test/e2e/smoke-test/packages/local-path-storage/0.0.20/local-path-storage-test.sh
  test/e2e/smoke-test/packages/local-path-storage/0.0.20/pod.yaml
  test/e2e/smoke-test/packages/local-path-storage/0.0.20/pvc.yaml
  test/go.mod
  test/go.sum
Labels: area/release-eng, cla-not-required

#2433 Doc - add link to triage process issue in doc
  docs/site/content/docs/latest/triage-process.md
Labels: cla-not-required

#2436 doc - add link to roadmap in readme
  README.md
Labels: cla-not-required

#2437 site - fix typo in packages page
  docs/site/content/packages/_index.html
Labels: cla-not-required

#2441 Replaces ColorLiteGrey with ColorBrightBlack
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required

#2442 Fix housekeeping after token change error due to spacing
  .github/workflows/label-pull-requests.yaml
Labels: cla-not-required

#2426 Use client-go rest.Inteface for all packaging interactions
  cli/cmd/plugin/standalone-cluster/packages/packages.go
Labels: cla-not-required, area/cli

#2449 Revert mistaken label change
  .github/workflows/label-issues-prow.yaml
Labels: cla-not-required

#2440 Doc - Minor correction for identity management doc 2
  docs/site/content/docs/assets/identity-management.md
Labels: area/docs, cla-not-required

#2438 Doc - minor correction for identity management doc
  docs/site/content/docs/assets/identity-management.md
Labels: area/docs, cla-not-required

#2446 Plumb standalone cluster network arguments
  cli/cmd/plugin/standalone-cluster/cluster/kind.go
Labels: cla-not-required

#2452 Fix/revertlabelchange
  .github/workflows/label-issues-prow.yaml
  .github/workflows/label-pull-requests.yaml
  .github/workflows/welcome-contributors.yaml
Labels: cla-not-required

#2451 Add port mapping to sa cluster creation
  cli/cmd/plugin/standalone-cluster/cluster/kind.go
  cli/cmd/plugin/standalone-cluster/config/config.go
  cli/cmd/plugin/standalone-cluster/config/config_test.go
  cli/cmd/plugin/standalone-cluster/configure.go
  cli/cmd/plugin/standalone-cluster/create.go
Labels: cla-not-required, area/cli

#2401 Standalone overhaul: implements context aware progress animation
  cli/cmd/plugin/standalone-cluster/log/animator.go
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2450 Clean-up SA packages and cobra commands
  cli/cmd/plugin/standalone-cluster/cluster/cluster.go
  cli/cmd/plugin/standalone-cluster/cmd/configure.go
  cli/cmd/plugin/standalone-cluster/cmd/create.go
  cli/cmd/plugin/standalone-cluster/cmd/delete.go
  cli/cmd/plugin/standalone-cluster/cmd/list.go
  cli/cmd/plugin/standalone-cluster/cmd/utils.go
  cli/cmd/plugin/standalone-cluster/config/config.go
  cli/cmd/plugin/standalone-cluster/kapp/kapp.go
  cli/cmd/plugin/standalone-cluster/kubeconfig/kubeconfig.go
  cli/cmd/plugin/standalone-cluster/log/log.go
  cli/cmd/plugin/standalone-cluster/main.go
  cli/cmd/plugin/standalone-cluster/packages/packages.go
  cli/cmd/plugin/standalone-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2413 Add harbor package 2.3.3
  addons/packages/harbor/2.3.3/DEV.md
  addons/packages/harbor/2.3.3/README.md
  addons/packages/harbor/2.3.3/bundle/.imgpkg/images.yml
  addons/packages/harbor/2.3.3/bundle/config/certificates.lib.yaml
  addons/packages/harbor/2.3.3/bundle/config/globals.star
  addons/packages/harbor/2.3.3/bundle/config/globals.yaml
  addons/packages/harbor/2.3.3/bundle/config/helpers.star
  addons/packages/harbor/2.3.3/bundle/config/kinds.lib.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/add-certificates.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/change-namespace.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-core.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-database.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-exporter.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-httpproxy.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-ingress.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-jobservice.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-notary.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-portal.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-redis.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-registry.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-role-psp.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-trivy.yaml
  addons/packages/harbor/2.3.3/bundle/config/scripts/generate-passwords.sh
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/00-common.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/02-core.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/03-database.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/04-exporter.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/05-httpproxy.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/05-ingress.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/06-jobservice.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/07-notary.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/08-portal.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/09-redis.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/10-registry.yaml
  addons/packages/harbor/2.3.3/bundle/config/upstream/manifests/11-trivy.yaml
  addons/packages/harbor/2.3.3/bundle/config/values.star
  addons/packages/harbor/2.3.3/bundle/config/values.yaml
  addons/packages/harbor/2.3.3/bundle/vendir.lock.yml
  addons/packages/harbor/2.3.3/bundle/vendir.yml
  addons/packages/harbor/2.3.3/package.yaml
  addons/packages/harbor/2.3.3/test/Makefile
  addons/packages/harbor/2.3.3/test/e2e/fixtures/contour.yaml
  addons/packages/harbor/2.3.3/test/e2e/fixtures/harbor.yaml
  addons/packages/harbor/2.3.3/test/e2e/harbor_suite_test.go
  addons/packages/harbor/2.3.3/test/e2e/harbor_test.go
  addons/packages/harbor/2.3.3/test/go.mod
  addons/packages/harbor/2.3.3/test/go.sum
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/default.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/registry-azure-storage.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/registry-existing-pvc.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/registry-s3-storage.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/default.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/registry-azure-storage.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/registry-existing-pvc.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/registry-s3-storage.yaml
  addons/packages/harbor/2.3.3/test/unittest/harbor_suite_test.go
  addons/packages/harbor/2.3.3/test/unittest/harbor_test.go
  addons/packages/harbor/metadata.yaml
  addons/repos/main.yaml
  test/e2e/addons_config.yaml
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#2459 [E2E][vSphere] Cleanup the local kind bootstrap cluster before cleaning up the standalone cluster
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: area/release-eng, cla-not-required

#2456 [E2E][vSphere] Cleanup standalone cluster when there is an error in cluster creation check
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: area/release-eng, cla-not-required

#2262 doc: add headless install doc
  docs/site/content/docs/latest/headless-install.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs

#2473 Standalone overhaul: Fixes 1 column emoji in delete command and fixes tty animating problem
  cli/cmd/plugin/standalone-cluster/cmd/delete.go
  cli/cmd/plugin/standalone-cluster/log/log.go
Labels: cla-not-required, area/cli

#2474 Update Chocolatey Workflow Name for Consistency
  .github/workflows/check-chocolatey-package.yaml
Labels: cla-not-required

#2201 Use imgpkg for listing available images
  docs/site/content/docs/latest/upgrade-kapp-controller.md
Labels: area/docs

#2404 Pre-Merge PR Checks for Diagnostics Plugin
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/e2e-diagnostics-plugin.yaml
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/diagnostics/e2e-test/e2e-test.sh
  cli/cmd/plugin/diagnostics/e2e-test/setup-e2e-test.sh
  hack/ensure-dependencies.sh
Labels: area/release-eng, cla-not-required, area/cli

#2225 Add aviinfrasetting to ako templates
  addons/packages/ako-operator/1.5.0/README.md
  addons/packages/ako-operator/1.5.0/bundle/config/kapp-config.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/upstream/akooperator/akodeploymentconfig.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/README.md
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.yaml
Labels: area/packages, area/docs, cla-not-required

#2476 Bump vsphere-csi to 2.4.0 GA
  addons/packages/vsphere-csi/2.4.0/README.md
  addons/packages/vsphere-csi/2.4.0/bundle/.imgpkg/bundle.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/upstream/vsphere-csi/LICENSE
  addons/packages/vsphere-csi/2.4.0/bundle/config/upstream/vsphere-csi/manifests/vanilla/vsphere-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/values.star
  addons/packages/vsphere-csi/2.4.0/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-csi/2.4.0/bundle/vendir.lock.yml
  addons/packages/vsphere-csi/2.4.0/bundle/vendir.yml
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, area/docs

#2480 [E2E][vSphere] Fix cleanup of all VMs of a vSphere TCE cluster using `govc` CLI
  test/vsphere/cleanup-utils.sh
Labels: area/release-eng, cla-not-required

#2463 Bump vsphere-cpi version to 1.22.3.
  addons/packages/vsphere-cpi/1.22.3/README.md
  addons/packages/vsphere-cpi/1.22.3/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.22.3/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/update-config.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/update-secret.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/04-service.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.3/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.3/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.22.3/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.22.3/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2477 [E2E][diagnostics-plugin] Use git rev-parse for finding the root of the repo
  cli/cmd/plugin/diagnostics/e2e-test/setup-e2e-test.sh
Labels: cla-not-required, area/cli

#2483 doc- Fix typo in Package Management topic
  docs/site/content/docs/latest/designs/package-management.md
Labels: area/docs, cla-not-required

#2485 Doc - region is required for delete mgmt cluster on AWS
  docs/site/content/docs/assets/clean-up.md
  docs/site/content/docs/latest/delete-mgmt.md
Labels: area/docs, cla-not-required

#2304 Add workflow config and script to test MacOS, Linux OS and Windows OS release builds
  .github/workflows/release-gate-macos-linux-builds.yaml
  .github/workflows/release-gate-windows-build.yaml
  test/release-build-test/check-release-build.ps1
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#2479 Remove mention of version flag in choco install command in docs
  README.md
  docs/site/content/docs/assets/cli-install-windows.md
  docs/site/layouts/shortcodes/choco_release_latest.html
Labels: area/docs, cla-not-required

#2465 standalone-cluster/create: expose -t timeout flags
  cli/cmd/plugin/standalone-cluster/create.go
Labels: area/cli

#2486 Fix e2e tests for external-dns v0.10.0
  addons/packages/external-dns/0.10.0/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.10.0/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.8.0/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.8.0/test/e2e/fixtures/external-dns-values-fixture.yaml
Labels: area/packages, cla-not-required

#2489 Fix cleanup of kubeconfig entry for vSphere, AWS and Azure E2E tests
  test/aws/deploy-tce-managed.sh
  test/aws/deploy-tce-standalone.sh
  test/azure/deploy-management-and-workload-cluster.sh
  test/azure/deploy-standalone-cluster.sh
  test/util/utils.sh
  test/vsphere/run-tce-vsphere-management-and-workload-cluster.sh
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: area/release-eng, cla-not-required

#2386 Add whereabouts package
  README.md
  addons/packages/whereabouts/0.5.0/Dockerfile
  addons/packages/whereabouts/0.5.0/README.md
  addons/packages/whereabouts/0.5.0/bundle/.imgpkg/bundle.yml
  addons/packages/whereabouts/0.5.0/bundle/.imgpkg/images.yml
  addons/packages/whereabouts/0.5.0/bundle/config/overlay/overlay-daemonset-install.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/overlay/overlay-ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/upstream/daemonset-install.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/upstream/ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/upstream/whereabouts.cni.cncf.io_ippools.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/upstream/whereabouts.cni.cncf.io_overlappingrangeipreservations.yaml
  addons/packages/whereabouts/0.5.0/bundle/config/values.yaml
  addons/packages/whereabouts/0.5.0/bundle/vendir.lock.yml
  addons/packages/whereabouts/0.5.0/bundle/vendir.yml
  addons/packages/whereabouts/0.5.0/package.yaml
  addons/packages/whereabouts/metadata.yaml
Labels: area/packages, area/docs, cla-not-required

#2472 Add README in test/smoke
  test/smoke/Makefile
  test/smoke/README.md
  test/smoke/packages/cert-manager/1.5.3/cert-manager-test.sh
  test/smoke/packages/contour/1.18.2/contour-test.sh
  test/smoke/packages/contour/1.18.2/contour-values.yaml
  test/smoke/packages/fluent-bit/1.7.5/fluent-bit-test.sh
  test/smoke/packages/local-path-storage/0.0.20/local-path-storage-test.sh
  test/smoke/packages/local-path-storage/0.0.20/pod.yaml
  test/smoke/packages/local-path-storage/0.0.20/pvc.yaml
Labels: area/docs, area/release-eng, cla-not-required

#2496 Fix diagnostics PR check
  .github/workflows/check-pr-diagnostics-plugin.yaml
Labels: cla-not-required

#2445 Removing `kind` command dependency for Diagnostics
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/diagnostics/go.sum
  cli/cmd/plugin/diagnostics/pkg/collect_cmd.go
  cli/cmd/plugin/diagnostics/scripts/bootstrap_cluster.star
  cli/cmd/plugin/diagnostics/scripts/lib.star
Labels: cla-not-required, area/cli

#2495 Doc - Minor doc fixes to Getting Started guide
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/latest/getting-started-standalone.md
  docs/site/content/docs/latest/getting-started.md
Labels: area/docs, cla-not-required

#2499 Fix PR Checks for Diagnostics Plugin
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
Labels: cla-not-required

#2500 Fix CPI daemonset overlay for v1.22.3
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/update-daemonset.yaml
Labels: area/packages, cla-not-required

#2501 Windows uninstall: remove tanzu from PATH
  hack/install.bat
  hack/uninstall.bat
Labels: area/release-eng, cla-not-required

#2502 Fix ec2 instance leak when tagging fails
  hack/runner/webhook/aws.go
  hack/runner/webhook/server.go
Labels: area/release-eng, cla-not-required

#2491 Doc - add glossary entry for package repository
  docs/site/content/docs/assets/mgmt-desc.md
  docs/site/content/docs/assets/standalone-desc.md
  docs/site/content/docs/latest/cli-installation.md
  docs/site/content/docs/latest/designs/package-process.md
  docs/site/content/docs/latest/getting-started-standalone.md
  docs/site/content/docs/latest/getting-started.md
  docs/site/content/docs/latest/glossary.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2509 Enable markdownlinting for README
  README.md
Labels: area/docs, cla-not-required

#2521 Remove CPI v1.22.1
  addons/packages/vsphere-cpi/1.22.1/README.md
  addons/packages/vsphere-cpi/1.22.1/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.22.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/overlays/update-config.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/overlays/update-secret.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/upstream/vsphere-cpi/04-service.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.22.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.1/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.22.1/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.22.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2522 set priorityClassName: system-cluster-critical in CPI daemonset
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
Labels: area/packages, cla-not-required

#2524 patch priorityClassName: system-node-critical in CPI daemonset for all versions
  addons/packages/vsphere-cpi/1.18.1/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.19.1/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.20.0/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.21.0/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.3/bundle/config/upstream/vsphere-cpi/05-daemonset.yaml
Labels: area/packages, cla-not-required

#2517 Improvements in smoke tests
  test/smoke/Makefile
  test/smoke/README.md
  test/smoke/packages/cert-manager/1.5.3/cert-manager-test.sh
  test/smoke/packages/contour/1.18.2/contour-test.sh
  test/smoke/packages/contour/1.18.2/contour-values.yaml
  test/smoke/packages/fluent-bit/1.7.5/fluent-bit-test.sh
  test/smoke/packages/local-path-storage/0.0.20/local-path-storage-test.sh
Labels: area/docs, area/release-eng, cla-not-required

#2532 Fix cleanup of aws workload cluster kubeconfig entry in aws management and workload cluster E2E test
  test/aws/deploy-tce-managed.sh
Labels: area/release-eng, cla-not-required

#2526 Adding "Tanzu Community Edition Takes Off!" Blog
  docs/site/content/posts/02-vmware-tanzu-community-edition-takes-off.md
  docs/site/themes/template/layouts/_default/posts.html
  docs/site/themes/template/static/img/rocket.jpg
Labels: area/docs, cla-not-required

#2511 doc- Change doc layout for TCE install
  docs/site/content/docs/latest/installation-planning.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2504 Adds deprecation notices to all `standalone-cluster` commands
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/main.go
Labels: cla-not-required, area/cli

#2523 Use `buildinfo.Version` instead of `buildVersion` when building with tanzu framework v0.10.0
  Makefile
  cli/cmd/plugin/conformance/go.mod
  cli/cmd/plugin/conformance/go.sum
  cli/cmd/plugin/conformance/main.go
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/diagnostics/go.sum
  cli/cmd/plugin/diagnostics/main.go
  cli/cmd/plugin/standalone-cluster/main.go
  hack/FRAMEWORK_BUILD_VERSION
  hack/build-tanzu.sh
  hack/builder/Makefile
  hack/builder/go.mod
  hack/builder/go.sum
  hack/install.bat
  hack/release/package-release.sh
Labels: area/release-eng, cla-not-required, area/cli

#2538 Skip empty GCP bucket folder for deprecated plugins
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#2541 add missing rbac for ako
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/rbac.yaml
Labels: area/packages, cla-not-required

#2550 Add and update troubleshooting commands
  docs/site/content/docs/latest/tanzu-debugging-tips.md
Labels: area/docs

#2552 Fix spacing in log retrieval commands
  docs/site/content/docs/latest/tanzu-debugging-tips.md
Labels: area/docs

#2555 Update CODEOWNERS
  CODEOWNERS
Labels: cla-not-required

#2554 harbor package 2.3.3 support secretName for tlsCertificate
  addons/packages/harbor/2.3.3/bundle/config/overlay/add-certificates.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-httpproxy.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-ingress.yaml
  addons/packages/harbor/2.3.3/bundle/config/values.yaml
  addons/packages/harbor/2.3.3/package.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/tls-certificate-secret-name.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/tls-certificate-secret-name.yaml
Labels: area/packages, cla-not-required

#2557 Bump secretgen controller version to 0.7.1 Release
  addons/packages/secretgen-controller/0.7.1/README.md
  addons/packages/secretgen-controller/0.7.1/bundle/.imgpkg/bundle.yml
  addons/packages/secretgen-controller/0.7.1/bundle/.imgpkg/images.yml
  addons/packages/secretgen-controller/0.7.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/secretgen-controller/0.7.1/bundle/config/upstream/secretgen-controller.yaml
  addons/packages/secretgen-controller/0.7.1/bundle/config/values.star
  addons/packages/secretgen-controller/0.7.1/bundle/config/values.yaml
  addons/packages/secretgen-controller/0.7.1/bundle/vendir.lock.yml
  addons/packages/secretgen-controller/0.7.1/bundle/vendir.yml
  addons/packages/secretgen-controller/0.7.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2558 Add kapp-controller 0.30.0 package
  addons/packages/kapp-controller/0.30.0/README.md
  addons/packages/kapp-controller/0.30.0/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.30.0/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/values.star
  addons/packages/kapp-controller/0.30.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.0/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.30.0/bundle/vendir.yml
  addons/packages/kapp-controller/0.30.0/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2536 Add documentations for the ako-operator package.
  README.md
  addons/packages/ako-operator/1.5.0/README.md
  addons/packages/ako-operator/1.5.0/images/virtual_svc_on_avi_controller.png
Labels: area/packages, area/docs, cla-not-required

#2560 Fixes #2559 typo
  addons/packages/harbor/2.2.3/bundle/config/values.star
  addons/packages/harbor/2.3.3/bundle/config/values.star
Labels: area/packages, cla-not-required

#2503 Add ENABLE_ALPHA_DUAL_STACK to vsphere-cpi
  addons/packages/vsphere-cpi/1.22.3/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.3/test/Makefile
  addons/packages/vsphere-cpi/1.22.3/test/README.md
  addons/packages/vsphere-cpi/1.22.3/test/go.mod
  addons/packages/vsphere-cpi/1.22.3/test/go.sum
  addons/packages/vsphere-cpi/1.22.3/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.22.3/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#2567 Add CSI 2.4.0 Windows support
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, cla-not-required

#2529 cert-manager 1.6.1 #2528
  addons/packages/cert-manager/1.6.1/README.md
  addons/packages/cert-manager/1.6.1/bundle/.imgpkg/images.yml
  addons/packages/cert-manager/1.6.1/bundle/config/overlays/overlay-annotations.yaml
  addons/packages/cert-manager/1.6.1/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/cert-manager/1.6.1/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/cert-manager/1.6.1/bundle/config/upstream/cert-manager.yaml
  addons/packages/cert-manager/1.6.1/bundle/config/values.yaml
  addons/packages/cert-manager/1.6.1/bundle/vendir.lock.yml
  addons/packages/cert-manager/1.6.1/bundle/vendir.yml
  addons/packages/cert-manager/1.6.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2568 Bug fix in CSI 2.4.0 template
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, cla-not-required

#2563 harbor package 2.3.3 support secretName for tlsCertificate - follow up
  addons/packages/harbor/2.3.3/bundle/config/overlay/add-certificates.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-httpproxy.yaml
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-ingress.yaml
  addons/packages/harbor/2.3.3/bundle/config/values.star
  addons/packages/harbor/2.3.3/bundle/config/values.yaml
  addons/packages/harbor/2.3.3/package.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/tls-certificate-secret-name.yaml
  addons/packages/harbor/2.3.3/test/unittest/harbor_test.go
Labels: area/packages, cla-not-required

#2578 [E2E] Uninstall using uninstall script before installing using install script
  test/build-tce.sh
Labels: area/release-eng, cla-not-required

#2581 Bumps standalone-cluster plugin to `v0.10.0`
  cli/cmd/plugin/standalone-cluster/main.go
  hack/release/package-release.sh
Labels: area/release-eng, cla-not-required, area/cli

#2576 Rename e2e pipelines to be more precise that they test workload clusters
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  Makefile
  test/README.md
  test/vsphere/vsphere-management-and-workload-cluster-e2e-test.md
Labels: area/docs, area/release-eng, cla-not-required

#2582 Save TF artifacts and artifacts-admin for GA and Non-GA Releases
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Labels: cla-not-required

#2571 CSI 2.4.0 template patch
  addons/packages/vsphere-csi/2.4.0/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, cla-not-required

#2590 Fix CSI 2.4.0 package.yaml due to a accidental deletion
  addons/packages/vsphere-csi/2.4.0/package.yaml
Labels: area/packages, cla-not-required

#2566 Fix ako statefulset upgrade issue
  addons/packages/load-balancer-and-ingress-service/1.4.3/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-statefulset.yaml
Labels: area/packages, cla-not-required

#2596 addons/packages/pinniped: bump to Dex v2.30.2
  addons/packages/pinniped/0.12.0/bundle/.imgpkg/images.yml
  addons/packages/pinniped/0.12.0/bundle/config/overlay/dex-deployment.yaml
Labels: area/packages, cla-not-required

#2587 [E2E][Azure] Update Azure VM Image Billing Plan SKU
  test/azure/deploy-management-and-workload-cluster.sh
Labels: area/release-eng, cla-not-required

#2564 docs(README): Add github workflow CI badges
  README.md
Labels: area/docs, cla-not-required

#2510 Collect diagnostics data from E2E pipelines for vSphere, Azure and AWS
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-aws-standalone-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-standalone-cluster.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-standalone-cluster.yaml
  test/aws/deploy-tce-managed.sh
  test/aws/deploy-tce-standalone.sh
  test/azure/deploy-management-and-workload-cluster.sh
  test/azure/deploy-standalone-cluster.sh
  test/util/utils.sh
  test/vsphere/run-tce-vsphere-management-and-workload-cluster.sh
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: kind/test-release, area/release-eng

#2589 add gatekeeper 3.7.0
  addons/packages/gatekeeper/3.7.0/README.md
  addons/packages/gatekeeper/3.7.0/bundle/.imgpkg/bundle.yml
  addons/packages/gatekeeper/3.7.0/bundle/.imgpkg/images.yml
  addons/packages/gatekeeper/3.7.0/bundle/config/overlay/overlay-changerules.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/overlay/overlay-deletepsp.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/overlay/overlay-deployment.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/overlay/overlay-namespace.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/upstream/gatekeeper.yaml
  addons/packages/gatekeeper/3.7.0/bundle/config/values.yaml
  addons/packages/gatekeeper/3.7.0/bundle/vendir.lock.yml
  addons/packages/gatekeeper/3.7.0/bundle/vendir.yml
  addons/packages/gatekeeper/3.7.0/package.yaml
  test/gatekeeper/test-mutations.yaml
  test/gatekeeper/test-pod.yaml
Labels: area/packages, area/docs, area/release-eng

#2505 Add knative-serving v0.26.0 and v1.0.0 packages
  addons/packages/knative-serving/0.26.0/README.md
  addons/packages/knative-serving/0.26.0/bundle/.imgpkg/bundle.yml
  addons/packages/knative-serving/0.26.0/bundle/.imgpkg/images.yml
  addons/packages/knative-serving/0.26.0/bundle/config/overlays/assertions.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/overlays/overlay-config-contour.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/overlays/overlay-config-domain.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/overlays/overlay-config-tls.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/upstream/cert-manager/net-certmanager.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/upstream/contour/net-contour.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/upstream/serving/serving-core.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/upstream/serving/serving-crds.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/upstream/serving/serving-default-domain.yaml
  addons/packages/knative-serving/0.26.0/bundle/config/values.yaml
  addons/packages/knative-serving/0.26.0/bundle/vendir.lock.yml
  addons/packages/knative-serving/0.26.0/bundle/vendir.yml
  addons/packages/knative-serving/0.26.0/package.yaml
  addons/packages/knative-serving/1.0.0/README.md
  addons/packages/knative-serving/1.0.0/bundle/.imgpkg/bundle.yml
  addons/packages/knative-serving/1.0.0/bundle/.imgpkg/images.yml
  addons/packages/knative-serving/1.0.0/bundle/config/overlays/assertions.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/overlays/overlay-config-contour.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/overlays/overlay-config-domain.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/overlays/overlay-config-tls.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/upstream/cert-manager/net-certmanager.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/upstream/contour/net-contour.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/upstream/serving/serving-core.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/upstream/serving/serving-crds.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/upstream/serving/serving-default-domain.yaml
  addons/packages/knative-serving/1.0.0/bundle/config/values.yaml
  addons/packages/knative-serving/1.0.0/bundle/vendir.lock.yml
  addons/packages/knative-serving/1.0.0/bundle/vendir.yml
  addons/packages/knative-serving/1.0.0/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2602 Add mtu configuration to calico 3.19.1
  addons/packages/calico/3.19.1/README.md
  addons/packages/calico/3.19.1/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.19.1/bundle/config/values.yaml
  addons/packages/calico/3.19.1/package.yaml
  addons/packages/calico/3.19.1/test/calico_test.go
Labels: area/packages, area/docs, cla-not-required

#2605 Add verification for mtu in calico 3.19.1
  addons/packages/calico/3.19.1/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.19.1/package.yaml
Labels: area/packages, cla-not-required

#2546 Doc- Update vsphere version in docs.
  docs/site/content/docs/latest/vsphere.md
Labels: area/docs

#2570 add script and make target to trigger release gate pipelines
  Makefile
  hack/ensure-dependencies.sh
  hack/ensure-deps/ensure-gh-cli.sh
  hack/fix-for-ci-build.sh
  hack/release/trigger-release-gate-pipelines.sh
Labels: area/release-eng, cla-not-required

#2600 Adding Google Site Verification for Google Indexing
  docs/site/themes/template/layouts/_default/baseof.html
Labels: area/docs, cla-not-required

#2208 Run package tests using make e2e-test
  addons/packages/external-dns/0.8.0/test/Makefile
  test/e2e/Readme.md
  test/e2e/e2e.go
  test/e2e/e2e_test.go
  test/e2e/install.go
  test/e2e/testdata/install_dependencies.go
  test/e2e/utils/cli.go
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#2607 Doc- Add AWS profile limitation to headless install doc
  docs/site/content/docs/latest/aws.md
  docs/site/content/docs/latest/headless-install.md
Labels: area/docs

#2615 Remove latest folder from TF GCP buckets
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#2618 addons/packages/pinniped: dedup HTTP proxy env vars
  addons/packages/pinniped/0.12.0/bundle/config/overlay/pinniped-deployment.yaml
Labels: area/packages, cla-not-required

#2604 Doc - Add doc package creation example
  docs/site/content/docs/assets/imgpkg-desc.md
  docs/site/content/docs/assets/kbld-desc.md
  docs/site/content/docs/assets/oci-desc.md
  docs/site/content/docs/assets/package-description.md
  docs/site/content/docs/assets/package-repository.md
  docs/site/content/docs/assets/prereq-pkg-creation.md
  docs/site/content/docs/assets/vendir-desc.md
  docs/site/content/docs/assets/ytt-desc.md
  docs/site/content/docs/latest/glossary.md
  docs/site/content/docs/latest/package-creation-step-by-step.md
  docs/site/content/docs/latest/packages-create-example.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs

#2621 Add update strategy annotation for calico controllers
  addons/packages/calico/3.11.3/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.11.3/package.yaml
  addons/packages/calico/3.11.3/test/calico_test.go
  addons/packages/calico/3.19.1/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.19.1/package.yaml
  addons/packages/calico/3.19.1/test/calico_test.go
Labels: area/packages, cla-not-required

#2593 Collect additional object data
  cli/cmd/plugin/diagnostics/pkg/collect_bootstrap.go
  cli/cmd/plugin/diagnostics/scripts/bootstrap_cluster.star
  cli/cmd/plugin/diagnostics/scripts/lib.star
  cli/cmd/plugin/diagnostics/scripts/management_cluster.star
  cli/cmd/plugin/diagnostics/scripts/standalone_cluster.star
  cli/cmd/plugin/diagnostics/scripts/workload_cluster.star
Labels: cla-not-required, area/cli
