Repository vmware-tanzu/community-edition, pull requests merged in 2022-11, with the labels that each got.

#5508 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5506 Fix incorrect CCM image version in the oracle-cpi package.
  addons/packages/oracle-cpi/1.22.1/bundle/.imgpkg/images.yml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-cloud-controller-manager.yaml
  addons/packages/oracle-cpi/1.22.1/package.yaml
Labels: cla-not-required, area/packages

#5504 allow envoy to be run as deployment
  addons/packages/contour/1.22.0/README.md
  addons/packages/contour/1.22.0/bundle/config/contour.star
  addons/packages/contour/1.22.0/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.22.0/bundle/config/schema.yaml
  addons/packages/contour/1.22.0/package.yaml
  addons/packages/contour/1.22.0/test/go.mod
  addons/packages/contour/1.22.0/test/unittest/contour_test.go
  addons/packages/contour/1.22.0/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#5523 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5494 bump ako to 1.8.1
  addons/packages/load-balancer-and-ingress-service/1.8.1/README.md
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/.imgpkg/bundle.yml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/kapp-config.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/gatewayclasses.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/gateways.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/hostrules.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/httprules.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/multiclusteringresses.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/serviceimports.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/values.star
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/vendir.lock.yml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/vendir.yml
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_0.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_1.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_10.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_11.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_12.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_13.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_14.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_15.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_16.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_17.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_18.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_19.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_2.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_20.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_21.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_22.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_23.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_3.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_4.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_5.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_6.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_7.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_8.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/avi_setup_9.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/vcenter_ova_upload_0.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/vcenter_ova_upload_1.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/images/virtual_svc_on_avi_controller.png
  addons/packages/load-balancer-and-ingress-service/1.8.1/package.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/Makefile
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/README.md
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/go.mod
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/go.sum
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/load_balancer_and_ingress_service_suite_test.go
  addons/packages/load-balancer-and-ingress-service/1.8.1/test/load_balancer_and_ingress_service_test.go
Labels: cla-not-required, area/docs, area/packages

#5528 ako-1.8.1: add missing statefulset config change
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-statefulset.yaml
Labels: cla-not-required, area/packages

#5532 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5521 bump antrea to 1.7.1
  addons/packages/antrea/1.7.1/README.md
  addons/packages/antrea/1.7.1/bundle/.imgpkg/bundle.yaml
  addons/packages/antrea/1.7.1/bundle/.imgpkg/images.yml
  addons/packages/antrea/1.7.1/bundle/config/kapp-config.yaml
  addons/packages/antrea/1.7.1/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.7.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/antrea/1.7.1/bundle/config/schema.yaml
  addons/packages/antrea/1.7.1/bundle/config/upstream/antrea.yaml
  addons/packages/antrea/1.7.1/bundle/config/values.star
  addons/packages/antrea/1.7.1/bundle/config/values.yaml
  addons/packages/antrea/1.7.1/bundle/vendir.lock.yml
  addons/packages/antrea/1.7.1/bundle/vendir.yml
  addons/packages/antrea/1.7.1/package.yaml
  addons/packages/antrea/1.7.1/test/Makefile
  addons/packages/antrea/1.7.1/test/README.md
  addons/packages/antrea/1.7.1/test/antrea_suite_test.go
  addons/packages/antrea/1.7.1/test/antrea_test.go
  addons/packages/antrea/1.7.1/test/go.mod
  addons/packages/antrea/1.7.1/test/go.sum
Labels: cla-not-required, area/docs, area/packages

#5533 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5524 bump ako operator 1.7.0
  addons/packages/ako-operator/1.7.0/README.md
  addons/packages/ako-operator/1.7.0/bundle/.imgpkg/bundle.yml
  addons/packages/ako-operator/1.7.0/bundle/.imgpkg/images.yml
  addons/packages/ako-operator/1.7.0/bundle/config/kapp-config.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/overlays/overlay-secret.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/akodeploymentconfig.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/aviinfrasettings.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/secret.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/values.star
  addons/packages/ako-operator/1.7.0/bundle/config/values.yaml
  addons/packages/ako-operator/1.7.0/bundle/vendir.lock.yml
  addons/packages/ako-operator/1.7.0/bundle/vendir.yml
  addons/packages/ako-operator/1.7.0/images/virtual_svc_on_avi_controller.png
  addons/packages/ako-operator/1.7.0/package.yaml
  addons/packages/ako-operator/1.7.0/test/Makefile
  addons/packages/ako-operator/1.7.0/test/README.md
  addons/packages/ako-operator/1.7.0/test/ako_operator_suite_test.go
  addons/packages/ako-operator/1.7.0/test/ako_operator_test.go
  addons/packages/ako-operator/1.7.0/test/go.mod
  addons/packages/ako-operator/1.7.0/test/go.sum
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/crds/httprules.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.1/bundle/config/values.yaml
Labels: cla-not-required, area/docs, area/packages

#5537 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5529 Remove the default empty value from configMap of kube-vip-cloud-provider
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/upstream/kube-vip-cloud-provider/configmap.yaml
Labels: cla-not-required, area/packages

#5538 fix ako operator 1.7.0 image
  addons/packages/ako-operator/1.7.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/deployment.yaml
Labels: cla-not-required, area/packages

#5539 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5540 Fix the AKOO version
  addons/packages/ako-operator/1.7.0/README.md
  addons/packages/ako-operator/1.7.0/package.yaml
  addons/packages/ako-operator/1.7.0/test/ako_operator_test.go
  addons/packages/ako-operator/1.7.0/test/go.mod
Labels: cla-not-required, area/docs, area/packages

#5544 Update fields for antrea 1.7.1
  addons/packages/antrea/1.7.1/README.md
  addons/packages/antrea/1.7.1/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.7.1/bundle/config/schema.yaml
  addons/packages/antrea/1.7.1/bundle/config/values.yaml
  addons/packages/antrea/1.7.1/package.yaml
  addons/packages/antrea/1.7.1/test/antrea_suite_test.go
  addons/packages/antrea/1.7.1/test/antrea_test.go
Labels: cla-not-required, area/docs, area/packages

#5549 Remove vsphere-config-secret mounted in CSI node daemonset from overlay for CSI v2.6.2
  addons/packages/vsphere-csi/2.6.2/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.6.2/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.6.2/package.yaml
Labels: area/packages

#5478 bumping prometheus to v2.37.0
  addons/packages/prometheus/2.37.0/README.md
  addons/packages/prometheus/2.37.0/bundle/.imgpkg/bundle.yaml
  addons/packages/prometheus/2.37.0/bundle/.imgpkg/images.yml
  addons/packages/prometheus/2.37.0/bundle/config/certificates.lib.yaml
  addons/packages/prometheus/2.37.0/bundle/config/globals.star
  addons/packages/prometheus/2.37.0/bundle/config/helpers.star
  addons/packages/prometheus/2.37.0/bundle/config/kinds.lib.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-alertmanager.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-ingress-secret.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-kube-state-metrics.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-node-exporter.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-prometheus-httpproxy.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-prometheus.yaml
  addons/packages/prometheus/2.37.0/bundle/config/overlays/overlay-pushgateway.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/clusterrole.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/clusterrolebinding.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/deployment.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/pvc.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/secret.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/service.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/alertmanager/serviceaccount.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/kube-state-metrics/clusterrole.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/kube-state-metrics/clusterrolebinding.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/kube-state-metrics/deployment.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/kube-state-metrics/service.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/kube-state-metrics/serviceaccount.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/clusterolebinding.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/clusterrole.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/daemonset.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/psp.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/service.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/node-exporter/serviceaccount.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/clusterrole.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/clusterrolebinding.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/configmap.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/deployment.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/namespace.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/pvc.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/service.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/prometheus/serviceaccount.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/pushgateway/clusterrole.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/pushgateway/clusterrolebinding.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/pushgateway/deployment.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/pushgateway/service.yaml
  addons/packages/prometheus/2.37.0/bundle/config/upstream/pushgateway/serviceaccount.yaml
  addons/packages/prometheus/2.37.0/bundle/config/values.yaml
  addons/packages/prometheus/2.37.0/bundle/kbld-config.yml
  addons/packages/prometheus/2.37.0/bundle/vendir.lock.yml
  addons/packages/prometheus/2.37.0/bundle/vendir.yml
  addons/packages/prometheus/2.37.0/package.yaml
Labels: area/docs, area/packages

#5545 Bump secretgen to version 0.11.1
  addons/packages/secretgen-controller/0.11.1/README.md
  addons/packages/secretgen-controller/0.11.1/package.yml
  addons/packages/secretgen-controller/vendir.lock.yml
  addons/packages/secretgen-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#5546 Bump secretgen to 0.9.3
  addons/packages/secretgen-controller/0.9.3/README.md
  addons/packages/secretgen-controller/0.9.3/bundle/.imgpkg/bundle.yml
  addons/packages/secretgen-controller/0.9.3/bundle/.imgpkg/images.yml
  addons/packages/secretgen-controller/0.9.3/bundle/config/overlays/change-namespace.yaml
  addons/packages/secretgen-controller/0.9.3/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/secretgen-controller/0.9.3/bundle/config/schema.yaml
  addons/packages/secretgen-controller/0.9.3/bundle/config/upstream/secretgen-controller.yaml
  addons/packages/secretgen-controller/0.9.3/bundle/config/values.star
  addons/packages/secretgen-controller/0.9.3/bundle/config/values.yaml
  addons/packages/secretgen-controller/0.9.3/bundle/vendir.lock.yml
  addons/packages/secretgen-controller/0.9.3/bundle/vendir.yml
  addons/packages/secretgen-controller/0.9.3/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5547 Bump kapp-controller to 0.38.6
  addons/packages/kapp-controller/0.38.6/README.md
  addons/packages/kapp-controller/0.38.6/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.38.6/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.38.6/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.38.6/bundle/config/values.star
  addons/packages/kapp-controller/0.38.6/bundle/config/values.yaml
  addons/packages/kapp-controller/0.38.6/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.38.6/bundle/vendir.yml
  addons/packages/kapp-controller/0.38.6/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5548 Bump kc to 0.41.3
  addons/packages/kapp-controller/0.41.3/README.md
  addons/packages/kapp-controller/0.41.3/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.41.3/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.41.3/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.41.3/bundle/config/values.star
  addons/packages/kapp-controller/0.41.3/bundle/config/values.yaml
  addons/packages/kapp-controller/0.41.3/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.41.3/bundle/vendir.yml
  addons/packages/kapp-controller/0.41.3/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5551 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5552 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5554 update ako operator 1.7.0 rbac
  addons/packages/ako-operator/1.7.0/bundle/config/upstream/akooperator/static.yaml
Labels: cla-not-required, area/packages

#5557 Bump kapp-controller to 0.30.3
  addons/packages/kapp-controller/0.30.3/README.md
  addons/packages/kapp-controller/0.30.3/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.30.3/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.30.3/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.30.3/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.30.3/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.30.3/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.3/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.30.3/bundle/config/values.star
  addons/packages/kapp-controller/0.30.3/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.3/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.30.3/bundle/vendir.yml
  addons/packages/kapp-controller/0.30.3/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5558 Change --package-name to --package in external-dns e2e test
  addons/packages/external-dns/0.12.2/test/e2e/externaldns_test.go
Labels: cla-not-required, area/packages

#5563 fix typo in bundle sha
  addons/packages/contour/1.22.0/package.yaml
Labels: cla-not-required, area/packages

#5566 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5567 Remove unused kind overly for antrea 1.7.1
  addons/packages/antrea/1.7.1/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.7.1/package.yaml
Labels: cla-not-required, area/packages

#5568 Fix antrea 1.7.1 kapp label
  addons/packages/antrea/1.7.1/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.7.1/package.yaml
Labels: cla-not-required, area/packages

#5576 Bump secretgen to 0.11.2
  addons/packages/secretgen-controller/0.11.2/README.md
  addons/packages/secretgen-controller/0.11.2/package.yml
  addons/packages/secretgen-controller/vendir.lock.yml
  addons/packages/secretgen-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages
