Repository vmware-tanzu/community-edition, pull requests merged in 2022-08, with the labels that each got.

#5175 Update public cloud csi's image digest
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/package.yaml
Labels: cla-not-required, area/packages

#5173 Fix ako-operator unit test and add assertions for non-empty avi_nsxt_…
  addons/packages/ako-operator/1.6.0/test/ako_operator_test.go
Labels: cla-not-required, area/packages

#5162 Fix notify failed unmanaged cluster
  cli/cmd/plugin/ui/server/handlers/unmanaged.go
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/UnmanagedClusterCard/UnmanagedClusterCard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/UnmanagedClusterCard/UnmanagedClusterCard.tsx
Labels: cla-not-required, area/cli

#5155 UI Plugin: refactor wizard component and azure worflow
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Input/TextInputWithError.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Select/SpinnerSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/UseUpdateTabStatus.hooks.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/azure.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Azure.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/DockerManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-basic/DockerManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-basic/DockerManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-cluster-settings-step/DockerClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-advanced/UnmanagedClusterAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/UnmanagedClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#5185 UI plugin: Adds review step for vSphere MC
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigGrid.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigReview.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
Labels: cla-not-required, area/cli

#5188 UI Plugin: sets default node server port to 8080
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/conf/appConfig.js
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/App.constants.tsx
Labels: cla-not-required, area/cli, area/ui

#5098 UI Plugin: Store constants for unmanaged cluster
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/unmanaged.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/ClusterProtocols.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/CniProviders.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/Deployment.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/K8sProviders.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/Providers.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.umc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/UnmanagedCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/unmanaged.defaults.tsx
Labels: cla-not-required, area/cli

#5190 UI plugin: Updated wizard title typography
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-cluster-settings-step/DockerClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
Labels: cla-not-required, area/cli

#5189 UI plugin: adds AWS review config step
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigGrid.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
Labels: cla-not-required, area/cli

#5191 UI plugin: Adds Azure MC Basic config review page
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
Labels: cla-not-required, area/cli

#5199 add refresh button
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
Labels: cla-not-required, area/cli

#5203 Update references to TCE as a Kubernetes platform
  GOVERNANCE.md
  README.md
  SECURITY.md
  docs/site/content/_index.md
  docs/site/content/docs/edge/_index.md
  docs/site/content/packages/_index.html
  docs/site/themes/template/layouts/index.html
  docs/site/themes/template/layouts/partials/faqs.html
  docs/site/themes/template/layouts/partials/hero.html
  extensions/docker-desktop/ui/src/views/IntroPanel/Intro.tsx
Labels: cla-not-required, area/docs

#5206 fix prometheus package openapi defination error
  addons/packages/prometheus/2.36.2/README.md
  addons/packages/prometheus/2.36.2/package.yaml
Labels: owner/packages, cla-not-required, area/docs, area/packages

#5209 Add avi controller version annotation to ako statefulset
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.2/package.yaml
Labels: cla-not-required, area/packages

#5198 Unmanaged tab validation fixes
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
Labels: cla-not-required, area/cli

#5214 UI Plugin: Deploy progress cleanup/responsiveness
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
Labels: area/cli, area/ui

#4999 Add 0.10.3 of secretgen-controller
  addons/packages/secretgen-controller/0.10.3/README.md
  addons/packages/secretgen-controller/0.10.3/package.yml
  addons/packages/secretgen-controller/vendir.lock.yml
  addons/packages/secretgen-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#5218 UI plugin: config review truncation+tooltip
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigGrid.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/TooltipContent/TooltipContent.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/TooltipDefault.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
Labels: cla-not-required, area/cli

#5195 Retrieve discovery data
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigReview.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Resources.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/Aws.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/AwsResources.reducer.tsx
Labels: cla-not-required, area/cli

#5228 fix node-exporter clusterrole podsecuritypolicies error
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/clusterrole.yaml
Labels: cla-not-required, area/packages

#5226 Add rebase rules for cert-manager v1.7.2
  addons/packages/cert-manager/1.7.2/bundle/config/kapp-config.yaml
  addons/packages/cert-manager/1.7.2/package.yaml
Labels: cla-not-required, area/packages

#5225 Orchestrator
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5040 UI plugin: Updated side navigation links
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
Labels: cla-not-required, area/cli

#5242 rename all form field name with enum
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/aws.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/azure.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/docker.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/dockerDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Azure.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-basic/DockerManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-cluster-settings-step/DockerClusterSettings.tsx
Labels: cla-not-required, area/cli

#5233 Ec2keypair
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.test.tsx
Labels: cla-not-required, area/cli

#5244 fix Warning: Cannot update a component * while rendering a different …
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
Labels: cla-not-required, area/cli

#5243 Clear previous credentials
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Input/TextInputWithError.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5248 UI plugin: fix admins image on cluster inventory pages
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli

#5249 move the stores from global stores directory to provider store directory
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/dockerDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/store/Aws.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/AzureManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/store/Azure.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/DockerManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-basic/DockerManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-cluster-settings-step/DockerClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/store/Docker.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/ThumbprintDisplay.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/ThumbprintDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOsImageUtil.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/Aws.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/AwsResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/VsphereResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-advanced/UnmanagedClusterAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli

#5253 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5252 UI Plugin: add theme toggle service and component
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ThemeToggle/ThemeToggle.component.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ThemeToggle/ThemeToggle.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Themes.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
Labels: cla-not-required, area/cli, area/ui

#5256 UI Plugin: fixed tab status issue
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
Labels: cla-not-required, area/cli

#5257 implement authentication before choosing region
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5254 UI Plugin: Add light mode fixes for logo css/refactoring
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/aws-light.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/tce-logo-and-title-light.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/logosAndImages.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Provider.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/AzureManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/DockerManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli, area/ui

#5083 Docs: App Toolkit fix readme table formatting
  addons/packages/app-toolkit/0.2.0/README.md
Labels: cla-not-required, area/docs, area/packages

#5224 Update aws-clusters.md
  docs/site/content/docs/edge/assets/aws-clusters.md
Labels: area/docs

#5255 Add init node profile
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/aws.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/store/Aws.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/default-orchestrator/DefaultOrchestrator.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#5274 Fix errors caused by Rename variables
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
Labels: cla-not-required, area/cli

#5279 UI Plugin: CSS/Layout cleanup based on review with UX
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/vars.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployTimeline/DeployTimeline.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/UnmanagedClusterCard/UnmanagedClusterCard.tsx
Labels: cla-not-required, area/ui

#5280 added fallback instance types
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/aws.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
Labels: cla-not-required, area/cli

#5273 UI plugin refactors:
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigGrid.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Input/TextInputWithError.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Select/SpinnerSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/TreeSelect/TreeSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Array.util.test.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Array.util.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Error.util.test.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Error.util.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Reducer.utils.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Resources.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Resources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/ResourcesWithDefault.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/store/Aws.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/azure-orchestrator/AzureOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/store/Azure.store.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/default-orchestrator/DefaultOrchestrator.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOsImageUtil.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/Aws.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/aws/AwsResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/azure/Azure.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/azure/AzureResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/Vsphere.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/VsphereResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#5289 fixed wizard tab issue
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployTimeline/DeployTimeline.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.tsx
Labels: cla-not-required, area/cli

#5278 Enables ExternalDNS observability via pod labels
  addons/packages/external-dns/0.11.0/README.md
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-00-deployment.yaml
  addons/packages/external-dns/0.11.0/bundle/config/schema.yaml
  addons/packages/external-dns/0.11.0/package.yaml
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-observability.yaml
Labels: cla-not-required, area/docs, area/packages

#5296 auto-generated - update package documentation
  docs/site/content/docs/edge/package-readme-external-dns-0.11.0.md
  docs/site/data/docs/main-toc.yml
Labels: cla-not-required

#5297 Add Contour 1.22.0
  addons/packages/contour/1.22.0/README.md
  addons/packages/contour/1.22.0/bundle/.imgpkg/bundle.yaml
  addons/packages/contour/1.22.0/bundle/.imgpkg/images.yml
  addons/packages/contour/1.22.0/bundle/config/certificates.lib.yaml
  addons/packages/contour/1.22.0/bundle/config/contour.star
  addons/packages/contour/1.22.0/bundle/config/overlays/add-certmanager-certs.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/remove-certgen-job.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/update-contour-configmap.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/update-crds.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.22.0/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.22.0/bundle/config/schema.yaml
  addons/packages/contour/1.22.0/bundle/config/upstream/contour.yaml
  addons/packages/contour/1.22.0/bundle/vendir.lock.yml
  addons/packages/contour/1.22.0/bundle/vendir.yml
  addons/packages/contour/1.22.0/package.yaml
  addons/packages/contour/1.22.0/test/Makefile
  addons/packages/contour/1.22.0/test/go.mod
  addons/packages/contour/1.22.0/test/go.sum
  addons/packages/contour/1.22.0/test/tools.go
  addons/packages/contour/1.22.0/test/unittest/contour_suite_test.go
  addons/packages/contour/1.22.0/test/unittest/contour_test.go
  addons/packages/contour/1.22.0/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#5300 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5301 UI plugin: vSphere defaults
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/vSphereDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOrchestrator.service.tsx
Labels: cla-not-required, area/cli

#5302 UI plugin: adds segmentation to resource storage
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Resources.reducer.tsx
Labels: cla-not-required, area/cli

#5310 UI Plugin: Additional cleanup for css consistency, layout updates and config review css
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/vars.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigReview.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-cluster-settings-step/DockerClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReviewStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
Labels: cla-not-required, area/cli, area/ui

#5314 UI plugin: Tweaks to ensure vSphere payload for MC workflow
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/vSphereDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereNodeProfileUtil.tsx
Labels: cla-not-required, area/cli

#5315 UI plugin: Ensures initial selected values are recorded in validation framework (vSphere)
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/TreeSelect/TreeSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
Labels: cla-not-required, area/cli

#5317 UI plugin: removes lint-based complaints
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-basic/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-common/UnmanagedClusterCard/UnmanagedClusterCard.tsx
Labels: cla-not-required, area/cli

#5323 UI Plugin: Update React and Clarity versions
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/docker-mc-common/mc-prerequisite-step/McPrerequisiteStep.test.tsx
Labels: cla-not-required, area/cli, area/ui

#5324 Add external-dns package version 0.12.2
  addons/packages/external-dns/0.12.0/DEV.md
  addons/packages/external-dns/0.12.0/README.md
  addons/packages/external-dns/0.12.0/bundle/.imgpkg/bundle.yml
  addons/packages/external-dns/0.12.0/bundle/.imgpkg/images.yml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/assertions.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-00-deployment.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-aws-secret.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-azure-secret.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-clusterrole.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/external-dns/0.12.0/bundle/config/overlays/overlay-serviceaccount.yaml
  addons/packages/external-dns/0.12.0/bundle/config/schema.yaml
  addons/packages/external-dns/0.12.0/bundle/config/upstream/external-dns-clusterrole.yaml
  addons/packages/external-dns/0.12.0/bundle/config/upstream/external-dns-clusterrolebinding.yaml
  addons/packages/external-dns/0.12.0/bundle/config/upstream/external-dns-deployment.yaml
  addons/packages/external-dns/0.12.0/bundle/config/upstream/external-dns-serviceaccount.yaml
  addons/packages/external-dns/0.12.0/bundle/kbld-config.yml
  addons/packages/external-dns/0.12.0/bundle/vendir.lock.yml
  addons/packages/external-dns/0.12.0/bundle/vendir.yml
  addons/packages/external-dns/0.12.0/images/create-ns-record.png
  addons/packages/external-dns/0.12.0/images/create-policy-step1.png
  addons/packages/external-dns/0.12.0/images/create-policy-step2.png
  addons/packages/external-dns/0.12.0/images/create-user-step1.png
  addons/packages/external-dns/0.12.0/images/create-user-step2.png
  addons/packages/external-dns/0.12.0/images/create-user-step3.png
  addons/packages/external-dns/0.12.0/images/create-user-step4.png
  addons/packages/external-dns/0.12.0/package.yaml
  addons/packages/external-dns/0.12.0/test/Makefile
  addons/packages/external-dns/0.12.0/test/README.md
  addons/packages/external-dns/0.12.0/test/e2e/externaldns_suite_test.go
  addons/packages/external-dns/0.12.0/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/bind-deployment.yaml
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/custom-data-values.yaml
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/custom-overlay-and-schema-secret.yaml
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/dnsutils-pod.yaml
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.12.0/test/e2e/fixtures/kuard-deployment.yaml
  addons/packages/external-dns/0.12.0/test/go.mod
  addons/packages/external-dns/0.12.0/test/go.sum
  addons/packages/external-dns/0.12.0/test/tools/tools.go
  addons/packages/external-dns/0.12.0/test/unittest/externaldns_suite_test.go
  addons/packages/external-dns/0.12.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/aws-secret.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/azure-configuration.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/azure-minimal-configuration.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-args-no-provider.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-args-no-source.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-env-vars.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-observability.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-security-context.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/deployment-volumes.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/minimal-configuration.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/namespace.yaml
  addons/packages/external-dns/0.12.0/test/unittest/fixtures/values/serviceaccount-annotations.yaml
Labels: cla-not-required, area/docs, area/packages

#5318 Update AKO 1.7.2 AKOO 1.6.0 tolerations and nodeselector and add CPI 1.24.0
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/vsphere-cpi/1.24.0/README.md
  addons/packages/vsphere-cpi/1.24.0/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.24.0/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/values.star
  addons/packages/vsphere-cpi/1.24.0/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.24.0/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.24.0/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.24.0/package.yaml
  addons/packages/vsphere-cpi/1.24.0/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.24.0/test/Makefile
  addons/packages/vsphere-cpi/1.24.0/test/README.md
  addons/packages/vsphere-cpi/1.24.0/test/go.mod
  addons/packages/vsphere-cpi/1.24.0/test/go.sum
  addons/packages/vsphere-cpi/1.24.0/test/tools/tools.go
  addons/packages/vsphere-cpi/1.24.0/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.24.0/test/vsphere_cpi_test.go
Labels: cla-not-required, area/docs, area/packages
