Repository vmware-tanzu/community-edition, pull requests merged in 2022-07, with the labels that each got.

#4948 update metrics-server v0.6.1 package sha
  addons/packages/metrics-server/0.6.1/package.yaml
Labels: cla-not-required, area/packages

#4949 update metrics-server v0.6.1 package sha
  addons/packages/metrics-server/0.6.1/package.yaml
Labels: cla-not-required, area/packages

#4928 fix YouTube playlist title on Resources Page
  docs/site/themes/template/layouts/_default/resources.html
Labels: area/docs

#4934 Update whereabouts and multus readme to match the new template
  addons/packages/multus-cni/3.7.1/README.md
  addons/packages/multus-cni/3.8.0/README.md
  addons/packages/whereabouts/0.5.0/README.md
  addons/packages/whereabouts/0.5.1/README.md
Labels: cla-not-required, area/docs, area/packages

#4966 Fix Antrea 1.5.3 FlowExporter parameters
  addons/packages/antrea/1.5.3/README.md
  addons/packages/antrea/1.5.3/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.5.3/bundle/config/schema.yaml
  addons/packages/antrea/1.5.3/bundle/config/values.yaml
  addons/packages/antrea/1.5.3/package.yaml
  addons/packages/antrea/1.5.3/test/antrea_suite_test.go
  addons/packages/antrea/1.5.3/test/antrea_test.go
Labels: cla-not-required, area/docs, area/packages

#4967 add fluent-1.8.15 && 1.9.5
  addons/packages/fluent-bit/1.8.15/README.md
  addons/packages/fluent-bit/1.8.15/bundle/.imgpkg/bundle.yml
  addons/packages/fluent-bit/1.8.15/bundle/.imgpkg/images.yml
  addons/packages/fluent-bit/1.8.15/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/overlays/overlay-daemonset.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/upstream/fluentbit/configmap.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/upstream/fluentbit/daemonset.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/upstream/fluentbit/namespace.yaml
  addons/packages/fluent-bit/1.8.15/bundle/config/upstream/fluentbit/rbac.yml
  addons/packages/fluent-bit/1.8.15/bundle/config/values.yaml
  addons/packages/fluent-bit/1.8.15/bundle/vendir.lock.yml
  addons/packages/fluent-bit/1.8.15/bundle/vendir.yml
  addons/packages/fluent-bit/1.8.15/package.yaml
  addons/packages/fluent-bit/1.9.5/README.md
  addons/packages/fluent-bit/1.9.5/bundle/.imgpkg/bundle.yml
  addons/packages/fluent-bit/1.9.5/bundle/.imgpkg/images.yml
  addons/packages/fluent-bit/1.9.5/bundle/config/overlay/overlay-configmap.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/overlay/overlay-daemonset.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/overlay/overlay-namespace.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/upstream/fluentbit/configmap.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/upstream/fluentbit/daemonset.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/upstream/fluentbit/namespace.yaml
  addons/packages/fluent-bit/1.9.5/bundle/config/upstream/fluentbit/rbac.yml
  addons/packages/fluent-bit/1.9.5/bundle/config/values.yaml
  addons/packages/fluent-bit/1.9.5/bundle/vendir.lock.yml
  addons/packages/fluent-bit/1.9.5/bundle/vendir.yml
  addons/packages/fluent-bit/1.9.5/package.yaml
  addons/packages/fluent-bit/metadata.yaml
  addons/repos/main.yaml
Labels: cla-not-required, area/docs, area/packages

#4952 UI plugin: fixes to vSphere MC credentials step
  cli/cmd/plugin/ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
Labels: cla-not-required, area/docs, area/cli

#4940 finished the request payload for the create API
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/azure.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Azure.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/AzureManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/login/Login.tsx
Labels: cla-not-required, area/cli

#4972 UI Plugin: Integrate Contextual Help Framework - Landing page and Getting Started page
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/data.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/fuse-index.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/aws-intro.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/demo.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/docker-daemon-prerequisite.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/docker-daemon.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/managed-clusters.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/management-clusters.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/planning-deployment.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/supported-infrastructure-providers.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/tanzu-packages.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/troubleshooting-cluster-creation.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/unmanaged-clusters.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/workload-clusters.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tkg/networking/kubernetes-networking.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tkg/networking/proxy-configuration.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/panel-slide-r-l-solid.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/animations/slide-left.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/animations/slide-right.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.utils.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/hooks/Fuse.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/hooks/UseFuseSearch.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterInventory.tsx
Labels: cla-not-required, area/cli

#4975 Create Azure Workflow Unit Test
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/login/Login.tsx
Labels: cla-not-required, area/cli

#4979 Expose http proxy for aws ebs csi driver
  addons/packages/aws-ebs-csi-driver/1.8.0/README.md
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/overlays/update-aws-ebs-csi-driver.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/schema.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/values.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/test/aws-ebs-csi-driver_test.go
Labels: cla-not-required, area/docs, area/packages

#4973 Advanced workflow Demo Prep
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/data.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/fuse-index.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/demo.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.umc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
Labels: cla-not-required, area/cli

#4971 docs: Add GOVC/PowerCLI examples to ref-vsphere.md
  docs/site/content/docs/edge/ref-vsphere.md
Labels: cla-not-required, area/docs

#4981 Tce UI poc
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/AppConfiguration.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli

#4916 UI plugin: Provider index refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.tsx
Labels: cla-not-required, area/cli

#4961 Support azure disk csi driver
  addons/packages/azuredisk-csi-driver/1.19.0/README.md
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/.imgpkg/images.yml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/overlay/update-azuredisk-csi-driver.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/LICENSE
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/crd-csi-snapshot.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/csi-azuredisk-controller.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/csi-azuredisk-driver.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/csi-azuredisk-node.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/csi-snapshot-controller.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/rbac-csi-azuredisk-controller.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/rbac-csi-azuredisk-node.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/rbac-csi-snapshot-controller.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/values.star
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/values.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/vendir.lock.yml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/vendir.yml
  addons/packages/azuredisk-csi-driver/1.19.0/package.yaml
  addons/packages/azuredisk-csi-driver/metadata.yaml
Labels: cla-not-required, area/docs, area/packages

#4984 Update aws ebs csi driver schema
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/schema.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
Labels: cla-not-required, area/packages

#4990 UI Plugin: fixed error message issue
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#4992 updated community meetings on website
  docs/site/content/community/_index.html
Labels: cla-not-required, area/docs

#4998 UI plugin: vSphere MC additions
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/ClusterNameInput.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/ClusterNameSection.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/ClusterNameSection.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/NodeProfileSection.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/NodeProfileSection.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/VsphereResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#4983 Update CODEOWNERS #4982
  CODEOWNERS
Labels: cla-not-required

#5007 Add permissions for kube-state-metrics to list&watch k8s resource in prometheus package
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/clusterrole.yaml
Labels: cla-not-required, area/packages

#5011 Move joshrosso to emeritus maintainers
  MAINTAINERS.md
Labels: cla-not-required, area/docs

#5010 UI plugin: adds cluster settings to vSphere MC workflow
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
Labels: cla-not-required, area/cli

#5017 Removes John McBride as a maintainer
  MAINTAINERS.md
  docs/site/content/contributors/03-john-mcbride.md
  docs/site/themes/template/static/img/portraits/john_mcbride.jpg
Labels: cla-not-required, area/docs

#5024 Move Sean McGinnis to emeritus maintainer
  MAINTAINERS.md
Labels: cla-not-required, area/docs

#4991 External-dns aws credentials configuration
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-00-deployment.yaml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-aws-secret.yaml
  addons/packages/external-dns/0.11.0/bundle/config/schema.yaml
  addons/packages/external-dns/0.11.0/package.yaml
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/aws-secret.yaml
Labels: cla-not-required, area/packages

#5028 UI plugin: Introduces ConnectionNotification component (and small fit-n-finish tweaks)
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/utils.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
Labels: cla-not-required, area/cli

#5035 Replacing alpine image by distroless base image from fluxcd-helm-controller v0.21.0
  addons/packages/fluxcd-helm-controller/0.21.0/package.yaml
  addons/packages/fluxcd-helm-controller/vendir.lock.yml
  addons/packages/fluxcd-helm-controller/vendir.yml
Labels: cla-not-required, area/packages

#4980 Update calico readme to match the new template
  addons/packages/calico/3.11.3/README.md
  addons/packages/calico/3.19.1/README.md
  addons/packages/calico/3.22.1/README.md
Labels: cla-not-required, area/docs, area/packages

#5031 UI Plugin: Revise node to host port mapping string
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
Labels: cla-not-required, area/cli

#4960 Skip sudo on install if running as root
  hack/release/install.sh
  hack/release/uninstall.sh
Labels: area/release-eng

#5053 UI plugin: vSphere MC cluster setting defaults on single VM template
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/vsphere.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-osimages-2.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/utils.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
Labels: cla-not-required, area/cli

#5061 Run go mod tidy after recent dependabot bumps
  cli/cmd/plugin/unmanaged-cluster/go.sum
Labels: area/cli

#5064 UI Plugin: adds docker running check to unmanaged cluster creation
  cli/cmd/plugin/ui/server/handlers/unmanaged.go
Labels: cla-not-required, area/cli

#5052 [external-dns] Add default securityContext in deploy
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-00-deployment.yaml
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
Labels: cla-not-required, area/packages

#5085 release external-dns package 0.11.0+2
  addons/packages/external-dns/0.11.0/package.yaml
Labels: cla-not-required, area/packages

#5086 Add rebase rule for cert manager to remove caBundle for legacy clusters
  addons/packages/metrics-server/0.6.1/bundle/config/kapp-config.yaml
  addons/packages/metrics-server/0.6.1/package.yaml
Labels: cla-not-required, area/packages

#5071 add ConnectionNofication component
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConnectionNotification/ConnectionNotification.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/login/Login.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/login/Login.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
Labels: cla-not-required, area/cli

#4869 Add Contour 1.21.1 package
  addons/packages/contour/1.21.1/README.md
  addons/packages/contour/1.21.1/bundle/.imgpkg/bundle.yaml
  addons/packages/contour/1.21.1/bundle/.imgpkg/images.yml
  addons/packages/contour/1.21.1/bundle/config/certificates.lib.yaml
  addons/packages/contour/1.21.1/bundle/config/contour.star
  addons/packages/contour/1.21.1/bundle/config/overlays/add-certmanager-certs.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/remove-certgen-job.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/update-contour-configmap.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/update-crds.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.21.1/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.21.1/bundle/config/schema.yaml
  addons/packages/contour/1.21.1/bundle/config/upstream/contour.yaml
  addons/packages/contour/1.21.1/bundle/vendir.lock.yml
  addons/packages/contour/1.21.1/bundle/vendir.yml
  addons/packages/contour/1.21.1/package.yaml
  addons/packages/contour/1.21.1/test/Makefile
  addons/packages/contour/1.21.1/test/go.mod
  addons/packages/contour/1.21.1/test/go.sum
  addons/packages/contour/1.21.1/test/tools.go
  addons/packages/contour/1.21.1/test/unittest/contour_suite_test.go
  addons/packages/contour/1.21.1/test/unittest/contour_test.go
  addons/packages/contour/1.21.1/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#5092 UI Plugin: fixed connection notification issue
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
Labels: cla-not-required, area/cli

#5042 UI Plugin: Fix refresh 404
  cli/cmd/plugin/ui/server/serve.go
Labels: cla-not-required, area/cli

#5101 UI Plugin: Refactor ClusterName and NodeProfile to React Components
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/NodeProfile/NodeProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/cli

#5102 Update aws ebs csi driver schema and package configure
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/schema.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
Labels: cla-not-required, area/packages

#5103 Add value schema for azure disk csi driver
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/schema.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/package.yaml
Labels: cla-not-required, area/packages

#5112 UI Plugin: Loading state updates, unmanaged cluster list layout updates
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli, area/ui

#5099 UI Plugin: create a new select component with loading state
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Select/SpinnerSelect.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Select/SpinnerSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/Tooltip.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/Tooltip.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5120 UI Plugin: fix management cluster inventory unit tests
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.test.tsx
Labels: cla-not-required, area/cli

#5121 UI Plugin: fixed unit test warning issue
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
Labels: cla-not-required, area/cli

#5122 Add rebase rule for metrics server to retain kapp app selector during…
  addons/packages/metrics-server/0.6.1/bundle/config/kapp-config.yaml
  addons/packages/metrics-server/0.6.1/package.yaml
Labels: cla-not-required, area/packages

#5087 Add CPI & CSI package for OCI into the community-edition
  .github/workflows/check-imagelint.yaml
  addons/packages/oracle-cpi/1.22.1/README.md
  addons/packages/oracle-cpi/1.22.1/bundle/.imgpkg/bundle.yml
  addons/packages/oracle-cpi/1.22.1/bundle/.imgpkg/images.yml
  addons/packages/oracle-cpi/1.22.1/bundle/config/overlay/provider-config.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/overlay/proxy.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/provider-config.lib.txt
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-cloud-controller-manager-rbac.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-cloud-controller-manager.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-controller-driver.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-node-driver.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-node-rbac.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-storage-class.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-provisioner-fss.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-provisioner-rbac.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-provisioner.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-storage-class.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/provider-config.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/values.star
  addons/packages/oracle-cpi/1.22.1/bundle/config/values.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/vendir.yml
  addons/packages/oracle-cpi/1.22.1/package.yaml
  addons/packages/oracle-cpi/1.22.1/sample-values/oracle-cpi.yaml
  addons/packages/oracle-cpi/1.22.1/test/Makefile
  addons/packages/oracle-cpi/1.22.1/test/go.mod
  addons/packages/oracle-cpi/1.22.1/test/go.sum
  addons/packages/oracle-cpi/1.22.1/test/oracle_cpi_suite_test.go
  addons/packages/oracle-cpi/1.22.1/test/oracle_cpi_test.go
  addons/packages/oracle-cpi/metadata.yaml
Labels: cla-not-required, area/docs, area/packages

#5116 UI Plugin: modify tooltip functionality
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/TooltipContent/TooltipContent.scss
Labels: cla-not-required, area/cli

#5123 redirect to the index page when url is unreachable
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
Labels: cla-not-required, area/cli

#5125 Create RetrieveOSImage in order to reuse in other components
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/RetrieveOSImages/RetrieveOSImages.tsx
Labels: cla-not-required, area/cli

#5141 UI plugin: Adds streaming of web logs during Unmanaged Cluster create
  cli/cmd/plugin/ui/server/handlers/unmanaged.go
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
Labels: cla-not-required, area/cli

#5129 Prometheus package docs revision to match the template
  addons/packages/prometheus/2.36.2/README.md
Labels: cla-not-required, area/docs, area/packages

#5143 Doc update for aws ebs csi driver
  addons/packages/aws-ebs-csi-driver/1.8.0/README.md
Labels: cla-not-required, area/docs, area/packages

#5146 Update azure disk csi driver's doc
  addons/packages/azuredisk-csi-driver/1.19.0/README.md
Labels: cla-not-required, area/docs, area/packages

#5145 UI Plugin: Azure Login Unit test
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.test.tsx
Labels: cla-not-required, area/cli

#5151 UI plugin, Unmanaged Cluster plugin: introduces tty-activate for output
  cli/cmd/plugin/ui/server/handlers/unmanaged.go
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
Labels: cla-not-required, area/cli

#5030 UI plugin: Wizard tabs style and AWS refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5154 Fix ako operator package YTT template error when specifying NSX-T T1 router path
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
Labels: cla-not-required, area/packages

#5144 Create aws cluster setting page
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-basic/AwsManagementClusterBasic.tsx
Labels: cla-not-required, area/cli

#5132 Grafana package docs revision to match the template
  .gitignore
  addons/packages/fluent-bit/1.8.15/README.md
  addons/packages/fluent-bit/1.9.5/README.md
  addons/packages/grafana/7.5.16/README.md
Labels: cla-not-required, area/docs, area/packages

#5161 Fix public cloud csi's http proxy overlay
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/overlays/update-aws-ebs-csi-driver.yaml
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/overlay/update-azuredisk-csi-driver.yaml
Labels: cla-not-required, area/packages

#5111 fix: update harbor-2.4.2 readme.md
  addons/packages/harbor/2.4.2/README.md
Labels: cla-not-required, area/docs, area/packages

#5167 fix: add Additional Documentation
  addons/packages/harbor/2.4.2/README.md
Labels: cla-not-required, area/docs, area/packages

#5163 UI Plugin: modify css difference between Safari and Chrome
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/ClusterName/ClusterName.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentialsLogin.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereLoadBalancerStep.tsx
Labels: cla-not-required, area/cli

#5158 Add retrieve os image component for Azure
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputComponents/OsImageSelect/OsImageSelect.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Azure.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
Labels: cla-not-required, area/cli
