Repository vmware-tanzu/community-edition, pull requests merged in 2022-10, with the labels that each got.

#5406 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5401 Add kube vip cloud provider package
  addons/packages/kube-vip-cloud-provider/0.0.4/README.md
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/.imgpkg/bundle.yml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/.imgpkg/images.yml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/schema.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/upstream/kube-vip-cloud-provider/configmap.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/upstream/kube-vip-cloud-provider/deployment.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/upstream/kube-vip-cloud-provider/rbac.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/values.star
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/config/values.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/vendir.lock.yml
  addons/packages/kube-vip-cloud-provider/0.0.4/bundle/vendir.yml
  addons/packages/kube-vip-cloud-provider/0.0.4/package.yaml
  addons/packages/kube-vip-cloud-provider/0.0.4/test/Makefile
  addons/packages/kube-vip-cloud-provider/0.0.4/test/README.md
  addons/packages/kube-vip-cloud-provider/0.0.4/test/go.mod
  addons/packages/kube-vip-cloud-provider/0.0.4/test/go.sum
  addons/packages/kube-vip-cloud-provider/0.0.4/test/kube_vip_cloud_provider_suite_test.go
  addons/packages/kube-vip-cloud-provider/0.0.4/test/kube_vip_cloud_provider_test.go
  addons/packages/kube-vip-cloud-provider/metadata.yaml
Labels: cla-not-required, area/docs, area/packages

#5408 auto-generated - update package documentation
  docs/site/data/docs/main-toc.yml
Labels: cla-not-required

#5400 Add tlsCipherSuites values
  addons/packages/kapp-controller/0.38.5/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.38.5/bundle/config/values.yaml
  addons/packages/kapp-controller/0.38.5/package.yaml
Labels: cla-not-required, area/packages

#5409 modify metrics-server tolerations
  addons/packages/metrics-server/0.6.1/bundle/config/overlays/overlay-deployment.yaml
Labels: cla-not-required, area/packages

#5412 Contour: Envoy service overlay allows nodeport configuration w/ LoadBalancer Service
  addons/packages/contour/1.22.0/README.md
  addons/packages/contour/1.22.0/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.22.0/bundle/config/schema.yaml
  addons/packages/contour/1.22.0/package.yaml
  addons/packages/contour/1.22.0/test/unittest/contour_test.go
  addons/packages/contour/1.22.0/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#5413 auto-generated - update package documentation
  docs/site/data/docs/main-toc.yml
Labels: cla-not-required

#5416 Oracle CPI takes in credentials in data values; fix tolerations
  addons/packages/oracle-cpi/1.22.1/bundle/config/overlay/provider-config.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/provider-config.lib.txt
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-cloud-controller-manager.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-controller-driver.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-node-driver.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-provisioner-fss.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-volume-provisioner.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/values.yaml
  addons/packages/oracle-cpi/1.22.1/package.yaml
  addons/packages/oracle-cpi/1.22.1/sample-values/oracle-cpi.yaml
  addons/packages/oracle-cpi/1.22.1/test/oracle_cpi_test.go
Labels: cla-not-required, area/packages

#5426 Add control plane node selector and toleration to kappcontroller
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.41.2/package.yaml
Labels: cla-not-required, area/packages

#5428 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5429 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5432 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5427 oracle-cpi creates another secret for the volume provisioner
  addons/packages/oracle-cpi/1.22.1/bundle/config/overlay/provider-config.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-cloud-controller-manager.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/oci-csi-controller-driver.yaml
  addons/packages/oracle-cpi/1.22.1/bundle/config/upstream/provider-config.yaml
  addons/packages/oracle-cpi/1.22.1/package.yaml
  addons/packages/oracle-cpi/1.22.1/test/oracle_cpi_test.go
Labels: cla-not-required, area/packages

#5443 Correct vSphere version check for adding CSI resizer in CSI driver YAML
  addons/packages/vsphere-csi/2.5.2/bundle/config/overlays/update-csi-driver.yaml
Labels: area/packages

#5436 bump whereabouts to v0.5.4
  addons/packages/whereabouts/0.5.4/Dockerfile
  addons/packages/whereabouts/0.5.4/README.md
  addons/packages/whereabouts/0.5.4/bundle/.imgpkg/bundle.yml
  addons/packages/whereabouts/0.5.4/bundle/.imgpkg/images.yml
  addons/packages/whereabouts/0.5.4/bundle/config/overlay/overlay-daemonset-install.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/overlay/overlay-ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/upstream/daemonset-install.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/upstream/ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/upstream/whereabouts.cni.cncf.io_ippools.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/upstream/whereabouts.cni.cncf.io_overlappingrangeipreservations.yaml
  addons/packages/whereabouts/0.5.4/bundle/config/values.yaml
  addons/packages/whereabouts/0.5.4/bundle/vendir.lock.yml
  addons/packages/whereabouts/0.5.4/bundle/vendir.yml
  addons/packages/whereabouts/0.5.4/package.yaml
  addons/packages/whereabouts/0.5.4/test/Makefile
  addons/packages/whereabouts/0.5.4/test/README.md
  addons/packages/whereabouts/0.5.4/test/e2e/test_assets/mult.yaml
  addons/packages/whereabouts/0.5.4/test/e2e/test_assets/multi_nic_pod.yaml
  addons/packages/whereabouts/0.5.4/test/e2e/test_assets/whereabouts_values.yaml
  addons/packages/whereabouts/0.5.4/test/e2e/whereabouts_suite_test.go
  addons/packages/whereabouts/0.5.4/test/e2e/whereabouts_test.go
  addons/packages/whereabouts/0.5.4/test/go.mod
  addons/packages/whereabouts/0.5.4/test/go.sum
  addons/packages/whereabouts/metadata.yaml
  addons/repos/main.yaml
Labels: cla-not-required, area/docs, area/packages

#5435 Upgrade CSI driver to 2.6.2
  addons/packages/vsphere-csi/2.6.2/README.md
  addons/packages/vsphere-csi/2.6.2/bundle/.imgpkg/bundle.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.6.2/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/config/overlays/update-csi-driver.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/config/upstream/vsphere-csi/LICENSE
  addons/packages/vsphere-csi/2.6.2/bundle/config/upstream/vsphere-csi/manifests/vanilla/vsphere-csi-driver.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/config/values.star
  addons/packages/vsphere-csi/2.6.2/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.6.2/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-csi/2.6.2/bundle/vendir.lock.yml
  addons/packages/vsphere-csi/2.6.2/bundle/vendir.yml
  addons/packages/vsphere-csi/2.6.2/package.yaml
Labels: area/docs, area/packages

#5431 Add calico v3.24.1
  .gitignore
  addons/packages/calico/3.24.1/README.md
  addons/packages/calico/3.24.1/bundle/.imgpkg/bundle.yaml
  addons/packages/calico/3.24.1/bundle/.imgpkg/images.yml
  addons/packages/calico/3.24.1/bundle/config/overlay/calico-overlay.yaml
  addons/packages/calico/3.24.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/calico/3.24.1/bundle/config/schema.yaml
  addons/packages/calico/3.24.1/bundle/config/upstream/calico.yaml
  addons/packages/calico/3.24.1/bundle/config/values.star
  addons/packages/calico/3.24.1/bundle/config/values.yaml
  addons/packages/calico/3.24.1/bundle/vendir.lock.yml
  addons/packages/calico/3.24.1/bundle/vendir.yml
  addons/packages/calico/3.24.1/package.yaml
  addons/packages/calico/3.24.1/test/Makefile
  addons/packages/calico/3.24.1/test/README.md
  addons/packages/calico/3.24.1/test/calico_suite_test.go
  addons/packages/calico/3.24.1/test/calico_test.go
  addons/packages/calico/3.24.1/test/go.mod
  addons/packages/calico/3.24.1/test/go.sum
  addons/repos/core.yaml
Labels: cla-not-required, area/docs, area/packages

#5462 auto-generated - update package documentation
  docs/site/content/docs/edge/package-readme-harbor-2.6.1.md
  docs/site/content/docs/edge/package-readme-whereabouts-0.5.4.md
  docs/site/data/docs/main-toc.yml
Labels: cla-not-required

#5463 Update vSphere version check for CSI version 2.3.0
  addons/packages/vsphere-csi/2.3.0/bundle/config/overlays/update-csi-driver.yaml
Labels: area/packages

#5465 Update vSphere version check for CSI version 2.4.1
  addons/packages/vsphere-csi/2.4.1/bundle/config/overlays/update-csi-driver.yaml
Labels: area/packages

#5464 bump ako to fix cve
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
Labels: cla-not-required, area/packages

#5468 Add redirects and update homepage, nav, footer
  .hugo_build.lock
  README.md
  docs/site/content/.DS_Store
  docs/site/content/docs/.DS_Store
  docs/site/content/docs/edge/.DS_Store
  docs/site/netlify.toml
  docs/site/themes/template/assets/scss/_footer.scss
  docs/site/themes/template/layouts/_default/baseof.html
  docs/site/themes/template/layouts/index.html
  docs/site/themes/template/layouts/partials/faqs.html
  docs/site/themes/template/layouts/partials/footer.html
  docs/site/themes/template/layouts/partials/getting-started.html
  docs/site/themes/template/layouts/partials/header.html
  docs/site/themes/template/layouts/partials/hero.html
  docs/site/themes/template/layouts/partials/homepage-grid.html
  docs/site/themes/template/static/img/favicon.ico
Labels: cla-not-required, area/docs

#5469 Add force true to redirects
  docs/site/netlify.toml
Labels: cla-not-required, area/docs

#5470 fix whereabouts package schema defination issue
  addons/packages/whereabouts/0.5.4/package.yaml
Labels: cla-not-required, area/packages

#5471 bump ako 1.7.3 to address cves
  addons/packages/load-balancer-and-ingress-service/1.7.3/README.md
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/.imgpkg/bundle.yml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/kapp-config.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/overlays/overlay-rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/overlays/overlay-secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/gatewayclasses.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/gateways.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/hostrules.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/httprules.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/multiclusteringresses.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/crds/serviceimports.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/values.star
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/vendir.lock.yml
  addons/packages/load-balancer-and-ingress-service/1.7.3/bundle/vendir.yml
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_0.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_1.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_10.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_11.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_12.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_13.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_14.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_15.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_16.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_17.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_18.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_19.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_2.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_20.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_21.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_22.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_23.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_3.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_4.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_5.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_6.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_7.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_8.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/avi_setup_9.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/vcenter_ova_upload_0.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/vcenter_ova_upload_1.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/images/virtual_svc_on_avi_controller.png
  addons/packages/load-balancer-and-ingress-service/1.7.3/package.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/Makefile
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/README.md
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/go.mod
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/go.sum
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/load_balancer_and_ingress_service_suite_test.go
  addons/packages/load-balancer-and-ingress-service/1.7.3/test/load_balancer_and_ingress_service_test.go
Labels: cla-not-required, area/docs, area/packages

#5477 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5480 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5481 Update meta description
  docs/site/content/_index.md
Labels: cla-not-required, area/docs

#5486 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5488 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5491 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5495 update harbor.yaml for e2e test
  addons/packages/harbor/2.6.1/test/e2e/fixtures/harbor.yaml
Labels: cla-not-required, area/packages

#5498 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5499 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5501 update ebs storageclass for harbor e2e
  addons/packages/harbor/2.6.1/test/e2e/harbor_suite_test.go
Labels: cla-not-required, area/packages

#5444 package/pinniped/0.12.1: bump dex to 2.35.3
  addons/packages/pinniped/0.12.1/bundle/.imgpkg/bundle.yml
  addons/packages/pinniped/0.12.1/bundle/.imgpkg/images.yml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/dex-deployment.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/package.yaml
Labels: cla-not-required, area/packages

#4374 Add doc for Component list
  docs/site/content/docs/edge/components.md
  docs/site/data/docs/main-toc.yml
Labels: owner/docs, cla-not-required, Stale
