Repository vmware-tanzu/community-edition, pull requests merged in 2022-09, with the labels that each got.

#5328 Update comment syntax
  addons/packages/ako-operator/1.6.0/bundle/.imgpkg/images.yml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/ako-operator/1.6.0/package.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.7.2/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.7.2/package.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.24.0/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
Labels: cla-not-required, area/packages

#5331 UI plugin: vSphere MC workflow cleans up datacenter usage
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigReview/ConfigGrid.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/vSphereDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereBasicReview.config.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOsImageUtil.tsx
Labels: cla-not-required, area/cli

#5332 Update the cpi 1.23.1's tolerations and affinity
  addons/packages/vsphere-cpi/1.23.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.1/package.yaml
Labels: cla-not-required, area/packages

#5333 External-dns package version 0.11.0+3
  addons/packages/external-dns/0.11.0/package.yaml
Labels: cla-not-required, area/packages

#5338 UI plugin: vSphere MC fix: include CP instance size
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereNodeProfileUtil.tsx
Labels: cla-not-required, area/cli

#5339 UI plugin: removes vSphere thumbprint from payload when using insecure login
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/vSphereDeployment.tsx
Labels: cla-not-required, area/cli

#5319 UI Plugin: finished azure orchestrator
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/azure.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/hooks/UseCompare.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Array.util.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/ResourcesWithDefault.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/default-service/AwsDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/azure-orchestrator/AzureOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/default-service/AzureDefaults.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/default-orchestrator/DefaultOrchestrator.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOrchestrator.service.tsx
Labels: cla-not-required, area/cli

#5341 UI Plugin: Cleanup on linting errors
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-credentials.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ThemeToggle/ThemeToggle.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli, area/ui

#5342 UI Plugin: Set vsphere useThumbprint to true by default
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
Labels: cla-not-required, area/cli, area/ui

#5343 added more payload fields
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/azure.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/azureDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-basic/AzureManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/azure/azure-mc-common/AzureClusterSettingsStep.tsx
Labels: cla-not-required, area/cli

#5346 Updated community page
  docs/site/content/community/_index.html
Labels: cla-not-required, area/docs

#5347 Change external-dns folder from 0.12.0 to 0.12.2
  addons/packages/external-dns/0.12.2/DEV.md
  addons/packages/external-dns/0.12.2/README.md
  addons/packages/external-dns/0.12.2/bundle/.imgpkg/bundle.yml
  addons/packages/external-dns/0.12.2/bundle/.imgpkg/images.yml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/assertions.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-00-deployment.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-aws-secret.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-azure-secret.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-clusterrole.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/external-dns/0.12.2/bundle/config/overlays/overlay-serviceaccount.yaml
  addons/packages/external-dns/0.12.2/bundle/config/schema.yaml
  addons/packages/external-dns/0.12.2/bundle/config/upstream/external-dns-clusterrole.yaml
  addons/packages/external-dns/0.12.2/bundle/config/upstream/external-dns-clusterrolebinding.yaml
  addons/packages/external-dns/0.12.2/bundle/config/upstream/external-dns-deployment.yaml
  addons/packages/external-dns/0.12.2/bundle/config/upstream/external-dns-serviceaccount.yaml
  addons/packages/external-dns/0.12.2/bundle/kbld-config.yml
  addons/packages/external-dns/0.12.2/bundle/vendir.lock.yml
  addons/packages/external-dns/0.12.2/bundle/vendir.yml
  addons/packages/external-dns/0.12.2/images/create-ns-record.png
  addons/packages/external-dns/0.12.2/images/create-policy-step1.png
  addons/packages/external-dns/0.12.2/images/create-policy-step2.png
  addons/packages/external-dns/0.12.2/images/create-user-step1.png
  addons/packages/external-dns/0.12.2/images/create-user-step2.png
  addons/packages/external-dns/0.12.2/images/create-user-step3.png
  addons/packages/external-dns/0.12.2/images/create-user-step4.png
  addons/packages/external-dns/0.12.2/package.yaml
  addons/packages/external-dns/0.12.2/test/Makefile
  addons/packages/external-dns/0.12.2/test/README.md
  addons/packages/external-dns/0.12.2/test/e2e/externaldns_suite_test.go
  addons/packages/external-dns/0.12.2/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/bind-deployment.yaml
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/custom-data-values.yaml
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/custom-overlay-and-schema-secret.yaml
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/dnsutils-pod.yaml
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.12.2/test/e2e/fixtures/kuard-deployment.yaml
  addons/packages/external-dns/0.12.2/test/go.mod
  addons/packages/external-dns/0.12.2/test/go.sum
  addons/packages/external-dns/0.12.2/test/tools/tools.go
  addons/packages/external-dns/0.12.2/test/unittest/externaldns_suite_test.go
  addons/packages/external-dns/0.12.2/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/aws-secret.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/azure-configuration.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/azure-minimal-configuration.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-args-no-provider.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-args-no-source.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-env-vars.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-observability.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-security-context.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/deployment-volumes.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/minimal-configuration.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/namespace.yaml
  addons/packages/external-dns/0.12.2/test/unittest/fixtures/values/serviceaccount-annotations.yaml
Labels: cla-not-required, area/docs, area/packages

#5345 Refactor aws
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5349 Refactor aws
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/aws-orchestrator/AwsOrchestrator.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/aws-mc-common/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#5354 Add missing fields to external-dns readme
  addons/packages/external-dns/0.11.0/README.md
  addons/packages/external-dns/0.12.2/README.md
Labels: cla-not-required, area/docs, area/packages

#5357 support anzurefile
  addons/packages/azuredisk-csi-driver/1.19.0/bundle/config/upstream/deploy/v1.19.0/csi-snapshot-controller.yaml
  addons/packages/azurefile-csi-driver/1.21.0/README.md
  addons/packages/azurefile-csi-driver/1.21.0/bundle/.imgpkg/bundle.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/.imgpkg/images.yml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/overlay/update-azurefile-csi-driver.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/schema.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/LICENSE
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/deploy/v1.21.0/csi-azurefile-controller.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/deploy/v1.21.0/csi-azurefile-driver.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/deploy/v1.21.0/csi-azurefile-node.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/deploy/v1.21.0/rbac-csi-azurefile-controller.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/upstream/deploy/v1.21.0/rbac-csi-azurefile-node.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/values.star
  addons/packages/azurefile-csi-driver/1.21.0/bundle/config/values.yaml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/vendir.lock.yml
  addons/packages/azurefile-csi-driver/1.21.0/bundle/vendir.yml
  addons/packages/azurefile-csi-driver/1.21.0/package.yaml
  addons/packages/azurefile-csi-driver/metadata.yaml
  docs/headless-install.md
Labels: cla-not-required, area/docs, area/packages

#5371 Bump kapp-controller to version 0.41.2
  addons/packages/kapp-controller/0.41.2/README.md
  addons/packages/kapp-controller/0.41.2/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.41.2/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.41.2/bundle/config/values.star
  addons/packages/kapp-controller/0.41.2/bundle/config/values.yaml
  addons/packages/kapp-controller/0.41.2/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.41.2/bundle/vendir.yml
  addons/packages/kapp-controller/0.41.2/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5370 Bump secretgen to version 0.11.0
  addons/packages/secretgen-controller/0.11.0/README.md
  addons/packages/secretgen-controller/0.11.0/package.yml
  addons/packages/secretgen-controller/vendir.lock.yml
  addons/packages/secretgen-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#5388 Adjust default ciphers used for kapp-controller 0.41.2
  addons/packages/kapp-controller/0.41.2/bundle/config/values.yaml
  addons/packages/kapp-controller/0.41.2/package.yaml
Labels: cla-not-required, area/packages

#5396 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5399 auto-generated - update package documentation
  docs/site/content/docs/edge/package-readme-external-dns-0.11.0.md
  docs/site/data/docs/main-toc.yml
Labels: cla-not-required
