Repository vmware-tanzu/community-edition, pull requests merged in 2022-12, with the labels that each got.

#5543 Update namespace to deploy CSI on vmware-system-csi namespace
  addons/packages/vsphere-csi/2.6.2/bundle/config/values.yaml
Labels: area/packages

#5585 add metrics-server v0.6.2
  addons/packages/metrics-server/0.6.2/README.md
  addons/packages/metrics-server/0.6.2/bundle/.imgpkg/bundle.yml
  addons/packages/metrics-server/0.6.2/bundle/.imgpkg/images.yml
  addons/packages/metrics-server/0.6.2/bundle/config/kapp-config.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/overlays/overlay-apiservice.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/schema.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/upstream/components.yaml
  addons/packages/metrics-server/0.6.2/bundle/config/values.yaml
  addons/packages/metrics-server/0.6.2/bundle/vendir.lock.yml
  addons/packages/metrics-server/0.6.2/bundle/vendir.yml
  addons/packages/metrics-server/0.6.2/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5588 update metrics-server v0.6.2 image sha
  addons/packages/metrics-server/0.6.2/bundle/.imgpkg/images.yml
  addons/packages/metrics-server/0.6.2/package.yaml
Labels: cla-not-required, area/packages

#5591 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5587 bump ako 1.8.2
  addons/packages/load-balancer-and-ingress-service/1.8.2/README.md
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/.imgpkg/bundle.yml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/.imgpkg/images.yml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/kapp-config.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/overlays/overlay-configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/overlays/overlay-rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/overlays/overlay-secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/configmap.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/gatewayclasses.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/gateways.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/hostrules.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/httprules.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/multiclusteringresses.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/crds/serviceimports.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/rbac.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/secret.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/values.star
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/vendir.lock.yml
  addons/packages/load-balancer-and-ingress-service/1.8.2/bundle/vendir.yml
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_0.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_1.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_10.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_11.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_12.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_13.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_14.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_15.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_16.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_17.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_18.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_19.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_2.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_20.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_21.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_22.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_23.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_3.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_4.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_5.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_6.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_7.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_8.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/avi_setup_9.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/vcenter_ova_upload_0.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/vcenter_ova_upload_1.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/images/virtual_svc_on_avi_controller.png
  addons/packages/load-balancer-and-ingress-service/1.8.2/package.yaml
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/Makefile
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/README.md
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/go.mod
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/go.sum
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/load_balancer_and_ingress_service_suite_test.go
  addons/packages/load-balancer-and-ingress-service/1.8.2/test/load_balancer_and_ingress_service_test.go
Labels: cla-not-required, area/docs, area/packages

#5594 addons/packages/pinniped: extend post-deploy job retry limit
  addons/packages/pinniped/0.12.1/bundle/config/upstream/03-post-deploy.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_3_1-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_4_0-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-external-dns.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-http-proxy.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-vsphere-custom-concierge-audience-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-oidc-vsphere-custom-concierge-audience-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-vsphere-v1_3_0.yaml
Labels: kind/enhancement, owner/packages, cla-not-required, tech debt, area/packages

#5597 fix CPI values.yaml
  addons/packages/vsphere-cpi/1.22.7/bundle/config/values.yaml
Labels: cla-not-required, area/packages

#5600 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5603 Adds Contour 1.22.3
  addons/packages/contour/1.22.3/README.md
  addons/packages/contour/1.22.3/bundle/.imgpkg/bundle.yaml
  addons/packages/contour/1.22.3/bundle/.imgpkg/images.yml
  addons/packages/contour/1.22.3/bundle/config/certificates.lib.yaml
  addons/packages/contour/1.22.3/bundle/config/contour.star
  addons/packages/contour/1.22.3/bundle/config/overlays/add-certmanager-certs.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/change-namespace.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/remove-certgen-job.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/update-contour-configmap.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/update-crds.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.22.3/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.22.3/bundle/config/schema.yaml
  addons/packages/contour/1.22.3/bundle/config/upstream/contour.yaml
  addons/packages/contour/1.22.3/bundle/vendir.lock.yml
  addons/packages/contour/1.22.3/bundle/vendir.yml
  addons/packages/contour/1.22.3/package.yaml
  addons/packages/contour/1.22.3/test/Makefile
  addons/packages/contour/1.22.3/test/go.mod
  addons/packages/contour/1.22.3/test/go.sum
  addons/packages/contour/1.22.3/test/tools.go
  addons/packages/contour/1.22.3/test/unittest/contour_suite_test.go
  addons/packages/contour/1.22.3/test/unittest/contour_test.go
  addons/packages/contour/1.22.3/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#5606 Bump kapp-controller to 0.30.5
  addons/packages/kapp-controller/0.30.5/README.md
  addons/packages/kapp-controller/0.30.5/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.30.5/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.30.5/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.30.5/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.30.5/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.30.5/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.5/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.30.5/bundle/config/values.star
  addons/packages/kapp-controller/0.30.5/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.5/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.30.5/bundle/vendir.yml
  addons/packages/kapp-controller/0.30.5/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5604 Bump kapp-controller to 0.41.5
  addons/packages/kapp-controller/0.41.5/README.md
  addons/packages/kapp-controller/0.41.5/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.41.5/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.41.5/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.41.5/bundle/config/values.star
  addons/packages/kapp-controller/0.41.5/bundle/config/values.yaml
  addons/packages/kapp-controller/0.41.5/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.41.5/bundle/vendir.yml
  addons/packages/kapp-controller/0.41.5/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5605 Bump kapp-controller to 0.38.8
  addons/packages/kapp-controller/0.38.8/README.md
  addons/packages/kapp-controller/0.38.8/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.38.8/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.38.8/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.38.8/bundle/config/values.star
  addons/packages/kapp-controller/0.38.8/bundle/config/values.yaml
  addons/packages/kapp-controller/0.38.8/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.38.8/bundle/vendir.yml
  addons/packages/kapp-controller/0.38.8/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5608 Update link
  docs/site/themes/template/layouts/partials/faqs.html
Labels: cla-not-required, area/docs

#5611 Bump OCI CPI v1.24.0
  addons/packages/oracle-cpi/1.24.0/README.md
  addons/packages/oracle-cpi/1.24.0/bundle/.imgpkg/bundle.yml
  addons/packages/oracle-cpi/1.24.0/bundle/.imgpkg/images.yml
  addons/packages/oracle-cpi/1.24.0/bundle/config/overlay/provider-config.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/overlay/proxy.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-cloud-controller-manager-rbac.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-cloud-controller-manager.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-csi-controller-driver.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-csi-node-driver.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-csi-node-rbac.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-csi-storage-class.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-volume-provisioner-fss.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-volume-provisioner-rbac.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-volume-provisioner.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/oci-volume-storage-class.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/upstream/provider-config.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/config/values.star
  addons/packages/oracle-cpi/1.24.0/bundle/config/values.yaml
  addons/packages/oracle-cpi/1.24.0/bundle/vendir.yml
  addons/packages/oracle-cpi/1.24.0/package.yaml
  addons/packages/oracle-cpi/1.24.0/sample-values/oracle-cpi.yaml
  addons/packages/oracle-cpi/1.24.0/test/Makefile
  addons/packages/oracle-cpi/1.24.0/test/go.mod
  addons/packages/oracle-cpi/1.24.0/test/go.sum
  addons/packages/oracle-cpi/1.24.0/test/oracle_cpi_suite_test.go
  addons/packages/oracle-cpi/1.24.0/test/oracle_cpi_test.go
  addons/packages/vsphere-cpi/1.22.7/test/go.mod
  addons/packages/vsphere-cpi/1.22.7/test/go.sum
Labels: cla-not-required, area/docs, area/packages

#5607 update harbor e2e test for Glasgow
  addons/packages/harbor/2.6.2/test/e2e/harbor_suite_test.go
Labels: cla-not-required, area/packages

#5613 Contour package: update maintainers
  addons/packages/contour/metadata.yaml
Labels: cla-not-required, area/packages

#5564 Update TeraSky url
  ADOPTERS.md
Labels: cla-not-required, area/docs

#5615 Adding placeholder secret for authenticated registry in new version of flux packages
  addons/packages/fluxcd-helm-controller/0.21.0+update.1/README.md
  addons/packages/fluxcd-helm-controller/0.21.0+update.1/package.yaml
  addons/packages/fluxcd-helm-controller/vendir.lock.yml
  addons/packages/fluxcd-helm-controller/vendir.yml
  addons/packages/fluxcd-kustomize-controller/0.24.4+update.1/README.md
  addons/packages/fluxcd-kustomize-controller/0.24.4+update.1/package.yaml
  addons/packages/fluxcd-kustomize-controller/vendir.lock.yml
  addons/packages/fluxcd-kustomize-controller/vendir.yml
  addons/packages/fluxcd-source-controller/0.24.4+update.2/README.md
  addons/packages/fluxcd-source-controller/0.24.4+update.2/package.yaml
  addons/packages/fluxcd-source-controller/vendir.lock.yml
  addons/packages/fluxcd-source-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#5617 Updating version 0.24.4+update.2 of flux-source-controller
  addons/packages/fluxcd-source-controller/0.24.4+update.2/package.yaml
  addons/packages/fluxcd-source-controller/vendir.lock.yml
Labels: cla-not-required, area/packages

#5620 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5621 Bump KC to 0.44.1
  addons/packages/kapp-controller/0.44.1/README.md
  addons/packages/kapp-controller/0.44.1/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.44.1/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.44.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.44.1/bundle/config/values.star
  addons/packages/kapp-controller/0.44.1/bundle/config/values.yaml
  addons/packages/kapp-controller/0.44.1/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.44.1/bundle/vendir.yml
  addons/packages/kapp-controller/0.44.1/package.yaml
Labels: cla-not-required, area/docs, area/packages

#5623 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5625 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required

#5622 Bump Dex to `v2.35.3_vmware.2` in the Pinniped addon
  addons/packages/pinniped/0.12.1/bundle/.imgpkg/images.yml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/dex-deployment.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/package.yaml
Labels: cla-not-required, area/packages

#5627 Add antrea 1.7.2 package
  addons/packages/antrea/1.7.2/README.md
  addons/packages/antrea/1.7.2/bundle/.imgpkg/bundle.yaml
  addons/packages/antrea/1.7.2/bundle/.imgpkg/images.yml
  addons/packages/antrea/1.7.2/bundle/config/kapp-config.yaml
  addons/packages/antrea/1.7.2/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.7.2/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/antrea/1.7.2/bundle/config/schema.yaml
  addons/packages/antrea/1.7.2/bundle/config/upstream/antrea.yaml
  addons/packages/antrea/1.7.2/bundle/config/values.star
  addons/packages/antrea/1.7.2/bundle/config/values.yaml
  addons/packages/antrea/1.7.2/bundle/vendir.lock.yml
  addons/packages/antrea/1.7.2/bundle/vendir.yml
  addons/packages/antrea/1.7.2/package.yaml
  addons/packages/antrea/1.7.2/test/Makefile
  addons/packages/antrea/1.7.2/test/README.md
  addons/packages/antrea/1.7.2/test/antrea_suite_test.go
  addons/packages/antrea/1.7.2/test/antrea_test.go
  addons/packages/antrea/1.7.2/test/go.mod
  addons/packages/antrea/1.7.2/test/go.sum
Labels: cla-not-required, area/docs, area/packages

#5629 auto-generated - update daily build in README
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: cla-not-required
