Repository vmware-tanzu/community-edition, pull requests merged in 2022-02, with the labels that each got.

#2790 Doc updates to create workload cluster topic.
  docs/site/content/docs/latest/workload-clusters.md
Labels: area/docs, cla-not-required

#2868 Add to auto-generated Table of Contents #2641
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#2975 Doc - Add mac binary download/install install steps to doc
  docs/site/content/docs/assets/cli-install-mac.md
Labels: area/docs, cla-not-required

#2993 Update Package Maintenance Docs #2991
  addons/maintainer-docs/.gitignore
  addons/maintainer-docs/README.md
  addons/maintainer-docs/archetypes/default.md
  addons/maintainer-docs/config.toml
  addons/maintainer-docs/content/_index.md
  addons/maintainer-docs/content/creation/_index.md
  addons/maintainer-docs/content/creation/configuration.md
  addons/maintainer-docs/content/creation/cr-files.md
  addons/maintainer-docs/content/creation/directory-structure.md
  addons/maintainer-docs/content/creation/documentation.md
  addons/maintainer-docs/content/creation/image-refs.md
  addons/maintainer-docs/content/creation/licensing.md
  addons/maintainer-docs/content/creation/linting.md
  addons/maintainer-docs/content/creation/oci-registry.md
  addons/maintainer-docs/content/creation/overlays.md
  addons/maintainer-docs/content/creation/prerequisites.md
  addons/maintainer-docs/content/creation/publish.md
  addons/maintainer-docs/content/creation/restrictions.md
  addons/maintainer-docs/content/creation/testing.md
  addons/maintainer-docs/content/creation/tooling.md
  addons/maintainer-docs/content/creation/upstream-content.md
  addons/maintainer-docs/content/maintenance/community-support.md
  addons/maintainer-docs/content/maintenance/maintenance.md
  addons/maintainer-docs/content/maintenance/retirement.md
  addons/maintainer-docs/content/maintenance/security.md
  addons/maintainer-docs/content/maintenance/versioning.md
  addons/maintainer-docs/content/roles/end-user.md
  addons/maintainer-docs/content/roles/maintainer.md
  addons/maintainer-docs/content/submission/creation/_index.md
  addons/maintainer-docs/content/submission/creation/configuration.md
  addons/maintainer-docs/content/submission/creation/cr-files.md
  addons/maintainer-docs/content/submission/creation/directory-structure.md
  addons/maintainer-docs/content/submission/creation/documentation.md
  addons/maintainer-docs/content/submission/creation/image-refs.md
  addons/maintainer-docs/content/submission/creation/licensing.md
  addons/maintainer-docs/content/submission/creation/linting.md
  addons/maintainer-docs/content/submission/creation/oci-registry.md
  addons/maintainer-docs/content/submission/creation/overlays.md
  addons/maintainer-docs/content/submission/creation/prerequisites.md
  addons/maintainer-docs/content/submission/creation/publish.md
  addons/maintainer-docs/content/submission/creation/restrictions.md
  addons/maintainer-docs/content/submission/creation/testing.md
  addons/maintainer-docs/content/submission/creation/tooling.md
  addons/maintainer-docs/content/submission/creation/upstream-content.md
  addons/maintainer-docs/content/submission/maintenance/community-support.md
  addons/maintainer-docs/content/submission/maintenance/maintenance.md
  addons/maintainer-docs/content/submission/maintenance/retirement.md
  addons/maintainer-docs/content/submission/maintenance/security.md
  addons/maintainer-docs/content/submission/maintenance/versioning.md
  addons/maintainer-docs/content/submission/roles/end-user.md
  addons/maintainer-docs/content/submission/roles/maintainer.md
  addons/maintainer-docs/content/submission/submitting.md
  docs/packaging/README.md
  docs/packaging/creation/cr-files.md
  docs/packaging/creation/directory-structure.md
  docs/packaging/creation/image-refs.md
  docs/packaging/creation/linting.md
  docs/packaging/creation/prerequisites.md
  docs/packaging/creation/publish.md
  docs/packaging/maintenance/maintenance.md
Labels: area/packages, area/docs, cla-not-required

#2962 Ajust makefile for a line commented by mistake
  Makefile
Labels: area/release-eng

#2913 ROADMAP.md update for stages and forward view
  ROADMAP.md
Labels: area/docs, cla-not-required

#2989 Doc - Add doc link for windows bootstrap machine workaround
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/azure-clusters.md
  docs/site/content/docs/assets/capd-clusters.md
  docs/site/content/docs/assets/step1.md
  docs/site/content/docs/assets/vsphere-clusters.md
Labels: area/docs, cla-not-required

#3011 Update ROADMAP.md
  ROADMAP.md
Labels: area/docs, cla-not-required

#3014 Add proposal link to roadmap
  ROADMAP.md
Labels: area/docs, cla-not-required

#3010 Bump TF to v0.10.1 and Fix Antrea packaging for 0.10.0 release
  Makefile
  addons/packages/external-dns/0.10.0/test/go.sum
  cli/cmd/plugin/conformance/go.mod
  cli/cmd/plugin/conformance/go.sum
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/diagnostics/go.sum
  hack/FRAMEWORK_BUILD_VERSION
  hack/builder/go.mod
  hack/builder/go.sum
Labels: area/packages, area/release-eng, cla-not-required, area/cli

#3012 Update the package maintainer docs to include more clear details about
  docs/packaging/README.md
Labels: area/docs, cla-not-required

#3035 [E2E] Increase wait timeout for waiting for pods in cluster
  test/check-tce-cluster-creation.sh
Labels: kind/test-release, area/release-eng, cla-not-required

#2601 [E2E] delete kind bootstrap cluster created for deletion only when management cluster deletion fails
  test/azure/deploy-management-and-workload-cluster.sh
  test/vsphere/run-tce-vsphere-management-and-workload-cluster.sh
Labels: area/release-eng, cla-not-required

#3038 [E2E][vSphere] Fix vSphere E2E test failure when tce daily official tar ball is available
  test/download-or-build-tce.sh
Labels: area/release-eng, cla-not-required

#3039 [E2E] Increase wait timeout for waiting for pods in cluster
  test/aws/deploy-tce-managed.sh
  test/aws/deploy-tce-standalone.sh
  test/azure/deploy-standalone-cluster.sh
Labels: area/release-eng, cla-not-required

#2921 Add TCE Distro Proposal Updates
  docs/designs/2717-produce-tce-specific-releases.md
Labels: area/docs, cla-not-required

#3042 Updates to readme to keep current
  README.md
Labels: area/docs, cla-not-required

#2973 Doc - Add windows binary download/install doc
  docs/site/content/docs/assets/cli-install-windows.md
  docs/site/content/docs/assets/prereq-windows.md
  docs/site/content/docs/latest/cli-installation.md
  docs/site/content/docs/latest/getting-started.md
Labels: area/docs, cla-not-required

#3046 Update external-dns test e2e README to reference getting started guide
  addons/packages/external-dns/0.10.0/test/README.md
  addons/packages/external-dns/0.8.0/test/README.md
Labels: area/packages, area/docs, cla-not-required

#3018 Add rebase rule to ako statefulset to prevent kapp-controller from removing its annotations.
  addons/packages/load-balancer-and-ingress-service/1.4.3/bundle/config/kapp-config.yaml
  addons/packages/load-balancer-and-ingress-service/1.4.3/bundle/config/overlays/overlay-statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/kapp-config.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/overlays/overlay-statefulset.yaml
Labels: area/packages, cla-not-required

#3044 Doc - Add dynamic variable for TCE version to pkg doc
  docs/site/content/docs/assets/package-installation.md
Labels: area/docs, cla-not-required

#3001 Notify community with daily developer build downloads
  README.md
  hack/dailybuild/dailybuild.go
  hack/dailybuild/go.mod
  hack/dailybuild/go.sum
  hack/dailybuild/publish-daily-build.sh
Labels: area/docs, area/release-eng, cla-not-required

#3054 Add windows installation step to doc
  docs/site/content/docs/assets/cli-install-windows.md
Labels: area/docs, cla-not-required

#2994 Relocate release process documentation
  docs/developer/release-process.md
  docs/images/makerelease.png
  docs/images/publicrelease.png
  docs/images/tarballlayout.png
Labels: area/docs, cla-not-required

#3065 Release notes between daily builds
  .github/workflows/build-daily.yaml
  hack/dailybuild/PREVIOUS_DAILY_HASH
  hack/dailybuild/daily.template
  hack/dailybuild/dailybuild.go
  hack/dailybuild/publish-daily-build.sh
Labels: area/release-eng, cla-not-required

#3078 Doc - Add links to Cluster API infrastructure providers
  docs/site/content/docs/latest/support-matrix.md
Labels: area/docs, cla-not-required

#2963 package/external-dns: Ensure external-dns e2e test deploys correct version of package
  addons/packages/external-dns/0.10.0/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.10.0/test/go.mod
  addons/packages/external-dns/0.10.0/test/go.sum
  addons/packages/external-dns/0.10.0/test/tools/tools.go
  addons/packages/external-dns/0.8.0/test/e2e/externaldns_test.go
  addons/packages/test/pkg/utils/package_plugin.go
Labels: area/packages, cla-not-required

#3006 Doc - Add/Update doc for OS image step in installer
  docs/site/content/docs/latest/aws-install-mgmt.md
  docs/site/content/docs/latest/azure-install-mgmt.md
  docs/site/content/docs/latest/vsphere-install-mgmt.md
Labels: area/docs, cla-not-required

#3081 Fix typo #3071
  addons/packages/harbor/2.2.3/README.md
  addons/packages/harbor/2.3.3/README.md
Labels: area/packages, area/docs, cla-not-required

#3083 Enable misspell checks on docs
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/aws-standalone-clusters.md
  docs/site/content/docs/assets/azure-clusters.md
  docs/site/content/docs/assets/azure-standalone-clusters.md
  docs/site/content/docs/assets/cli-install-linux.md
  docs/site/content/docs/latest/_index.md
  docs/site/content/docs/latest/designs/package-process.md
  docs/site/content/docs/latest/docker-monitoring-stack.md
  docs/site/content/docs/latest/package-management.md
  docs/site/content/docs/latest/packages-create-example.md
  docs/site/content/docs/latest/tanzu-debugging-tips.md
  docs/site/themes/template/assets/scss/_footer.scss
  docs/site/themes/template/layouts/_default/download.html
  docs/site/themes/template/layouts/partials/footer.html
  docs/site/themes/template/layouts/partials/header.html
  docs/site/themes/template/static/fonts/README.md
  hack/check/.misspellignore
Labels: area/docs, cla-not-required

#3086 Doc - Add variable for latest pkg repo version to doc
  docs/site/config.yaml
  docs/site/content/docs/assets/package-installation.md
  docs/site/layouts/shortcodes/pkg_repo_latest.html
Labels: area/docs, cla-not-required

#2930 Doc - Add doc note on namespaces.
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/latest/package-management.md
Labels: area/docs, cla-not-required

#3097 Doc - Add variable for pkg repo value in doc
  docs/site/content/docs/latest/docker-monitoring-stack.md
  docs/site/content/docs/latest/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#3056 Doc correction in: Deploying a workload cluster
  docs/site/content/docs/latest/workload-clusters.md
Labels: area/docs, cla-not-required

#2945 Added ITQ to ADOPTERS.md
  ADOPTERS.md
  logos/ITQ.png
Labels: area/docs, cla-rejected

#3102 Move misspell to common location
  hack/check/check-misspell.sh
Labels: area/release-eng, cla-not-required

#3105 Dump daily build changelog for debug purposes
  hack/dailybuild/publish-daily-build.sh
Labels: area/release-eng, cla-not-required

#3103 Add kpack logo to packages site page
  docs/site/content/packages/_index.html
  docs/site/themes/template/static/img/packages/kpack.png
Labels: area/docs, cla-not-required

#3111 Perform full release build for check-main
  .github/workflows/check-main.yaml
Labels: cla-not-required

#3134 Add OVA download link to release downloads
  docs/site/data/downloads/0-9-1.yml
  docs/site/themes/template/layouts/partials/download-table.html
Labels: area/docs, cla-not-required

#3137 Add an overlay antreaNSXPodRoutingEnabled to enable pod routing with Antrea NSX
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/package.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#3139 Implements allowing users to set number of nodes for unmanaged-clusters
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
Labels: cla-not-required, area/cli

#3147 Docs: Add missing separator in glossary section
  docs/site/content/docs/latest/glossary.md
Labels: area/docs, cla-not-required

#3148 Remove doc version automation
  docs/site/config.yaml
  hack/release/cut-release.sh
Labels: area/docs, area/release-eng, cla-not-required

#3133 Unmanaged-cluster: resolve kbld images
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image.go
Labels: cla-not-required, area/cli

#3136 Grafana 7.5.7 dashboard fixed
  addons/packages/grafana/7.5.7/bundle/config/overlays/overlay-grafana-dashboard-default.yaml
Labels: area/packages, cla-not-required

#3092 Add multus mtu test
  addons/packages/multus-cni/3.7.1/test/e2e/multihomed-testfiles/simple-macvlan.yaml
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_test.go
Labels: area/packages, cla-not-required

#3160 TCE UI POC - Add a React seed project
  web/tanzu-ui/.gitignore
  web/tanzu-ui/README.md
  web/tanzu-ui/package-lock.json
  web/tanzu-ui/package.json
  web/tanzu-ui/public/favicon.ico
  web/tanzu-ui/public/index.html
  web/tanzu-ui/public/logo192.png
  web/tanzu-ui/public/logo512.png
  web/tanzu-ui/public/manifest.json
  web/tanzu-ui/public/robots.txt
  web/tanzu-ui/src/App.scss
  web/tanzu-ui/src/App.test.tsx
  web/tanzu-ui/src/App.tsx
  web/tanzu-ui/src/index.scss
  web/tanzu-ui/src/index.tsx
  web/tanzu-ui/src/logo.svg
  web/tanzu-ui/src/react-app-env.d.ts
  web/tanzu-ui/src/scss/vars.sass
  web/tanzu-ui/src/setupTests.ts
  web/tanzu-ui/src/shared/components/header/header.component.scss
  web/tanzu-ui/src/shared/components/header/header.component.tsx
  web/tanzu-ui/tsconfig.json
Labels: area/docs, cla-not-required

#3162 Fix the upload of GCP artifacts to bucket
  .github/workflows/build-staging.yaml
  .github/workflows/release-ga-bucket.yaml
  .github/workflows/release-nonga-bucket.yaml
  Makefile
  hack/builder/Makefile
  hack/builder/prep-gcp-tce.sh
  hack/release/prune-buckets.sh
Labels: area/release-eng, cla-not-required

#3161 Standardize adopters logos
  logos/ITQ.png
  logos/terasky.png
Labels: cla-not-required

#3164 Revert publish for normal builds, remove distro on gcp bucket
  Makefile
  hack/builder/Makefile
  hack/release/prune-buckets.sh
Labels: area/release-eng, cla-not-required

#3007 Removes standalone-cluster plugin and all associated bits
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/dependabot.yml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/e2e-aws-standalone-cluster.yaml
  .github/workflows/e2e-azure-standalone-cluster.yaml
  .github/workflows/e2e-vsphere-standalone-cluster.yaml
  METRICS.md
  Makefile
  README.md
  cli/cmd/plugin/standalone-cluster/Makefile
  cli/cmd/plugin/standalone-cluster/README.md
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/errors.go
  cli/cmd/plugin/standalone-cluster/go.mod
  cli/cmd/plugin/standalone-cluster/go.sum
  cli/cmd/plugin/standalone-cluster/main.go
  cli/cmd/plugin/standalone-cluster/test/main.go
  hack/builder/Makefile
  hack/choco/README.md
  hack/choco/test/e2e-test.ps1
  hack/release/install.bat
  hack/release/package-release.sh
  test/README.md
  test/aws/deploy-tce-standalone.sh
  test/azure/deploy-standalone-cluster.sh
  test/build-tce.sh
  test/docker/run-tce-docker-standalone-cluster.sh
  test/download-or-build-tce.sh
  test/e2e/Readme.md
  test/e2e/cluster.go
  test/e2e/e2e.go
  test/e2e/e2e_suite_test.go
  test/release-build-test/check-release-build.ps1
  test/release-build-test/check-release-build.sh
  test/util/utils.sh
  test/vsphere/run-tce-vsphere-standalone-cluster.sh
Labels: area/docs, area/release-eng, cla-not-required, area/cli

#2922 Removal of standalone support mode in Diagnostics plugin
  cli/cmd/plugin/diagnostics/e2e-test/e2e-test.sh
  cli/cmd/plugin/diagnostics/pkg/collect_cmd.go
  cli/cmd/plugin/diagnostics/pkg/collect_standalone.go
  cli/cmd/plugin/diagnostics/pkg/types.go
  cli/cmd/plugin/diagnostics/scripts/standalone_cluster.star
Labels: cla-not-required, area/cli

#3168 Doc - Fix broken link in docs
  docs/site/content/docs/latest/storage.md
Labels: area/docs, cla-not-required

#3150 Implements setting number of nodes for control-plane and workers
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
Labels: cla-not-required, area/cli

#3120 Doc - Update architecture documentation.
  docs/site/content/docs/img/cli-arch.png
  docs/site/content/docs/latest/architecture.md
Labels: area/docs, cla-not-required

#3122 Doc - Update OVA links in doc
  docs/site/content/docs/assets/vsphere-clusters.md
  docs/site/content/docs/img/customer-connect-downloads.png
  docs/site/content/docs/img/customer-connect-ovas.png
  docs/site/content/docs/img/vcenter-convert-to-template.png
  docs/site/content/docs/img/vcenter-import-ovf.png
  docs/site/content/docs/img/vcenter-template-import.png
  docs/site/content/docs/latest/vsphere.md
Labels: area/docs, cla-not-required

#3146 Doc - Update the pkg repo version in docs for 0.10.0 release
  docs/site/config.yaml
Labels: area/docs, cla-not-required

#2820 Add getting started guide for unmanaged cluster
  docs/site/content/docs/assets/create-unmanaged-cluster.md
  docs/site/content/docs/assets/delete-unmanaged-cluster.md
  docs/site/content/docs/assets/direct-download.md
  docs/site/content/docs/assets/install-homebrew.md
  docs/site/content/docs/assets/install-package-to-cluster.md
  docs/site/content/docs/assets/prereq-unmanaged-linux.md
  docs/site/content/docs/assets/prereq-unmanaged-mac.md
  docs/site/content/docs/assets/prereq-unmanaged-windows.md
  docs/site/content/docs/assets/unmanaged-desc.md
  docs/site/content/docs/latest/getting-started-unmanaged.md
  docs/site/content/docs/latest/ref-unmanaged-cluster.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3158 Add v0.10 blog and images
  docs/site/content/posts/05-tce-10-available.md
  docs/site/themes/template/static/img/laptop-user.jpg
Labels: area/docs, cla-not-required

#2862 Doc - Remove standalone cluster doc
  addons/packages/grafana/7.5.7/README.md
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/capd-clusters-windows.md
  docs/site/content/docs/assets/metadata.md
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/assets/prereq-linux.md
  docs/site/content/docs/assets/unmanaged-cluster-note.md
  docs/site/content/docs/latest/aws-install-mgmt.md
  docs/site/content/docs/latest/aws-intro.md
  docs/site/content/docs/latest/aws.md
  docs/site/content/docs/latest/azure-intro.md
  docs/site/content/docs/latest/azure-mgmt.md
  docs/site/content/docs/latest/cli-installation.md
  docs/site/content/docs/latest/contribute/style-guide.md
  docs/site/content/docs/latest/docker-intro.md
  docs/site/content/docs/latest/docker-monitoring-stack.md
  docs/site/content/docs/latest/getting-started.md
  docs/site/content/docs/latest/glossary.md
  docs/site/content/docs/latest/headless-install.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/content/docs/latest/ref-windows-capd.md
  docs/site/content/docs/latest/support-matrix.md
  docs/site/content/docs/latest/tanzu-diagnostics.md
  docs/site/content/docs/latest/tsg-bootstrap.md
  docs/site/content/docs/latest/upgrade-kapp-controller.md
  docs/site/content/docs/latest/vsphere-intro.md
  docs/site/content/docs/latest/vsphere.md
  docs/site/data/docs/latest-toc.yml
Labels: area/packages, area/docs, cla-not-required

#3171 auto-generated - update tce choco install scripts for version 0.10.0
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3176 Fix hash to match v0.10.0 for choco install script
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3173 Use the Windows zip file when updating chocolatey
  hack/choco/update-choco-package.sh
Labels: area/release-eng, cla-not-required

#3177 Update push command based on v0.10.0 release
  hack/choco/README.md
Labels: area/docs, area/release-eng, cla-not-required

#3206 Correct casing of /etc/kubernetes path
  docs/site/content/docs/latest/tsg-bootstrap.md
Labels: area/docs, cla-not-required

#3184 Add start of basic server
  cli/cmd/plugin/ui/api/base.go
  cli/cmd/plugin/ui/api/logger.go
  cli/cmd/plugin/ui/api/router.go
  cli/cmd/plugin/ui/api/v1/runtime.go
  cli/cmd/plugin/ui/go.mod
  cli/cmd/plugin/ui/go.sum
  cli/cmd/plugin/ui/main.go
  cli/cmd/plugin/ui/objects/runtime.go
  cli/cmd/plugin/ui/web/index.html
Labels: cla-not-required, area/cli

#3196 Update cli-install-mac.md
  docs/site/content/docs/assets/cli-install-mac.md
Labels: area/docs

#2865 Bump go version to 1.17
  .github/workflows/build-daily.yaml
  .github/workflows/build-staging.yaml
  .github/workflows/check-actionlint.yaml
  .github/workflows/check-imagelint.yaml
  .github/workflows/check-lint.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-urllint.yaml
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-diagnostics-plugin.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  .github/workflows/package-copy-readmes-to-docs.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga-bucket.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga-bucket.yaml
  .github/workflows/release-nonga.yaml
  .github/workflows/test-pr-external-dns.yaml
  Makefile
  addons/packages/antrea/1.2.3/test/go.mod
  addons/packages/calico/3.11.3/test/go.mod
  addons/packages/calico/3.19.1/test/go.mod
  addons/packages/external-dns/0.10.0/test/go.mod
  addons/packages/external-dns/0.8.0/test/go.mod
  addons/packages/harbor/2.2.3/test/go.mod
  addons/packages/harbor/2.3.3/test/go.mod
  addons/packages/multus-cni/3.7.1/test/go.mod
  addons/packages/pinniped/hack/go.mod
  addons/packages/sriov-network-device-plugin/3.3.2/test/go.mod
  addons/packages/test/pkg/go.mod
  addons/packages/vsphere-cpi/1.22.4/test/go.mod
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  addons/packages/whereabouts/0.5.0/test/go.mod
  cli/cmd/plugin/conformance/go.mod
  cli/cmd/plugin/conformance/go.sum
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/unmanaged-cluster/Makefile
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
  go.mod
  hack/asset/go.mod
  hack/builder/go.mod
  hack/dailybuild/go.mod
  hack/imagelinter/go.mod
  hack/packages/go.mod
  hack/release/release/go.mod
  hack/runner/webhook/go.mod
  hack/tagger/Dockerfile
  hack/tagger/go.mod
  hack/tools/go.mod
  hack/workflows/packages/go.mod
  test/go.mod
Labels: area/packages, area/release-eng, cla-not-required, area/cli

#3214 Update AKO package 1.6.1 crds
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/hostrules.yaml
Labels: area/packages, cla-not-required

#3211 [E2E] Use self hosted AWS EC2 runners for Azure and AWS E2E tests
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-aws-standalone-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-standalone-cluster.yaml
Labels: kind/test-release, cla-not-required

#3227 Use `stg` image repo for `v0.16.0`
  Makefile
Labels: area/release-eng, cla-not-required

#3225 Fix typo in the words kubeconfig and cluster
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
Labels: cla-not-required, area/cli

#3229 Add aviinfrasetting crd to ako operator package
  addons/packages/ako-operator/1.5.0/bundle/config/upstream/akooperator/aviinfrasettings.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/aviinfrasettings.yaml
Labels: area/packages, cla-not-required

#3231 Upgrade Tanzu-Framework to `v0.17.0`
  Makefile
  hack/FRAMEWORK_BUILD_VERSION
  hack/builder/go.mod
  hack/builder/go.sum
Labels: area/release-eng, cla-not-required

#3167 Add control plane tolerations for ako pod
  addons/packages/load-balancer-and-ingress-service/1.4.3/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
Labels: area/packages, cla-not-required

#3240 Expose akoo nsx-t t1 router
  addons/packages/ako-operator/1.5.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/values.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/values.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.yaml
Labels: area/packages, cla-not-required

#3096 Doc - Add missing step to Secure Automated Ingress on AWS topic
  docs/site/content/docs/latest/solutions-secure-ingress.md
Labels: area/docs, cla-not-required

#3241 change the default value of ako operator package
  addons/packages/ako-operator/1.5.0/bundle/config/values.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/values.yaml
Labels: area/packages, cla-not-required

#3255 Deploy aviinfra setting only in workload cluster to fix ako upgrade issue
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/aviinfrasettings.yaml
Labels: area/packages, cla-not-required

#3256 Fix in-yaml fancy quotes in the secure-ingress guide
  docs/site/content/docs/latest/solutions-secure-ingress.md
Labels: area/docs, cla-not-required

#3260 Fail install if sudo access fails
  hack/release/install.sh
Labels: area/release-eng, cla-not-required

#3244 adjust harbor e2e test get package version
  addons/packages/harbor/2.2.3/test/e2e/harbor_suite_test.go
  addons/packages/harbor/2.3.3/test/e2e/harbor_suite_test.go
Labels: area/packages, cla-not-required

#3266 Fix install.sh sudo failure handling
  hack/release/install.sh
Labels: area/release-eng, cla-not-required

#3268 Windows: hide error deleting non-existent path
  hack/release/install.bat
Labels: area/release-eng, cla-not-required

#3219 TCE UI - Use Go embed to include and serve UI static files in plugin
  cli/cmd/plugin/ui/Makefile
  cli/cmd/plugin/ui/main.go
  cli/cmd/plugin/ui/web/index.html
  cli/cmd/plugin/ui/web/tanzu-ui/.env
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  hack/tools/Makefile
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/tools.go
Labels: area/release-eng, cla-not-required, area/cli

#3072 Propsal design doc: unmanaged-cluster exit codes
  docs/designs/3025-unmanaged-exit-codes.md
Labels: area/docs, cla-not-required

#3276 Add README for the conformance plugin
  cli/cmd/plugin/conformance/README.md
Labels: area/docs, cla-not-required, area/cli
