Repository vmware-tanzu/community-edition, pull requests merged in 2022-04, with the labels that each got.

#3862 fix: tlsCertificateSecretName in harbor package 2.3.3
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-core.yaml
  addons/packages/harbor/2.3.3/package.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/tls-certificate-secret-name.yaml
Labels: area/packages, cla-not-required

#3856 [package/external-dns] Add external-dns 0.11.0 package
  addons/packages/external-dns/0.11.0/README.md
  addons/packages/external-dns/0.11.0/bundle/.imgpkg/bundle.yml
  addons/packages/external-dns/0.11.0/bundle/.imgpkg/images.yml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/assertions.yaml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-clusterrole.yaml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/external-dns/0.11.0/bundle/config/overlays/overlay-serviceaccount.yaml
  addons/packages/external-dns/0.11.0/bundle/config/upstream/external-dns-clusterrole.yaml
  addons/packages/external-dns/0.11.0/bundle/config/upstream/external-dns-clusterrolebinding.yaml
  addons/packages/external-dns/0.11.0/bundle/config/upstream/external-dns-deployment.yaml
  addons/packages/external-dns/0.11.0/bundle/config/upstream/external-dns-serviceaccount.yaml
  addons/packages/external-dns/0.11.0/bundle/config/values.yaml
  addons/packages/external-dns/0.11.0/bundle/kbld-config.yml
  addons/packages/external-dns/0.11.0/bundle/vendir.lock.yml
  addons/packages/external-dns/0.11.0/bundle/vendir.yml
  addons/packages/external-dns/0.11.0/images/create-ns-record.png
  addons/packages/external-dns/0.11.0/images/create-policy-step1.png
  addons/packages/external-dns/0.11.0/images/create-policy-step2.png
  addons/packages/external-dns/0.11.0/images/create-user-step1.png
  addons/packages/external-dns/0.11.0/images/create-user-step2.png
  addons/packages/external-dns/0.11.0/images/create-user-step3.png
  addons/packages/external-dns/0.11.0/images/create-user-step4.png
  addons/packages/external-dns/0.11.0/package.yaml
  addons/packages/external-dns/0.11.0/test/Makefile
  addons/packages/external-dns/0.11.0/test/README.md
  addons/packages/external-dns/0.11.0/test/e2e/externaldns_suite_test.go
  addons/packages/external-dns/0.11.0/test/e2e/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/bind-deployment.yaml
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/dnsutils-pod.yaml
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/kuard-deployment.yaml
  addons/packages/external-dns/0.11.0/test/go.mod
  addons/packages/external-dns/0.11.0/test/go.sum
  addons/packages/external-dns/0.11.0/test/tools/tools.go
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_suite_test.go
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/expected/minimal-configuration.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-args-no-provider.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-args-no-source.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-env-vars.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-security-context.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/deployment-volumes.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/minimal-configuration.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/namespace.yaml
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/values/serviceaccount-annotations.yaml
Labels: area/packages, area/docs, cla-not-required

#3816 Bumps the `go-containerregistry` dependency in hack/tagger
  hack/tagger/go.mod
  hack/tagger/go.sum
Labels: area/release-eng, cla-not-required

#3871 Update the version chooser
  docs/site/themes/template/layouts/_default/versions.html
Labels: area/docs, cla-not-required

#3873 remove aws access-key-id and secret-access-key flags
  test/util/aws-nuke-tear-down.sh
Labels: area/release-eng, cla-not-required

#3880 fix typo in bootstrap
  docs/site/content/docs/tanzu-diagnostics.md
Labels: area/docs, cla-not-required

#3887 Fix broken link, typos and minor edits
  docs/site/content/docs/docker-monitoring-stack.md
Labels: area/docs, cla-not-required

#3827 Implements `unmanaged-cluster` profiles
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/main.go
  cli/cmd/plugin/unmanaged-cluster/packages/packages.go
  cli/cmd/plugin/unmanaged-cluster/semver/semver.go
  cli/cmd/plugin/unmanaged-cluster/semver/semver_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/codes.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#3808 kapp-controller: v0.30.2
  addons/packages/kapp-controller/0.30.2/README.md
  addons/packages/kapp-controller/0.30.2/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.30.2/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.30.2/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.30.2/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.30.2/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.30.2/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.2/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.30.2/bundle/config/values.star
  addons/packages/kapp-controller/0.30.2/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.2/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.30.2/bundle/vendir.yml
  addons/packages/kapp-controller/0.30.2/package.yaml
Labels: area/packages, area/docs, cla-not-required

#3890 make kapp-controller maintainers evergreen
  addons/packages/kapp-controller/metadata.yaml
Labels: area/packages, cla-not-required

#3867 TCE UI: Cleanup of file naming
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/vsphere.auth.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/header/HeaderBar.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/header/HeaderBar.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/side-navigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Websocket.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Reducer.utils.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/App.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/actionTypes.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/app.actions.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/App.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/app.reducer.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/temp/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/temp/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: area/cli, area/ui

#3897 Fix typo in app-toolkit README.md
  addons/packages/app-toolkit/0.1.0/README.md
Labels: area/packages, area/docs, cla-not-required

#3900 Clean up configured linters in golangci-lint
  .github/workflows/check-lint.yaml
  .golangci.yaml
Labels: cla-not-required

#3904 Clean up imagelinter
  .github/workflows/check-imagelint.yaml
  hack/check/imagelinter/main.go
  hack/check/imagelinter/pkg/imagewrapper/wrapper.go
  hack/check/imagelinter/pkg/lint/imagelint.go
Labels: area/release-eng, cla-not-required

#3866 Update Gatekeeper package version #3833
  addons/packages/gatekeeper/3.2.3/package.yaml
Labels: area/packages, cla-not-required

#3913 Designates CODEOWNERS for `vsphere-pv-csi` package
  CODEOWNERS
Labels: cla-not-required

#3854 Hook Up Daily Build to All E2Es Plus More SPEEEEED!
  .github/workflows/build-daily.yaml
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  .github/workflows/housekeeping-stale-bot.yaml
  Makefile
  test/aws/deploy-tce-managed.sh
  test/azure/deploy-management-and-workload-cluster.sh
  test/build-tce.sh
  test/docker/run-tce-docker-managed-cluster.sh
  test/download-or-build-tce.sh
  test/e2e/install.go
  test/install-dependencies.sh
Labels: area/release-eng, cla-not-required

#3896 Provide clarifications and troubleshooting to App Toolkit Readme (#3848)
  addons/packages/app-toolkit/0.1.0/README.md
Labels: area/packages, area/docs, cla-not-required

#3868 One Stop Shop to Change Tanzu Framework Version
  Makefile
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/diagnostics/go.sum
Labels: area/release-eng, cla-not-required, area/cli

#3861 UI Plugin: created a wizard component
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/ClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DependencyMap.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/TestRender.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/App.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/form.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
Labels: cla-not-required, area/cli

#3819 Add troubleshooting FAQ for inotify watch issues
  docs/site/content/docs/faq-cluster-bootstrapping.md
Labels: area/docs, cla-not-required

#3927 UI Plugin: Add openapi-typescript-codegen and scripts
  cli/cmd/plugin/ui/web/tanzu-ui/.gitignore
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/tsconfig.json
Labels: cla-not-required, area/cli, area/ui

#3929 Fix E2Es when doing fresh build
  test/download-or-build-tce.sh
Labels: area/release-eng, cla-not-required

#3908 addons/packages/pinniped: create pinniped-info from package
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-info-cm.yaml
Labels: area/packages, cla-not-required

#3891 Tmc doc minor
  docs/site/content/docs/tmc-register.md
Labels: area/docs, cla-not-required

#3938 Throttle urllint requests
  hack/check/urllinter/pkg/lint/lint.go
Labels: area/release-eng, cla-not-required

#3937 Run dependency check action
  .github/workflows/check-dependencies.yaml
Labels: cla-not-required

#3947 Remove service from 1.21.3. Add data-values-hash to 1.21.3 and 1.20.1…
  addons/packages/vsphere-cpi/1.20.1/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.20.1/test/Makefile
  addons/packages/vsphere-cpi/1.20.1/test/README.md
  addons/packages/vsphere-cpi/1.20.1/test/go.mod
  addons/packages/vsphere-cpi/1.20.1/test/go.sum
  addons/packages/vsphere-cpi/1.20.1/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.20.1/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/04-service.yaml
  addons/packages/vsphere-cpi/1.21.3/test/Makefile
  addons/packages/vsphere-cpi/1.21.3/test/README.md
  addons/packages/vsphere-cpi/1.21.3/test/go.mod
  addons/packages/vsphere-cpi/1.21.3/test/go.sum
  addons/packages/vsphere-cpi/1.21.3/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.21.3/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#3943 UI Plugin: add/remove form validation dynamically
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/vsphere.auth.form.schema.ts
Labels: cla-not-required, area/cli

#3922 Modify harbor 2.3.3 ipFamilies values and unittests
  addons/packages/harbor/2.3.3/bundle/config/overlay/update-portal.yaml
  addons/packages/harbor/2.3.3/bundle/config/values.star
  addons/packages/harbor/2.3.3/bundle/config/values.yaml
  addons/packages/harbor/2.3.3/package.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/ipv4-and-ipv6.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/ipv4-only.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/expected/ipv6-only.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/ipv4-and-ipv6.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/ipv4-only.yaml
  addons/packages/harbor/2.3.3/test/unittest/fixtures/values/ipv6-only.yaml
  addons/packages/harbor/2.3.3/test/unittest/harbor_test.go
Labels: area/packages, cla-not-required

#3949 update harbor package2.4.2 ipFamilies values && unittest
  addons/packages/harbor/2.4.2/bundle/config/overlay/update-portal.yaml
  addons/packages/harbor/2.4.2/bundle/config/values.star
  addons/packages/harbor/2.4.2/bundle/config/values.yaml
  addons/packages/harbor/2.4.2/package.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/expected/ipv4-and-ipv6.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/expected/ipv4-only.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/expected/ipv6-only.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/values/ipv4-and-ipv6.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/values/ipv4-only.yaml
  addons/packages/harbor/2.4.2/test/unittest/fixtures/values/ipv6-only.yaml
  addons/packages/harbor/2.4.2/test/unittest/harbor_test.go
Labels: area/packages, cla-not-required

#3944 UI: Fix docker build of UI files
  Makefile
  cli/cmd/plugin/ui/Makefile
Labels: area/release-eng, cla-not-required, area/cli

#3933 UI: Add API endpoint to check container runtime
  cli/cmd/plugin/ui/api/spec.yaml
  cli/cmd/plugin/ui/main.go
  cli/cmd/plugin/ui/pkg/containerruntime/get.go
  cli/cmd/plugin/ui/server/models/runtime_info.go
  cli/cmd/plugin/ui/server/restapi/configure_tanzu_ui.go
  cli/cmd/plugin/ui/server/restapi/embedded_spec.go
  cli/cmd/plugin/ui/server/restapi/operations/runtime/get_container_runtime_info.go
  cli/cmd/plugin/ui/server/restapi/operations/runtime/get_container_runtime_info_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/runtime/get_container_runtime_info_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/runtime/get_container_runtime_info_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/tanzu_ui_api.go
  cli/cmd/plugin/ui/server/restapi/server.go
  cli/cmd/plugin/ui/server/serve.go
  cli/cmd/plugin/ui/web/tanzu-ui/build/README.md
Labels: area/docs, cla-not-required, area/cli

#3954 [E2E] Fix installation procedure for daily build E2E runs
  test/download-or-build-tce.sh
Labels: area/release-eng, cla-not-required

#3925 Added new blog post on managed and unmanaged clusters
  docs/site/content/posts/07-tce-unmanaged-managed-clusters.md
  docs/site/themes/template/static/img/Cluster-Container-img2.png
  docs/site/themes/template/static/img/K8s-Cluster-img1.png
  docs/site/themes/template/static/img/mgmt-cluster-controlplane-img3.png
Labels: area/docs, cla-not-required

#3801 [release-0.11] update syntax highlighting for vsphere wl template (#3640)
  docs/site/content/docs/vsphere-wl-template.md
Labels: area/docs, cla-not-required

#3959 Add utility for parallel lint execution
  .github/workflows/check-all.yaml
  Makefile
  hack/check/makerunner.go
Labels: area/release-eng, cla-not-required

#3974 `unmanaged-cluster` delete command returns error code on error
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3976 supports unmanaged-cluster port forward listen address
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/minikube.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
Labels: cla-not-required, area/cli

#3979 Change tagger to only run once and not a loop
  hack/tagger/main.go
Labels: area/release-eng, cla-not-required

#3804 Add start and stop lifecycle hooks for unmanaged-clusters
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/minikube.go
  cli/cmd/plugin/unmanaged-cluster/cluster/noop.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/cmd/start.go
  cli/cmd/plugin/unmanaged-cluster/cmd/stop.go
  cli/cmd/plugin/unmanaged-cluster/main.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3914 `unmanaged-cluster` merging kind configs
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind_test.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#3981 Resolve minikube image via kubernetes version
  cli/cmd/plugin/unmanaged-cluster/cluster/minikube.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: cla-not-required, area/cli

#3980 Implements unamanged-cluster local file tkr discovery
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#3989 Fix lint issues on unmanaged-cluster
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/start.go
  cli/cmd/plugin/unmanaged-cluster/cmd/stop.go
Labels: cla-not-required, area/cli

#3988 Set provider to none for existing clusters we bootstrap against
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: cla-not-required, area/cli

#3987 Ensure minikube cluster isn't nil (missing) before resolving fields
  cli/cmd/plugin/unmanaged-cluster/cluster/minikube.go
Labels: cla-not-required, area/cli

#3995 auto-generated - update package documentation
  docs/site/content/docs/package-readme-cert-manager-1.5.5.md
  docs/site/content/docs/package-readme-cert-manager-1.6.3.md
  docs/site/content/docs/package-readme-cert-manager-1.7.2.md
  docs/site/content/docs/package-readme-cert-manager-1.8.0.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#3985 Add vsphere-cpi package version 1.23.0
  addons/packages/vsphere-cpi/1.23.0/README.md
  addons/packages/vsphere-cpi/1.23.0/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.23.0/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.0/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.0/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.23.0/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.23.0/package.yaml
  addons/packages/vsphere-cpi/1.23.0/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.23.0/test/Makefile
  addons/packages/vsphere-cpi/1.23.0/test/README.md
  addons/packages/vsphere-cpi/1.23.0/test/go.mod
  addons/packages/vsphere-cpi/1.23.0/test/go.sum
  addons/packages/vsphere-cpi/1.23.0/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.23.0/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#3997 Fix Typo in app-toolkit test readme.md
  addons/packages/app-toolkit/0.1.0/test/README.md
Labels: area/packages, area/docs, cla-not-required, package/app-toolkit

#3978 Add `make check-full` to make `check` more useful
  .github/workflows/check-all.yaml
  Makefile
  hack/check/makerunner.go
Labels: area/release-eng, cla-not-required

#3865 Optimize url check to just use HEAD
  hack/check/urllinter/pkg/lint/lint.go
Labels: area/release-eng, cla-not-required

#4003 Implements `*dev` tags working with compatibility file
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#4006 Adding Run Id and Attempt no in Diagnostics Data for e2e test workflow
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
Labels: area/release-eng, cla-not-required

#3998 Generically allow plugins from external repos
  Makefile
  hack/release/install.bat
  hack/release/install.sh
  hack/release/prune-buckets.sh
Labels: area/release-eng, cla-not-required

#3942 Support identity_management_type: none for workload clusters in pinniped templates
  addons/packages/pinniped/0.12.1/bundle/config/overlay/dex-certs-selfsigned.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/kapp-config.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-cert.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-federationdomain.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-idp.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-info-cm.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-jwtauthenticator.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/pinniped-supervisor-svc.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/post-deploy-overlay.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/01-pinniped-supervisor.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/02-pinniped-concierge.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/03-post-deploy.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/04-pinniped-info-rbac.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/05-cluster-info-rbac.yaml
  addons/packages/pinniped/0.12.1/bundle/config/values.star
  addons/packages/pinniped/0.12.1/bundle/examples/mc-idp-type-none.yaml
  addons/packages/pinniped/0.12.1/bundle/examples/wlc-idp-type-none.yaml
  addons/packages/pinniped/0.12.1/bundle/examples/wlc-ldap.yaml
  addons/packages/pinniped/0.12.1/bundle/examples/wlc-oidc.yaml
  addons/packages/pinniped/0.12.1/package.yaml
Labels: area/packages, cla-not-required

#4015 Switch test builds from fake to test
  Makefile
Labels: area/release-eng, cla-not-required

#4013 UI Plugin: Introduce React unit tests
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/ClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/TestRender.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
Labels: cla-not-required, area/cli, area/ui

#3941 Add kpack-dependencies package
  addons/packages/kpack-dependencies/0.0.9/README.md
  addons/packages/kpack-dependencies/0.0.9/package.yaml
  addons/packages/kpack-dependencies/metadata.yaml
  addons/packages/kpack-dependencies/vendir.lock.yml
  addons/packages/kpack-dependencies/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4002 cert-manager package clean up #4001
  addons/packages/cert-manager/1.7.2/test/e2e/cert_manager_suite_test.go
  addons/packages/cert-manager/1.8.0/bundle/config/values.yaml
  addons/packages/cert-manager/1.8.0/package.yaml
  addons/packages/cert-manager/1.8.0/test/e2e/cert_manager_suite_test.go
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#3923 cartographer: bump to 0.3.0
  addons/packages/cartographer/0.3.0/README.md
  addons/packages/cartographer/0.3.0/package.yaml
  addons/packages/cartographer/vendir.lock.yml
  addons/packages/cartographer/vendir.yml
  test/smoke/Makefile
  test/smoke/packages/cartographer/0.3.0/cartographer-test.sh
  test/smoke/packages/cartographer/0.3.0/testdata.yaml
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#4017 Builds new tkr bom for `v0.12.0`
  hack/release/tkr-bom.yaml
Labels: area/release-eng, cla-not-required

#3999 Implements and reconciles command flags for config options in `unmanaged-cluster`
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
Labels: cla-not-required, area/cli

#4032 Tce installer poc
  .gitignore
  CONTRIBUTING.md
  README.md
  concierge/.gitignore
  concierge/README.md
  concierge/deprecated/.babelrc
  concierge/deprecated/package-lock.json
  concierge/deprecated/package.json
  concierge/deprecated/tsconfig.json
  concierge/deprecated/webpack.build.config.js
  concierge/deprecated/webpack.dev.config.js
  concierge/package-lock.json
  concierge/package.json
  concierge/src/assets/css/Concierge.css
  concierge/src/assets/tce-logo.icns
  concierge/src/assets/tce-logo.ico
  concierge/src/backend/tanzu-editions.ts
  concierge/src/backend/tanzu-exec-util.ts
  concierge/src/backend/tanzu-install-darwin.ts
  concierge/src/backend/tanzu-install-util.ts
  concierge/src/backend/tanzu-install-win32.ts
  concierge/src/backend/tanzu-install.ts
  concierge/src/electron.ts
  concierge/src/frontend/App.tsx
  concierge/src/frontend/components/Concierge.tsx
  concierge/src/frontend/components/ExistingInstallation.tsx
  concierge/src/frontend/components/Install.tsx
  concierge/src/frontend/components/SelectBox.tsx
  concierge/src/frontend/components/SelectInstallation.tsx
  concierge/src/frontend/components/Welcome.tsx
  concierge/src/frontend/index.html
  concierge/src/frontend/index.scss
  concierge/src/models/installation.ts
  concierge/src/models/messages.ts
  concierge/src/models/progressMessage.ts
  concierge/src/os-platform.ts
  concierge/src/tanzu-releases/README.md
  concierge/src/utils.ts
  concierge/tsconfig.json
  concierge/webpack.config.js
Labels: area/docs, cla-not-required, area/ui

#4011 Fixes unmanaged-cluster `kind` provider setting incorrect port protocol
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
Labels: cla-not-required, area/cli

#3825 Add local-path-storage 0.0.22
  addons/packages/local-path-storage/0.0.22/Dockerfile
  addons/packages/local-path-storage/0.0.22/README.md
  addons/packages/local-path-storage/0.0.22/bundle/.imgpkg/bundle.yaml
  addons/packages/local-path-storage/0.0.22/bundle/.imgpkg/images.yml
  addons/packages/local-path-storage/0.0.22/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/local-path-storage/0.0.22/bundle/config/overlays/overlay-storageclass.yaml
  addons/packages/local-path-storage/0.0.22/bundle/config/upstream/local-path-storage.yaml/local-path-storage.yaml
  addons/packages/local-path-storage/0.0.22/bundle/config/values.yaml
  addons/packages/local-path-storage/0.0.22/bundle/kbld-config.yaml
  addons/packages/local-path-storage/0.0.22/bundle/vendir.lock.yml
  addons/packages/local-path-storage/0.0.22/bundle/vendir.yml
  addons/packages/local-path-storage/0.0.22/package.yaml
  addons/packages/local-path-storage/0.0.22/test/Makefile
  addons/packages/local-path-storage/0.0.22/test/README.md
  addons/packages/local-path-storage/0.0.22/test/e2e/local_path_storage_suite_test.go
  addons/packages/local-path-storage/0.0.22/test/e2e/local_path_storage_test.go
  addons/packages/local-path-storage/0.0.22/test/go.mod
  addons/packages/local-path-storage/0.0.22/test/go.sum
  addons/packages/local-path-storage/0.0.22/test/tools.go
  addons/packages/local-path-storage/0.0.22/test/unittest/fixtures/expected/default.yaml
  addons/packages/local-path-storage/0.0.22/test/unittest/fixtures/expected/namespace.yaml
  addons/packages/local-path-storage/0.0.22/test/unittest/fixtures/values/custom-namespace.yaml
  addons/packages/local-path-storage/0.0.22/test/unittest/fixtures/values/default.yaml
  addons/packages/local-path-storage/0.0.22/test/unittest/suite_test.go
  addons/packages/local-path-storage/0.0.22/test/unittest/unit_test.go
  addons/packages/local-path-storage/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#3960 Adding fluxcd kustomize controller v0.21.1 in TCE
  addons/packages/fluxcd-kustomize-controller/0.21.1/README.md
  addons/packages/fluxcd-kustomize-controller/0.21.1/package.yaml
  addons/packages/fluxcd-kustomize-controller/metadata.yaml
  addons/packages/fluxcd-kustomize-controller/vendir.lock.yml
  addons/packages/fluxcd-kustomize-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#3815 Bump whereabouts version to 0.5.1
  addons/packages/whereabouts/0.5.1/Dockerfile
  addons/packages/whereabouts/0.5.1/README.md
  addons/packages/whereabouts/0.5.1/bundle/.imgpkg/bundle.yml
  addons/packages/whereabouts/0.5.1/bundle/.imgpkg/images.yml
  addons/packages/whereabouts/0.5.1/bundle/config/overlay/overlay-daemonset-install.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/overlay/overlay-ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/upstream/daemonset-install.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/upstream/ip-reconciler-job.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/upstream/whereabouts.cni.cncf.io_ippools.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/upstream/whereabouts.cni.cncf.io_overlappingrangeipreservations.yaml
  addons/packages/whereabouts/0.5.1/bundle/config/values.yaml
  addons/packages/whereabouts/0.5.1/bundle/vendir.lock.yml
  addons/packages/whereabouts/0.5.1/bundle/vendir.yml
  addons/packages/whereabouts/0.5.1/package.yaml
  addons/packages/whereabouts/0.5.1/test/Makefile
  addons/packages/whereabouts/0.5.1/test/README.md
  addons/packages/whereabouts/0.5.1/test/e2e/test_assets/mult.yaml
  addons/packages/whereabouts/0.5.1/test/e2e/test_assets/multi_nic_pod.yaml
  addons/packages/whereabouts/0.5.1/test/e2e/test_assets/whereabouts_values.yaml
  addons/packages/whereabouts/0.5.1/test/e2e/whereabouts_suite_test.go
  addons/packages/whereabouts/0.5.1/test/e2e/whereabouts_test.go
  addons/packages/whereabouts/0.5.1/test/go.mod
  addons/packages/whereabouts/0.5.1/test/go.sum
  addons/packages/whereabouts/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#4042 Update Governance for 1 PR approver #4041
  GOVERNANCE.md
Labels: area/docs, cla-not-required

#3956 Switch App-Toolkit example to use kpack ClusterBuilder
  addons/packages/app-toolkit/0.1.0/README.md
  addons/packages/app-toolkit/0.1.0/test/app-toolkit-test.go
  addons/packages/app-toolkit/0.1.0/test/example_sc/builder.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/developer-namespace.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/kpack-dependencies.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/supplychain-templates.yaml
  addons/packages/app-toolkit/0.1.0/test/rbac.yaml
Labels: area/packages, area/docs, cla-not-required

#4046 Update CODEOWNERS #4008
  CODEOWNERS
Labels: cla-not-required

#3744 Add calico v3.22.1 package
  addons/packages/calico-ce/3.22.1/package.yaml
  addons/packages/calico-ce/metadata.yaml
  addons/packages/calico/3.22.1/README.md
  addons/packages/calico/3.22.1/bundle/.imgpkg/bundle.yaml
  addons/packages/calico/3.22.1/bundle/.imgpkg/images.yml
  addons/packages/calico/3.22.1/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/upstream/calico.yaml
  addons/packages/calico/3.22.1/bundle/config/values.star
  addons/packages/calico/3.22.1/bundle/config/values.yaml
  addons/packages/calico/3.22.1/bundle/vendir.lock.yml
  addons/packages/calico/3.22.1/bundle/vendir.yml
  addons/packages/calico/3.22.1/package.yaml
  addons/packages/calico/3.22.1/test/Makefile
  addons/packages/calico/3.22.1/test/README.md
  addons/packages/calico/3.22.1/test/calico_suite_test.go
  addons/packages/calico/3.22.1/test/calico_test.go
  addons/packages/calico/3.22.1/test/go.mod
  addons/packages/calico/3.22.1/test/go.sum
  addons/packages/calico/metadata.yaml
  addons/repos/core.yaml
Labels: area/packages, area/docs, cla-not-required

#4014 kapp-controller: 0.35.0 release
  addons/packages/kapp-controller/0.35.0/README.md
  addons/packages/kapp-controller/0.35.0/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.35.0/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/values.star
  addons/packages/kapp-controller/0.35.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.35.0/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.35.0/bundle/vendir.yml
  addons/packages/kapp-controller/0.35.0/package.yaml
Labels: area/packages, area/docs, cla-not-required

#4009 Fixes unmanaged minikube driver not setting container-runtime or raw extra args
  cli/cmd/plugin/unmanaged-cluster/cluster/minikube.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#4031 Removes go source semver library in place of carvel-vendir lib
  cli/cmd/plugin/unmanaged-cluster/semver/semver.go
  cli/cmd/plugin/unmanaged-cluster/semver/semver_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#4035 Fix test badge link in README
  README.md
Labels: area/docs, cla-not-required

#4030 Remove default redirect for docs and update Hugo version
  docs/site/netlify.toml
  docs/site/themes/template/layouts/index.redirects
Labels: area/docs, cla-not-required

#3810 e2e test for unmanaged-cluster
  .github/workflows/e2e-unmanaged-cluster.yaml
  Makefile
  addons/packages/external-dns/0.10.0/test/tools/tools.go
  addons/packages/external-dns/0.11.0/test/tools/tools.go
  addons/packages/harbor/2.2.3/test/tools.go
  addons/packages/harbor/2.3.3/test/tools.go
  addons/packages/harbor/2.4.2/test/tools.go
  cli/cmd/plugin/unmanaged-cluster/Makefile
  cli/cmd/plugin/unmanaged-cluster/test/e2e/Readme.md
  cli/cmd/plugin/unmanaged-cluster/test/e2e/e2e_suite_test.go
  cli/cmd/plugin/unmanaged-cluster/test/e2e/utils/cli.go
  hack/builder/builder.go
  hack/check/tools/tools.go
  hack/ensure-deps/ensure-docker.sh
Labels: area/packages, area/docs, area/release-eng, cla-not-required, area/cli

#4056 Fix merge conflicts-minor doc
  docs/site/content/docs/docker-monitoring-stack.md
Labels: area/docs, cla-not-required

#4057 Revert "Fix merge conflicts-minor doc"
  docs/site/content/docs/docker-monitoring-stack.md
Labels: area/docs, cla-not-required

#4049 Renames `unmanaged-clsuter` profiles to install-packages
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/codes.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#4043 Splits GettingStarted into GettingStarted and MC landing; adds WC landing
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterLanding.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterLanding.tsx
Labels: cla-not-required, area/cli

#3915 community page content updates
  docs/site/content/community/_index.html
Labels: area/docs

#4045 Update tagger to check new packages #4029
  hack/tagger/main.go
Labels: area/release-eng, cla-not-required

#4062 Fix GCP Upload for Staging and Release
  .github/workflows/build-staging.yaml
  .github/workflows/release-bucket.yaml
Labels: cla-not-required

#4065 Updates compatibility file to reflect v0.12.0 rc release
  cli/cmd/plugin/unmanaged-cluster/hack/tce-compatibility.yaml
Labels: cla-not-required, area/cli

#4022 UI Plugin: added mock data for all provider
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/app.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/conf/paths.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/aws.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/azure.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/common.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/docker.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/vsphere.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/common-avi-clouds.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/common-avi-serviceenginegroups.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/common-avi-vipnetworks.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/common-features.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/common-providers.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-az.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-credentials.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-import.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-nodetypes.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-osimages.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-profiles.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-regions.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-subnets.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-vpc.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-credentials.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-import.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-instancetypes.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-osimages.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-regions.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-resourcegroups.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-azure-vnets.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-docker-export.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-docker-import.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-compute.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-connect.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-datacenters.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-datastores.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-folders-1.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-folders-2.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-import.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-networks-1.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-networks.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-osimages.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-resourcepools-1.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-resourcepools.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-thumbprint.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/restApiEndpoints.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/services/util.js
Labels: cla-not-required, area/cli

#3822 Add Gatekeeper 3.7.1 package
  addons/packages/gatekeeper/3.7.1/README.md
  addons/packages/gatekeeper/3.7.1/bundle/.imgpkg/bundle.yml
  addons/packages/gatekeeper/3.7.1/bundle/.imgpkg/images.yml
  addons/packages/gatekeeper/3.7.1/bundle/config/overlays/overlay-changerules.yaml
  addons/packages/gatekeeper/3.7.1/bundle/config/overlays/overlay-deletepsp.yaml
  addons/packages/gatekeeper/3.7.1/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/gatekeeper/3.7.1/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/gatekeeper/3.7.1/bundle/config/upstream/gatekeeper.yaml
  addons/packages/gatekeeper/3.7.1/bundle/config/values.yaml
  addons/packages/gatekeeper/3.7.1/bundle/vendir.lock.yml
  addons/packages/gatekeeper/3.7.1/bundle/vendir.yml
  addons/packages/gatekeeper/3.7.1/package.yaml
  addons/packages/gatekeeper/3.7.1/test/Makefile
  addons/packages/gatekeeper/3.7.1/test/README.md
  addons/packages/gatekeeper/3.7.1/test/e2e/fixtures/constraint.yaml
  addons/packages/gatekeeper/3.7.1/test/e2e/fixtures/k8srequiredlabels.yaml
  addons/packages/gatekeeper/3.7.1/test/e2e/fixtures/label_on_namespace.yaml
  addons/packages/gatekeeper/3.7.1/test/e2e/fixtures/mutations.yaml
  addons/packages/gatekeeper/3.7.1/test/e2e/fixtures/values.yaml
  addons/packages/gatekeeper/3.7.1/test/e2e/gatekeeper_suite_test.go
  addons/packages/gatekeeper/3.7.1/test/e2e/gatekeeper_test.go
  addons/packages/gatekeeper/3.7.1/test/go.mod
  addons/packages/gatekeeper/3.7.1/test/go.sum
  addons/packages/gatekeeper/3.7.1/test/tools.go
  addons/packages/gatekeeper/3.7.1/test/unittest/fixtures/expected/default.yaml
  addons/packages/gatekeeper/3.7.1/test/unittest/fixtures/expected/namespace.yaml
  addons/packages/gatekeeper/3.7.1/test/unittest/fixtures/values/custom-namespace.yaml
  addons/packages/gatekeeper/3.7.1/test/unittest/fixtures/values/default.yaml
  addons/packages/gatekeeper/3.7.1/test/unittest/suite_test.go
  addons/packages/gatekeeper/3.7.1/test/unittest/unit_test.go
  addons/packages/gatekeeper/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#4081 Adding env variable BUILD_VERSION in Unmanaged cluster e2e test
  Makefile
Labels: area/release-eng, cla-not-required

#4086 Blog: make doc links go to specific version
  CONTRIBUTING.md
  README.md
  docs/designs/2730-visibility.md
  docs/designs/2967-package-image-vulnerability-scanning.md
  docs/developer/app-toolkit.md
  docs/site/content/posts/03-five-ways-to-begin.md
  docs/site/content/posts/07-tce-unmanaged-managed-clusters.md
Labels: area/docs, cla-not-required

#4091 Updates `unmanaged-cluster` compatibility file to support the `v0.12.0` RC 2 release
  cli/cmd/plugin/unmanaged-cluster/hack/tce-compatibility.yaml
  hack/release/tkr-bom.yaml
Labels: area/release-eng, cla-not-required, area/cli

#4097 Adding badge to show status of UC e2e-test in readme
  .github/workflows/e2e-unmanaged-cluster.yaml
  README.md
Labels: area/docs, cla-not-required

#4094 UI Plugin: Add elements to welcome screen per mockups
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterLanding.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/temp/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterLanding.tsx
Labels: area/cli, area/ui

#4103 UI: Add AWS API handlers
  cli/cmd/plugin/ui/api/spec.yaml
  cli/cmd/plugin/ui/go.mod
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/aws.go
  cli/cmd/plugin/ui/server/handlers/common.go
  cli/cmd/plugin/ui/server/handlers/docker.go
  cli/cmd/plugin/ui/server/models/a_w_s_management_cluster_params.go
  cli/cmd/plugin/ui/server/models/azure_management_cluster_params.go
  cli/cmd/plugin/ui/server/models/docker_management_cluster_params.go
  cli/cmd/plugin/ui/server/models/vsphere_management_cluster_params.go
  cli/cmd/plugin/ui/server/restapi/configure_tanzu_ui.go
  cli/cmd/plugin/ui/server/restapi/embedded_spec.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/apply_t_k_g_config_for_a_w_s_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_management_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_management_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_management_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_management_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_regional_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/create_a_w_s_regional_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/export_t_k_g_config_for_a_w_s_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/import_t_k_g_config_for_a_w_s_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/apply_t_k_g_config_for_azure_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_management_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_management_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_management_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_management_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_regional_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/create_azure_regional_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/export_t_k_g_config_for_azure_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/azure/import_t_k_g_config_for_azure_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/apply_t_k_g_config_for_docker_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_management_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_management_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_management_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_management_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_regional_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/create_docker_regional_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/export_t_k_g_config_for_docker_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/docker/import_t_k_g_config_for_docker_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/tanzu_ui_api.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/apply_t_k_g_config_for_vsphere_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_management_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_management_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_management_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_management_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_regional_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/create_v_sphere_regional_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/export_t_k_g_config_for_vsphere_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/vsphere/import_t_k_g_config_for_vsphere_responses.go
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required, area/cli

#4104 Relocate the asset utility under the release folder
  Makefile
  hack/release/asset/Makefile
  hack/release/asset/asset.go
  hack/release/asset/go.mod
  hack/release/asset/go.sum
Labels: area/release-eng, cla-not-required

#4105 Issue Duplicator Utility (and move all utils to a single folder)
  hack/utils/dupissue/Makefile
  hack/utils/dupissue/dupissue.go
  hack/utils/dupissue/go.mod
  hack/utils/dupissue/go.sum
  hack/utils/tagger/Dockerfile
  hack/utils/tagger/Makefile
  hack/utils/tagger/README.md
  hack/utils/tagger/go.mod
  hack/utils/tagger/go.sum
  hack/utils/tagger/main.go
Labels: area/docs, area/release-eng, cla-not-required

#4108 Fix paths for asset util after relocation
  hack/release/asset/asset.go
Labels: area/release-eng, cla-not-required

#4113 UI: Add vSphere provider handlers
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/aws.go
  cli/cmd/plugin/ui/server/handlers/common.go
  cli/cmd/plugin/ui/server/handlers/docker.go
  cli/cmd/plugin/ui/server/handlers/vsphere.go
Labels: cla-not-required, area/cli

#4118 [E2E] Changed the way to find top dir path in `Unmanaged Cluster` e2e test
  Makefile
  cli/cmd/plugin/unmanaged-cluster/test/e2e/utils/cli.go
Labels: area/release-eng, cla-not-required, area/cli

#4089 Increase unit test coverage for uc config
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
Labels: cla-not-required, area/cli

#4129 TCE UI Plugin: Add content/html/css for Getting Started page
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/management-cluster-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/workload-cluster-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli, area/ui

#3984 add `cartographer-catalog` package (out of the box supply chain + templates)
  addons/packages/cartographer-catalog/0.3.0/README.md
  addons/packages/cartographer-catalog/0.3.0/package.yaml
  addons/packages/cartographer-catalog/metadata.yaml
  addons/packages/cartographer-catalog/vendir.lock.yml
  addons/packages/cartographer-catalog/vendir.yml
  test/smoke/packages/cartographer-catalog/0.3.0/README.md
  test/smoke/packages/cartographer-catalog/0.3.0/cartographer-catalog-test.sh
  test/smoke/packages/cartographer-catalog/0.3.0/cartographer-catalog-test.yaml
  test/smoke/packages/cartographer-catalog/0.3.0/cartographer-catalog.yaml
  test/smoke/packages/cartographer-catalog/0.3.0/knative-serving.yaml
  test/smoke/packages/cartographer-catalog/0.3.0/kpack-dependencies.yaml
  test/smoke/packages/cartographer-catalog/0.3.0/kpack.yaml
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#4122 UI: Add handlers for LDAP
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/ldap.go
Labels: cla-not-required, area/cli

#4092 Managing releases...
  docs/developer/managing-release-process.md
  docs/developer/release-process.md
Labels: area/docs, cla-not-required

#4125 UI: Add API to get AWS key pairs
  cli/cmd/plugin/ui/api/spec.yaml
  cli/cmd/plugin/ui/go.mod
  cli/cmd/plugin/ui/pkg/aws/client.go
  cli/cmd/plugin/ui/pkg/aws/interface.go
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/aws.go
  cli/cmd/plugin/ui/server/models/a_w_s_key_pair.go
  cli/cmd/plugin/ui/server/restapi/embedded_spec.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/get_a_w_s_key_pairs.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/get_a_w_s_key_pairs_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/get_a_w_s_key_pairs_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/aws/get_a_w_s_key_pairs_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/tanzu_ui_api.go
Labels: cla-not-required, area/cli

#4150 TCE UI Plugin: Additional CSS cleanup/Add unmanaged cluster placeholder
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterLanding.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterLanding.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli, area/ui

#3911 Github Action: Vulnerability Scan for Tanzu Package Images
  .github/workflows/security-scan-tanzu-packages.yaml
Labels: cla-not-required

#4124 Add App Toolkit 0.2.0 package
  addons/packages/app-toolkit/0.2.0/README.md
  addons/packages/app-toolkit/0.2.0/bundle/.imgpkg/bundle.yml
  addons/packages/app-toolkit/0.2.0/bundle/.imgpkg/images.yml
  addons/packages/app-toolkit/0.2.0/bundle/config/_exclusions.star
  addons/packages/app-toolkit/0.2.0/bundle/config/cartographer-catalog.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/cartographer.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/cert-manager.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/contour.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/developer-namespace.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/fluxcd-source-controller.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/knative-serving.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/kpack-dependencies.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/kpack.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/rbac/cluster-admin.yaml
  addons/packages/app-toolkit/0.2.0/bundle/config/values.yaml
  addons/packages/app-toolkit/0.2.0/package.yaml
  addons/packages/app-toolkit/0.2.0/test/Makefile
  addons/packages/app-toolkit/0.2.0/test/README.md
  addons/packages/app-toolkit/0.2.0/test/app-toolkit-test.sh
  addons/packages/app-toolkit/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#4167 Remove trailing space in calico 3.22.1
  addons/packages/calico/3.22.1/bundle/config/overlay/calico_overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/upstream/calico.yaml
Labels: area/packages, cla-not-required

#4174 Fix reference to cert-manager values.yaml file in e2e tests #4170
  addons/packages/cert-manager/1.7.2/test/e2e/cert_manager_suite_test.go
  addons/packages/cert-manager/1.7.2/test/e2e/fixtures/values.yaml
  addons/packages/cert-manager/1.8.0/test/e2e/cert_manager_suite_test.go
  addons/packages/cert-manager/1.8.0/test/e2e/fixtures/values.yaml
Labels: area/packages, cla-not-required

#4180 Remove rule to ignore *-values.yaml files #4179
  .gitignore
Labels: cla-not-required

#4178 Fix reference to local-path-storage values.yaml file in e2e tests #4171
  addons/packages/local-path-storage/0.0.22/test/e2e/fixtures/values.yaml
  addons/packages/local-path-storage/0.0.22/test/e2e/local_path_storage_suite_test.go
Labels: area/packages, cla-not-required

#4160 Make unmanaged e2e test runs explicit action
  Makefile
  cli/cmd/plugin/unmanaged-cluster/Makefile
  cli/cmd/plugin/unmanaged-cluster/test/e2e/e2e_suite_test.go
  docs/site/content/docs/contribute/contributing.md
Labels: area/docs, area/release-eng, cla-not-required, area/cli

#4173 Enable `make test-plugins`
  .github/workflows/check-all.yaml
  Makefile
  cli/cmd/plugin/conformance/Makefile
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/unmanaged-cluster/Makefile
Labels: area/release-eng, cla-not-required, area/cli

#4181 Fix reference to cert-manager values.yaml file in e2e tests #4170 (#4174)
  addons/packages/cert-manager/1.7.2/test/e2e/cert_manager_suite_test.go
  addons/packages/cert-manager/1.7.2/test/e2e/fixtures/values.yaml
  addons/packages/cert-manager/1.8.0/test/e2e/cert_manager_suite_test.go
  addons/packages/cert-manager/1.8.0/test/e2e/fixtures/values.yaml
Labels: area/packages, cla-not-required

#4183 Fix reference to local-path-storage values.yaml file in e2e tests #4171 (#4178)
  addons/packages/local-path-storage/0.0.22/test/e2e/fixtures/values.yaml
  addons/packages/local-path-storage/0.0.22/test/e2e/local_path_storage_suite_test.go
Labels: area/packages, cla-not-required

#3589 remove kube-rbac-proxy in ako operator package and aligin nsx alb default resource request value
  addons/packages/ako-operator/1.6.0/bundle/.imgpkg/images.yml
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.yaml
Labels: area/packages, cla-not-required

#4132 Add update strategy and node selector overlay to Kapp-Controller 0.35
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.35.0/package.yaml
Labels: area/packages, cla-not-required

#4194 Update announcement
  docs/site/themes/template/layouts/partials/announcement.html
Labels: area/docs, cla-not-required

#4127 Releasing v0.21.5 of fluxcd-source-controller
  addons/packages/fluxcd-source-controller/0.21.5/README.md
  addons/packages/fluxcd-source-controller/0.21.5/package.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/secret.yaml
  addons/packages/fluxcd-source-controller/metadata.yaml
  addons/packages/fluxcd-source-controller/vendir.lock.yml
  addons/packages/fluxcd-source-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4137 Add update strategy and node selector overlay to metrics-server 0.5.1
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/values.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, cla-not-required

#4195 Remove duplicated words from Governance
  GOVERNANCE.md
Labels: area/docs

#4128 Docs: minikube needs to be installed to use as um cluster provider
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required

#4189 Use yaml or yml files when generating a package repo #4187
  hack/packages/generate-package-repository.go
Labels: area/release-eng, cla-not-required

#4136 Add update strategy and node selector overlay to pinniped 0.12.1 package
  addons/packages/pinniped/0.12.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/pinniped/0.12.1/bundle/config/values.yaml
  addons/packages/pinniped/0.12.1/package.yaml
Labels: area/packages, cla-not-required

#4186 Enable `make test-packages`
  .github/workflows/check-all.yaml
  .github/workflows/check-packages.yaml
  Makefile
  addons/packages/ako-operator/1.6.0/test/Makefile
  addons/packages/ako-operator/1.6.0/test/go.mod
  addons/packages/ako-operator/1.6.0/test/go.sum
  addons/packages/antrea/1.2.3/test/Makefile
  addons/packages/antrea/1.2.3/test/go.mod
  addons/packages/antrea/1.2.3/test/go.sum
  addons/packages/calico/3.11.3/test/Makefile
  addons/packages/calico/3.11.3/test/go.mod
  addons/packages/calico/3.11.3/test/go.sum
  addons/packages/calico/3.19.1/test/Makefile
  addons/packages/calico/3.19.1/test/go.mod
  addons/packages/calico/3.19.1/test/go.sum
  addons/packages/calico/3.22.1/test/Makefile
  addons/packages/calico/3.22.1/test/go.mod
  addons/packages/calico/3.22.1/test/go.sum
  addons/packages/cert-manager/1.7.2/test/Makefile
  addons/packages/cert-manager/1.8.0/test/Makefile
  addons/packages/gatekeeper/3.7.1/test/Makefile
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/Makefile
  addons/packages/local-path-storage/0.0.22/test/Makefile
  addons/packages/sriov-network-device-plugin/3.3.2/test/Makefile
  addons/packages/sriov-network-device-plugin/3.3.2/test/go.mod
  addons/packages/sriov-network-device-plugin/3.3.2/test/go.sum
  addons/packages/test/matchers/Makefile
  addons/packages/test/pkg/Makefile
  addons/packages/vsphere-cpi/1.20.1/test/Makefile
  addons/packages/vsphere-cpi/1.20.1/test/go.mod
  addons/packages/vsphere-cpi/1.20.1/test/go.sum
  addons/packages/vsphere-cpi/1.21.3/test/Makefile
  addons/packages/vsphere-cpi/1.21.3/test/go.mod
  addons/packages/vsphere-cpi/1.21.3/test/go.sum
  addons/packages/vsphere-cpi/1.22.4/test/Makefile
  addons/packages/vsphere-cpi/1.22.4/test/go.mod
  addons/packages/vsphere-cpi/1.22.4/test/go.sum
  addons/packages/vsphere-cpi/1.22.5/test/Makefile
  addons/packages/vsphere-cpi/1.22.5/test/go.mod
  addons/packages/vsphere-cpi/1.22.5/test/go.sum
  addons/packages/vsphere-cpi/1.22.6/test/Makefile
  addons/packages/vsphere-cpi/1.22.6/test/go.mod
  addons/packages/vsphere-cpi/1.22.6/test/go.sum
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/Makefile
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.sum
  addons/packages/vsphere-cpi/1.23.0/test/Makefile
  addons/packages/vsphere-cpi/1.23.0/test/go.mod
  addons/packages/vsphere-cpi/1.23.0/test/go.sum
Labels: area/packages, area/release-eng, cla-not-required

#4205 Fix Unmanaged cluster GitHub Action name
  .github/workflows/e2e-unmanaged-cluster.yaml
Labels: cla-not-required

#4135 Make non-paravirtual fields in CPI data values nullable.
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.23.0/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.0/package.yaml
  addons/packages/vsphere-cpi/1.23.0/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#4210 Remove use of deprecated ioutil
  addons/packages/cert-manager/1.7.2/test/unittest/unit_test.go
  addons/packages/cert-manager/1.8.0/test/unittest/unit_test.go
  addons/packages/external-dns/0.10.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
  addons/packages/gatekeeper/3.7.1/test/unittest/unit_test.go
  addons/packages/harbor/2.2.3/test/unittest/harbor_test.go
  addons/packages/harbor/2.3.3/test/unittest/harbor_test.go
  addons/packages/harbor/2.4.2/test/unittest/harbor_test.go
  addons/packages/local-path-storage/0.0.22/test/unittest/unit_test.go
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov_dp_test.go
  cli/cmd/plugin/unmanaged-cluster/tkr/compatibility_test.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image_test.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr_test.go
Labels: area/packages, cla-not-required, area/cli

#4206 UI Plugin: Additional cleanup of CSS/Layout and deploy progress screen
  cli/cmd/plugin/ui/web/tanzu-ui/public/index.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/env-build-dk.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/next-steps-robot-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/tap-experience-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/tce-experience-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/tce-logo-and-title.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/DeployProgress/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/temp/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/temp/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli, area/ui

#4133 Add updateStrategy and nodeSelector overlay to vsphere-cpi 1.23.0
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/package.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0/package.yaml
Labels: area/packages, cla-not-required

#4196 UI Plugin: create a wizard for aws workflow
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/app.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/aws.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-aws-keypair.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/user_data/logs/access.log
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/AWS.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/admins-at-work.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/AwsMCCreateSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialOneTime.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigBanner/ConfigBanner.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ConfigBanner/ConfigBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/App.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Aws.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/AwsManagementClusterSimple.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/AwsManagementClusterSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterLanding.tsx
Labels: cla-not-required, area/cli

#4131 Add update strategy and node selector overlay to Calico 3.22.1 package
  addons/packages/calico/3.22.1/bundle/config/overlay/calico-overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/schema.yaml
  addons/packages/calico/3.22.1/bundle/config/values.yaml
  addons/packages/calico/3.22.1/package.yaml
  addons/packages/calico/3.22.1/test/calico_test.go
Labels: area/packages, cla-not-required

#4222 Update dependencies for GitHub Actions
  .github/workflows/check-all.yaml
  .github/workflows/check-packages.yaml
  hack/ensure-deps/ensure-imgpkg.sh
  hack/ensure-deps/ensure-kbld.sh
  hack/ensure-deps/ensure-kind.sh
  hack/ensure-deps/ensure-ytt.sh
Labels: area/release-eng, cla-not-required

#4224 addons/package/pinniped/0.12.1 Update values.star formatting
  addons/packages/pinniped/0.12.1/bundle/config/values.star
Labels: area/packages, cla-not-required

#4176 Getting Started Guide for Creating Tanzu Workloads
  docs/site/content/docs/getting-started-tanzu-workloads.md
Labels: area/docs, cla-not-required

#4134 Add update strategy and node selector overlay to vsphere-csi 2.4.1
  addons/packages/vsphere-csi/2.4.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.1/package.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/schema.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/values.yaml
  addons/packages/vsphere-pv-csi/2.4.1/package.yaml
Labels: area/packages, cla-not-required

#4225 Add timeout to cache restore in Actions
  .github/workflows/build-daily.yaml
  .github/workflows/build-staging.yaml
  .github/workflows/check-all.yaml
  .github/workflows/check-lint.yaml
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-vsphere-management-and-workload-cluster.yaml
  .github/workflows/release-bucket.yaml
  .github/workflows/release.yaml
Labels: cla-not-required

#4209 Release kpack 0.5.3
  addons/packages/kpack/0.5.3/README.md
  addons/packages/kpack/0.5.3/package.yaml
  addons/packages/kpack/vendir.lock.yml
  addons/packages/kpack/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4130 Add update strategy and node selector overlay to Antrea 1.2.3 package
  addons/packages/antrea/1.2.3/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.2.3/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/antrea/1.2.3/bundle/config/schema.yaml
  addons/packages/antrea/1.2.3/bundle/config/values.yaml
  addons/packages/antrea/1.2.3/package.yaml
  addons/packages/antrea/1.2.3/test/antrea_test.go
Labels: area/packages, cla-not-required

#4230 Fix typos and bugs in updateStrategy overlay
  addons/packages/antrea/1.2.3/bundle/config/schema.yaml
  addons/packages/antrea/1.2.3/package.yaml
  addons/packages/calico/3.22.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/schema.yaml
  addons/packages/calico/3.22.1/package.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.35.0/package.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/pinniped/0.12.1/package.yaml
  addons/packages/secretgen-controller/0.8.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/secretgen-controller/0.8.0/bundle/config/schema.yaml
  addons/packages/secretgen-controller/0.8.0/package.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/package.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.23.0/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0/package.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-csi/2.4.1/package.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/schema.yaml
  addons/packages/vsphere-pv-csi/2.4.1/package.yaml
Labels: area/packages, cla-not-required

#4203 Doc updates for unmanaged cluster
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required

#4211 Warnings to user on install/uninstall for select situations
  .github/workflows/check-all.yaml
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/check-pr-docker-management.yaml
  hack/release/install.bat
  hack/release/install.sh
  hack/release/uninstall.sh
  test/download-or-build-tce.sh
Labels: area/release-eng, cla-not-required

#4106 [E2E]changes in e2e test for diagnostic plugin
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/e2e-diagnostics-plugin.yaml
  Makefile
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/diagnostics/e2e-test/.gitignore
  cli/cmd/plugin/diagnostics/e2e-test/README.md
  cli/cmd/plugin/diagnostics/e2e-test/e2e-test.sh
  cli/cmd/plugin/diagnostics/e2e-test/e2e_test.go
  cli/cmd/plugin/diagnostics/e2e-test/setup-e2e-test.sh
Labels: area/docs, area/release-eng, cla-not-required, area/cli

#4177 Docs: Update image paths for Getting Started page
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/azure-clusters.md
  docs/site/content/docs/assets/octant-install.md
  docs/site/content/docs/assets/vsphere-clusters.md
Labels: area/docs, cla-not-required

#4236 fix links in docs
  addons/packages/app-toolkit/0.2.0/README.md
  addons/packages/velero/1.8.0/README.md
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/solutions-secure-ingress.md
Labels: area/packages, area/docs, cla-not-required

#4238 refactored CSS by clarity grid, spacing and typography
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialOneTime.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/StepNav.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/AwsManagementClusterSimple.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/AwsManagementClusterSimple.tsx
Labels: cla-not-required, area/cli

#4237 fix broken image links
  docs/site/content/docs/designs/package-management.md
  docs/site/content/docs/designs/package-process.md
  docs/site/content/docs/package-management.md
  docs/site/content/docs/vSphere-ldap-config.md
  docs/site/content/docs/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#4246 Add "Check - test plugins" workflow
  .github/workflows/check-plugins.yaml
Labels: cla-not-required

#4242 Initial `go test` for UC `tanzu` package
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu_test.go
Labels: cla-not-required, area/cli
