Repository vmware-tanzu/community-edition, pull requests merged in 2022-01, with the labels that each got.

#2755 Fix typos
  docs/site/content/packages/_index.html
  docs/site/content/resources/_index.html
Labels: area/docs, cla-not-required

#2762 Fix custom tls cert in Pinniped 0.12.0
  addons/packages/pinniped/0.12.0/bundle/config/overlay/pinniped-supervisor-cm.yaml
Labels: area/packages, cla-not-required

#2770 packages/external-dns: Updates RBAC for k8s v1.22
  addons/packages/external-dns/0.10.0/bundle/config/overlays/overlay-clusterrole.yaml
Labels: area/packages, cla-not-required

#2771 Add ingress source to external-dns values fixture
  addons/packages/external-dns/0.10.0/test/e2e/fixtures/external-dns-values-fixture.yaml
Labels: area/packages, cla-not-required

#2763 Rename new standalone to unmanaged
  .golangci.yaml
  cli/cmd/plugin/unmanaged-cluster/Makefile
  cli/cmd/plugin/unmanaged-cluster/README.md
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/noop.go
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
  cli/cmd/plugin/unmanaged-cluster/hack/create-kind-image.sh
  cli/cmd/plugin/unmanaged-cluster/kapp/kapp.go
  cli/cmd/plugin/unmanaged-cluster/kapp/values.go
  cli/cmd/plugin/unmanaged-cluster/kubeconfig/kubeconfig.go
  cli/cmd/plugin/unmanaged-cluster/log/animator.go
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/main.go
  cli/cmd/plugin/unmanaged-cluster/packages/packages.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/test/main.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: area/docs, cla-not-required, area/cli

#2778 document workaround for known issue in external-dns
  addons/packages/external-dns/0.10.0/README.md
Labels: area/packages, area/docs, cla-not-required

#2715 Doc - ssh hosts/nodes
  docs/site/content/docs/latest/tips.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2781 Fix Pinniped supervisor cm overlay
  addons/packages/pinniped/0.12.0/bundle/config/overlay/pinniped-supervisor-cm.yaml
Labels: area/packages, cla-not-required

#2786 Update imgpkgBundle for external-dns 0.10.0
  addons/packages/external-dns/0.10.0/package.yaml
Labels: area/packages, cla-not-required

#2783 Fix indenting in some code blocks
  docs/site/content/docs/latest/packages-create-example.md
Labels: area/docs

#2776 Restore existing standalone-cluster plugin
  cli/cmd/plugin/standalone-cluster/Makefile
  cli/cmd/plugin/standalone-cluster/README.md
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/errors.go
  cli/cmd/plugin/standalone-cluster/go.mod
  cli/cmd/plugin/standalone-cluster/go.sum
  cli/cmd/plugin/standalone-cluster/main.go
  cli/cmd/plugin/standalone-cluster/test/main.go
Labels: area/docs, cla-not-required, area/cli

#2789 Add doc for creating persistent volumes.
  docs/site/content/docs/latest/storage.md
  docs/site/content/docs/latest/vsphere-cns.md
  docs/site/content/docs/latest/vsphere-volume-expansion.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2757 Add manual cleanup for multus-cni in whereabouts e2e
  addons/packages/whereabouts/0.5.0/test/e2e/whereabouts_test.go
Labels: area/packages, cla-not-required

#2791 unmanaged-cluster: remove usage of grey log text
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2514 Update `get-deps` Makefile targets
  Makefile
  addons/packages/calico/3.11.3/test/Makefile
  addons/packages/calico/3.19.1/test/Makefile
  addons/packages/external-dns/0.10.0/test/Makefile
  addons/packages/external-dns/0.8.0/test/Makefile
  addons/packages/harbor/2.2.3/test/Makefile
  addons/packages/harbor/2.3.3/test/Makefile
  addons/packages/multus-cni/3.7.1/test/Makefile
  addons/packages/pinniped/hack/Makefile
  addons/packages/test/pkg/Makefile
  cli/cmd/plugin/conformance/Makefile
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/standalone-cluster/Makefile
  docs/site/content/docs/latest/contribute/contributing.md
  hack/asset/Makefile
  hack/builder/Makefile
  hack/imagelinter/Makefile
  hack/makefile-template
  hack/packages/Makefile
  hack/release/release/Makefile
  hack/runner/webhook/Makefile
  hack/tools/Makefile
  hack/workflows/packages/Makefile
  test/Makefile
Labels: area/packages, area/docs, area/release-eng, cla-not-required, area/cli

#2792 Set unmanaged-cluster aliases to agreed list
  cli/cmd/plugin/unmanaged-cluster/main.go
Labels: cla-not-required, area/cli

#2659 Docs: Add search feature
  docs/site/config.yaml
  docs/site/package-lock.json
  docs/site/package.json
  docs/site/themes/template/assets/scss/_docs.scss
  docs/site/themes/template/layouts/_default/baseof.html
Labels: area/docs, cla-not-required

#2794 Configure environment for daily build correctly
  .github/workflows/build-daily.yaml
Labels: cla-not-required

#2795 Updates deprecation notice in `standalone-cluster`
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/main.go
Labels: cla-not-required, area/cli

#2797 Standalone deprecation notice update
  cli/cmd/plugin/standalone-cluster/create.go
  cli/cmd/plugin/standalone-cluster/delete.go
  cli/cmd/plugin/standalone-cluster/main.go
Labels: cla-not-required, area/cli

#2775 Remove invalid additionalProperties usage
  addons/packages/contour/1.17.1/package.yaml
  addons/packages/contour/1.17.2/package.yaml
  addons/packages/contour/1.18.1/package.yaml
  addons/packages/contour/1.18.2/package.yaml
  addons/packages/contour/1.19.1/package.yaml
  addons/packages/fluent-bit/1.7.5/package.yaml
  addons/packages/grafana/7.5.7/package.yaml
  addons/packages/prometheus/2.27.0/package.yaml
  addons/packages/velero/1.6.3/package.yaml
Labels: area/packages, cla-not-required

#2799 Add missing newline to build output
  Makefile
Labels: area/release-eng, cla-not-required

#2719 Create OpenAPIV3 schema for secret gen controller package and generate package with the schema
  Makefile
  addons/packages/package-overlay/package-overlay.yaml
  addons/packages/secretgen-controller/0.7.1/README.md
  addons/packages/secretgen-controller/0.7.1/bundle/config/schema.yaml
  addons/packages/secretgen-controller/0.7.1/package.yaml
  docs/site/content/docs/latest/designs/package-process.md
  hack/packages/check-sample-values-and-render-ytt.sh
  hack/packages/verify-openapischema-for-package.sh
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#2810 Fix links in community page
  docs/site/content/community/_index.html
Labels: area/docs, cla-not-required

#2801 Updates `standalone-cluster` description with shorter description notice
  cli/cmd/plugin/standalone-cluster/main.go
Labels: cla-not-required, area/cli

#2815 Move the sample value directory out of package bundle
  docs/site/content/docs/latest/designs/package-process.md
  hack/packages/check-sample-values-and-render-ytt.sh
Labels: area/docs, area/release-eng, cla-not-required

#2816 Bump vsphere-csi to 2.4.0 GA
  addons/packages/vsphere-csi/2.4.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-csi/2.4.1/bundle/config/upstream/vsphere-csi/manifests/vanilla/vsphere-csi-driver.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/vendir.lock.yml
  addons/packages/vsphere-csi/2.4.1/bundle/vendir.yml
  addons/packages/vsphere-csi/2.4.1/package.yaml
Labels: area/packages, cla-not-required

#2818 Align ako statefulset resource limit
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/statefulset.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/values.yaml
Labels: area/packages, cla-not-required

#2814 Create OpenAPIV3 schema for calico package and generate package with the schema
  addons/packages/calico/3.19.1/README.md
  addons/packages/calico/3.19.1/bundle/config/schema.yaml
  addons/packages/calico/3.19.1/package.yaml
  hack/packages/check-sample-values-and-render-ytt.sh
Labels: area/packages, area/docs, area/release-eng, cla-not-required

#2819 Create OpenAPIV3 schema for kapp-controller package and generate package with the schema
  addons/packages/kapp-controller/0.30.0/bundle/config/schema.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
  addons/packages/package-overlay/package-overlay.yaml
  hack/packages/check-sample-values-and-render-ytt.sh
  hack/packages/verify-openapischema-for-package.sh
Labels: area/packages, area/release-eng, cla-not-required

#2800 Adds `Version` to unmanaged-cluster plugin descriptor
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
  cli/cmd/plugin/unmanaged-cluster/main.go
Labels: cla-not-required, area/cli

#2827 Doc - Fixing an error in the toc.
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#2823 Add CPI 1.23-alpha.1 version
  addons/packages/vsphere-cpi/1.23.0-alpha.1/README.md
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/update-config.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/update-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/package.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/Makefile
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/README.md
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.sum
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#2756 Update metadata to reflect newest maintainer
  addons/packages/vsphere-cpi/metadata.yaml
Labels: area/packages, cla-not-required

#2765 VSphereCPI exposes node IP exclude CIDRs
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.sum
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#2806 Recommend docker desktop <= 4.2.0
  docs/site/content/docs/assets/prereq-mac.md
  docs/site/content/docs/assets/prereq-windows.md
Labels: area/docs, cla-not-required

#2839 unmanaged-cluster: add line break after error output
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
Labels: cla-not-required, area/cli

#2829 Address lint issues
  cli/cmd/plugin/unmanaged-cluster/README.md
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/kapp/kapp.go
  cli/cmd/plugin/unmanaged-cluster/kubeconfig/kubeconfig.go
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: area/docs, cla-not-required, area/cli

#2846 Countour -> Contour Typos
  docs/site/content/docs/latest/solutions-secure-ingress.md
  test/smoke/packages/contour/1.18.2/contour-test.sh
Labels: area/docs, area/release-eng, cla-not-required

#2849 Standalone plugin cobra command name should not have deprecation notice
  cli/cmd/plugin/standalone-cluster/main.go
Labels: cla-not-required, area/cli

#2844 Update ako-operator for 1.6.0 release
  addons/packages/ako-operator/1.6.0/README.md
  addons/packages/ako-operator/1.6.0/bundle/.imgpkg/bundle.yml
  addons/packages/ako-operator/1.6.0/bundle/.imgpkg/images.yml
  addons/packages/ako-operator/1.6.0/bundle/config/kapp-config.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-akodeploymentconfig.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-secret.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/akodeploymentconfig.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/secret.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/values.star
  addons/packages/ako-operator/1.6.0/bundle/config/values.yaml
  addons/packages/ako-operator/1.6.0/bundle/vendir.lock.yml
  addons/packages/ako-operator/1.6.0/bundle/vendir.yml
  addons/packages/ako-operator/1.6.0/images/virtual_svc_on_avi_controller.png
  addons/packages/ako-operator/1.6.0/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2840 Add output formats to unmanaged-cluster list
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
Labels: cla-not-required, area/cli

#2841 Fork output writer to avoid bold table headers
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/internal/hack/output.go
Labels: cla-not-required, area/cli

#2758 Create OpenAPIV3 schema for metrics-server package and generate package with the schema
  addons/packages/metrics-server/0.5.1/README.md
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2822 Introduce colors library for `unmanaged-cluster` logging
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2843 Create OpenAPIV3 schema for antrea versions ( 1.2.3, 0.13.3, 0.11.3 ) and generate package with the schema
  addons/packages/antrea/0.11.3/bundle/config/schema.yaml
  addons/packages/antrea/0.11.3/package.yaml
  addons/packages/antrea/0.13.3/README.md
  addons/packages/antrea/0.13.3/bundle/config/schema.yaml
  addons/packages/antrea/0.13.3/package.yaml
  addons/packages/antrea/1.2.3/README.md
  addons/packages/antrea/1.2.3/bundle/config/schema.yaml
  addons/packages/antrea/1.2.3/package.yaml
Labels: area/packages, area/docs, cla-not-required

#2821 Fix build/install directive on clean system
  Makefile
  hack/builder/build-tanzu.sh
  hack/builder/install-tanzu.sh
  hack/ensure-deps/check-curl.sh
  hack/ensure-deps/check-zip.sh
  hack/ensure-deps/ensure-curl.sh
  hack/ensure-deps/ensure-dependencies.sh
  hack/ensure-deps/ensure-zip.sh
Labels: area/release-eng, cla-not-required

#2856 Declare hostNetwork field for kapp-controller to boolean type
  addons/packages/kapp-controller/0.30.0/bundle/config/schema.yaml
  addons/packages/kapp-controller/0.30.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
  hack/packages/check-sample-values-and-render-ytt.sh
Labels: area/packages, area/release-eng, cla-not-required

#2860 Doc - Fix incorrect link in vsphere-cpi readme.
  addons/packages/vsphere-cpi/1.22.4/README.md
Labels: area/packages, area/docs, cla-not-required

#2834 Add manifests for vsphere paravirtual CPI.
  addons/packages/vsphere-cpi/1.23.0-alpha.1/README.md
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.sum
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#2855 Docs: Mobile docs side navigation toggle
  docs/site/themes/template/assets/js/main.js
  docs/site/themes/template/assets/scss/_docs.scss
  docs/site/themes/template/layouts/partials/docs-sidebar.html
Labels: area/docs, cla-not-required

#2872 Doc - Fix typo in graphics in Package design docs
  docs/site/content/docs/img/tanzu-carvel-new-apis.png
  docs/site/content/docs/img/tanzu-package-install.png
  docs/site/content/docs/img/tanzu-package-list.png
  docs/site/content/docs/img/tanzu-package-repo-delete.png
  docs/site/content/docs/img/tanzu-package-repo-install.png
  docs/site/content/docs/latest/designs/package-management.md
  docs/site/content/docs/latest/packages-create-example.md
Labels: area/docs, cla-not-required

#2874 Update adopters
  ADOPTERS.md
  logos/README
Labels: area/docs, cla-not-required

#2879 Document adding additional RBAC for external-dns
  addons/packages/external-dns/0.10.0/README.md
Labels: area/packages, area/docs, cla-not-required

#2579 Smoke Tests for Prometheus, Knative Serving and Grafana
  test/smoke/Makefile
  test/smoke/README.md
  test/smoke/packages/cert-manager/1.5.3/cert-manager-test.sh
  test/smoke/packages/contour/1.18.2/contour-test.sh
  test/smoke/packages/contour/1.18.2/contour-values.yaml
  test/smoke/packages/fluent-bit/1.7.5/fluent-bit-test.sh
  test/smoke/packages/grafana/7.5.7/grafana-test.sh
  test/smoke/packages/knative-serving/0.22.0/knative-service.yaml
  test/smoke/packages/knative-serving/0.22.0/knative-serving-test.sh
  test/smoke/packages/knative-serving/0.22.0/knative-serving-values.yaml
  test/smoke/packages/local-path-storage/0.0.20/local-path-storage-test.sh
  test/smoke/packages/prometheus/2.27.0/prometheus-test.sh
  test/smoke/packages/utils/smoke-tests-utils.sh
Labels: area/docs, area/release-eng, cla-not-required

#2837 Doc - note that cgroup1 is req on mac bootstrap
  docs/site/content/docs/assets/prereq-linux.md
  docs/site/content/docs/assets/prereq-mac.md
  docs/site/content/docs/assets/prereq-windows.md
  docs/site/content/docs/latest/support-matrix.md
Labels: area/docs, cla-not-required

#2877 Adds GitHub action stale bot
  .github/workflows/stale-bot.yaml
Labels: cla-not-required

#2700 feat: Add velero release 1.7.1
  addons/packages/velero/1.7.1/README.md
  addons/packages/velero/1.7.1/bundle/.imgpkg/bundle.yaml
  addons/packages/velero/1.7.1/bundle/.imgpkg/images.yml
  addons/packages/velero/1.7.1/bundle/config/helpers.lib.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-backupstoragelocation.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-changerules.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-deployment.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-metadata.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-rbac.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-restic.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-secrets.yaml
  addons/packages/velero/1.7.1/bundle/config/overlays/velero/overlay-volumesnapshotlocation.yaml
  addons/packages/velero/1.7.1/bundle/config/upstream/velero/velero.yaml
  addons/packages/velero/1.7.1/bundle/config/values.star
  addons/packages/velero/1.7.1/bundle/config/values.yaml
  addons/packages/velero/1.7.1/bundle/vendir.lock.yml
  addons/packages/velero/1.7.1/bundle/vendir.yml
  addons/packages/velero/1.7.1/package.yaml
  addons/packages/velero/1.7.1/test/Makefile
  addons/packages/velero/1.7.1/test/README.md
  addons/packages/velero/1.7.1/test/install-velero-cli.sh
  addons/packages/velero/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#2886 Upgrade `go-containerregistry` dependency in tagger to v0.8.0
  hack/tagger/go.mod
  hack/tagger/go.sum
Labels: area/release-eng, cla-not-required

#2881 Fix self hosted runner Action field behavior change
  hack/runner/webhook/aws.go
  hack/runner/webhook/github.go
  hack/runner/webhook/main.go
  hack/runner/webhook/server.go
Labels: area/release-eng, cla-not-required

#2891 Restrict select workflows to the TCE repo
  .github/workflows/build-staging.yaml
  .github/workflows/package-copy-readmes-to-docs.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Labels: cla-not-required

#2894 Fix hourly cleanup of self hosted runners
  hack/runner/webhook/server.go
Labels: area/release-eng, cla-not-required

#2895 Fix the type for tolerations key in schema for kapp-controller deployment
  addons/packages/kapp-controller/0.30.0/bundle/config/schema.yaml
  addons/packages/kapp-controller/0.30.0/package.yaml
Labels: area/packages, cla-not-required

#2896 Add note to use global gitignore for IDEs
  .gitignore
Labels: cla-not-required

#2887 Enables dependabot version upgrade
  .github/dependabot.yml
Labels: cla-not-required

#2904 `unmanaged-cluster` log package: Non-format log methods print new-line
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2906 Don't error if unable to read unmanaged clusters
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2901 Fix how to determine if a runner is idle
  hack/runner/webhook/github.go
  hack/runner/webhook/server.go
Labels: area/release-eng, cla-not-required

#2900 Introduce "never-stale" label exemption to stalebot
  .github/workflows/stale-bot.yaml
Labels: cla-not-required

#2878 Add kpack package
  addons/packages/kpack/0.5.0/README.md
  addons/packages/kpack/0.5.0/package.yaml
  addons/packages/kpack/metadata.yaml
  addons/packages/kpack/vendir.lock.yml
  addons/packages/kpack/vendir.yml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#2917 Explicity ignore file end with [568vq].
  .gitignore
Labels: cla-not-required

#2885 Doc - Add supported providers table to package readmes
  addons/packages/fluent-bit/1.7.5/README.md
  addons/packages/gatekeeper/3.2.3/README.md
  addons/packages/gatekeeper/3.7.0/README.md
  addons/packages/grafana/7.5.7/README.md
  addons/packages/knative-serving/0.22.0/README.md
  addons/packages/knative-serving/0.26.0/README.md
  addons/packages/knative-serving/1.0.0/README.md
  addons/packages/multus-cni/3.7.1/README.md
  addons/packages/prometheus/2.27.0/README.md
Labels: area/packages, area/docs, cla-not-required

#2899 packages/external-dns: Service account annotations
  addons/packages/external-dns/0.10.0/README.md
  addons/packages/external-dns/0.10.0/bundle/config/overlays/overlay-serviceaccount.yaml
  addons/packages/external-dns/0.10.0/bundle/config/values.yaml
  addons/packages/external-dns/0.10.0/package.yaml
  addons/packages/external-dns/0.10.0/test/Makefile
  addons/packages/external-dns/0.10.0/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.10.0/test/go.sum
  addons/packages/external-dns/0.10.0/test/unittest/externaldns_suite_test.go
  addons/packages/external-dns/0.10.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/deployment-env-vars.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/deployment-security-context.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/deployment-volumes.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/minimal-configuration.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/namespace.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/expected/serviceaccount-annotations.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/deployment-args-no-provider.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/deployment-args-no-source.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/deployment-env-vars.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/deployment-security-context.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/deployment-volumes.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/minimal-configuration.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/namespace.yaml
  addons/packages/external-dns/0.10.0/test/unittest/fixtures/values/serviceaccount-annotations.yaml
Labels: area/packages, area/docs, cla-not-required

#2932 Update kpack capacity requirements
  addons/packages/kpack/0.5.0/package.yaml
  addons/packages/kpack/vendir.lock.yml
Labels: area/packages, cla-not-required

#2929 Introduce terminal-width aware animated logging for `unmanaged-cluster`
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/log/log.go
Labels: cla-not-required, area/cli

#2937 update external-dns package yaml to use latest version
  addons/packages/external-dns/0.10.0/package.yaml
Labels: area/packages, cla-not-required

#2953 Add GitHub Actions to dependabot checks
  .github/dependabot.yml
Labels: cla-not-required

#2746 urllinter: moving urllinter in TCE under hack dir
  Makefile
  hack/urllinter/Makefile
  hack/urllinter/README.md
  hack/urllinter/config/urllintconfig.yaml
  hack/urllinter/go.mod
  hack/urllinter/go.sum
  hack/urllinter/main.go
  hack/urllinter/pkg/lint/lint.go
  hack/urllinter/pkg/lint/summary.go
Labels: area/docs, area/release-eng, cla-not-required

#2941 unmanaged-cluster: support no CNI and failed CNI
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#2924 Bump cpi to 1.22.5
  .github/dependabot.yml
  addons/packages/vsphere-cpi/1.22.5/README.md
  addons/packages/vsphere-cpi/1.22.5/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.22.5/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/overlays/add-secret.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/overlays/update-config.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/overlays/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/overlays/update-secret.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.5/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.5/bundle/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.22.5/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.22.5/package.yaml
  addons/packages/vsphere-cpi/1.22.5/test/Makefile
  addons/packages/vsphere-cpi/1.22.5/test/README.md
  addons/packages/vsphere-cpi/1.22.5/test/go.mod
  addons/packages/vsphere-cpi/1.22.5/test/go.sum
  addons/packages/vsphere-cpi/1.22.5/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.22.5/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
Labels: area/packages, area/docs, cla-not-required

#2957 Update the version value that doesnt contain the "v"
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#2955 Bumps `hack/tagger` crane deps
  hack/tagger/go.mod
  hack/tagger/go.sum
Labels: area/release-eng, cla-not-required

#2954 Doc - Add dynamic TCE version
  docs/site/config.yaml
  docs/site/content/docs/latest/package-management.md
  docs/site/layouts/shortcodes/release_latest_no_v.html
Labels: area/docs, cla-not-required

#2959 Add clarification about squashing commits
  docs/site/content/docs/latest/contribute/contributing.md
Labels: area/docs, cla-not-required

#2960 package/external-dns: Remove empty serviceaccount value from e2e fixture
  addons/packages/external-dns/0.10.0/test/e2e/fixtures/external-dns-values-fixture.yaml
Labels: area/packages, cla-not-required

#2965 Add missing fields to CPI schema
  addons/packages/vsphere-cpi/1.22.5/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.22.5/package.yaml
  addons/packages/vsphere-cpi/1.22.5/sample-values/vsphere-cpi.yaml
Labels: area/packages, cla-not-required

#2869 Update release and test scripts to include `unmanaged-cluster` plugin
  hack/release/install.bat
  hack/release/package-release.sh
  test/release-build-test/check-release-build.ps1
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#2944 Add TeraSky to the TCE Adopters file
  ADOPTERS.md
  logos/terasky.png
Labels: area/docs

#2950 add workflow to test external-dns PRs
  .github/workflows/test-pr-external-dns.yaml
  addons/packages/external-dns/0.10.0/test/go.sum
Labels: area/packages, cla-not-required

#2982 Fix the type of several boolean flags in CPI 1.22.4 and 1.22.3-alpha1
  addons/packages/vsphere-cpi/1.22.5/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/vsphereconf.lib.txt
Labels: area/packages, cla-not-required
