Repository vmware-tanzu/community-edition, pull requests merged in 2022-06, with the labels that each got.

#4665 UI Plugin: Add FAQ, Feedback, and Contribute to main nav
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterInventory.tsx
Labels: area/cli, area/ui

#4523 On release, push to homebrew and chocolatey
  .github/workflows/release-choco-package.yaml
  .github/workflows/release-homebrew-package.yaml
  hack/choco/test/choco-upgrade-test.ps1
  hack/choco/test/e2e-test.ps1
  hack/choco/update-choco-metadata.sh
  hack/choco/update-choco-package.ps1
  hack/homebrew/update-homebrew-package.sh
  hack/homebrew/update-homebrew-test.sh
Labels: area/release-eng, cla-not-required

#4700 UI plugin: CC - proxyServer and dynamic group validation
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCImageRepository.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCProxyComponent.tsx
Labels: cla-not-required, area/cli

#4702 UI plugin: feature flags for workload clusters and unmanaged clusters
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/AppConfiguration.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
Labels: cla-not-required, area/cli

#4703 UI Plugin: Added UI unit tests
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/setupTests.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.tsx
Labels: cla-not-required, area/cli

#4710 support dualstack e2e testing for external-dns
  addons/packages/external-dns/0.10.0/test/e2e/fixtures/kuard-deployment.yaml
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/kuard-deployment.yaml
  addons/packages/external-dns/0.8.0/test/e2e/fixtures/kuard-deployment.yaml
Labels: area/packages, cla-not-required

#3449 update adc crd to enable webhook
  addons/packages/ako-operator/1.6.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/deployment.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/static.yaml
Labels: area/packages, cla-not-required

#4401 Cleaned up unused code
  extensions/docker-desktop/Dockerfile-downloader
  extensions/docker-desktop/apps/clustermgr/main.go
  extensions/docker-desktop/apps/clustermgr/pkg/checks/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/checks/preflightchecks.go
  extensions/docker-desktop/apps/clustermgr/pkg/cluster/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/constants.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/types.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/utils.go
  extensions/docker-desktop/apps/clustermgr/pkg/internal/docker/docker.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/kubeconfig.go
  extensions/docker-desktop/backend/templates/apps/apps-values.yaml
  extensions/docker-desktop/backend/templates/apps/certmanager.yaml
  extensions/docker-desktop/backend/templates/apps/ingress.yaml
  extensions/docker-desktop/backend/templates/apps/kubeapps.yaml
  extensions/docker-desktop/ui/package.json
  extensions/docker-desktop/ui/src/components/PackagesBox/PackageCard.tsx
  extensions/docker-desktop/ui/src/components/PackagesBox/PackageIcon.tsx
  extensions/docker-desktop/ui/src/components/PackagesBox/PackagesBox.tsx
  extensions/docker-desktop/ui/src/components/StatsPane/StatsGauge.tsx
  extensions/docker-desktop/ui/src/components/StatsPane/StatsPane.tsx
  extensions/docker-desktop/ui/src/components/index.tsx
  extensions/docker-desktop/ui/src/imgs/icons/carvel.svg
  extensions/docker-desktop/ui/src/imgs/icons/certmanager.svg
  extensions/docker-desktop/ui/src/imgs/icons/contour.png
  extensions/docker-desktop/ui/src/imgs/icons/kubeapps.png
  extensions/docker-desktop/ui/src/imgs/icons/tce-spin.gif
  extensions/docker-desktop/ui/src/index.tsx
  extensions/docker-desktop/ui/src/providers/globalAppState/reducer.tsx
  extensions/docker-desktop/ui/src/reportWebVitals.ts
  extensions/docker-desktop/ui/src/shared/actions.tsx
  extensions/docker-desktop/ui/src/shared/images.ts
  extensions/docker-desktop/ui/src/views/App.tsx
Labels: cla-not-required

#4725 Support for Choco Updates for non-GA Releases
  hack/choco/tanzu-community-edition-release.nuspec
  hack/choco/tanzu-community-edition-unstable.nuspec
  hack/choco/test/choco-upgrade-test.ps1
  hack/choco/update-choco-metadata.sh
  hack/choco/update-choco-package.ps1
  hack/homebrew/update-homebrew-package.sh
Labels: area/release-eng, cla-not-required

#4696 UI plugin: Adds unamanaged cluster inventory page
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/app.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/conf/paths.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/unmanaged.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/unmanaged.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/UnmanagedClusterInfo/UnmanagedClusterInfo.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/UnmanagedClusterInfo/UnmanagedClusterInfo.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli

#4728 Add godocs to Docker Desktop Extension code
  extensions/docker-desktop/apps/clustermgr/pkg/checks/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/checks/preflightchecks.go
  extensions/docker-desktop/apps/clustermgr/pkg/cluster/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/constants.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/types.go
  extensions/docker-desktop/apps/clustermgr/pkg/config/utils.go
  extensions/docker-desktop/apps/clustermgr/pkg/internal/docker/docker.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/internal/kubeconfig/paths.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/internal/kubeconfig/read.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/internal/providers/providers.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/internal/sets/strings.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/kubeconfig.go
  extensions/docker-desktop/apps/clustermgr/pkg/utils/lock.go
Labels: cla-not-required

#4586 package repository automation #4321
  .github/workflows/package-generate-repository.yaml
  Makefile
  hack/packages/Makefile
  hack/packages/generate-package-repository.go
  hack/workflows/gen-pkgr/check-for-um-package.go
  hack/workflows/gen-pkgr/check.sh
Labels: owner/release-eng, cla-not-required

#4724 Allows kube-system to be orphaned when deleting metrics-server
  addons/packages/metrics-server/0.5.1/bundle/config/overlays/overlay-namespace.yaml
Labels: owner/packages, cla-not-required, area/packages

#4738 Tce UI poc
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Wizard.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterResourcesStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereClusterSettingsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.clusterSettings.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
Labels: cla-not-required, area/cli

#4741 Update TMC docs
  docs/site/content/docs/edge/tmc-register.md
Labels: cla-not-required, area/docs

#4739 Added blog post and updated comm meeting info
  docs/site/content/community/_index.html
  docs/site/content/posts/10-build-supply-chains.md
  docs/site/themes/template/static/img/Build-blog-img0.jpg
  docs/site/themes/template/static/img/Build-blog-img1.png
  docs/site/themes/template/static/img/Build-blog-img2.png
Labels: cla-not-required, area/docs

#4666 Proposal to add Kubeapps to package addons.
  addons/packages/kubeapps/8.1.7/README.md
  addons/packages/kubeapps/8.1.7/package.yaml
  addons/packages/kubeapps/metadata.yaml
  addons/packages/kubeapps/vendir.lock.yml
  addons/packages/kubeapps/vendir.yml
Labels: owner/packages, owner/docs, cla-not-required

#4751 UI Plugin: Welcome view refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/cluster-experience-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/tmc-experience-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBannerItem/RolloverBannerItem.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
Labels: cla-not-required, area/cli

#4749 Ui plugin: vSphere MC - credentials step
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-basic/VsphereManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
Labels: cla-not-required, area/cli

#4752 UI plugin: vSphere MC credentials step - IP family
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
Labels: cla-not-required, area/cli

#4747 UI Plugin: added unit tests for aws provider
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialOneTime.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialProfile.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
Labels: cla-not-required, area/cli

#4721 Ship pinniped v1a1 cascading controller in post-deploy image
  addons/packages/pinniped/0.12.1/bundle/config/libs/constants.lib.yaml
  addons/packages/pinniped/0.12.1/bundle/config/overlay/post-deploy-overlay.yaml
  addons/packages/pinniped/0.12.1/bundle/config/upstream/03-post-deploy.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_3_1-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_4_0-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_4_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-custom-tls-cert.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-external-dns.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0-http-proxy.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-vsphere-custom-concierge-audience-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-vsphere-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-aws-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-azure-v1_3_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-oidc-vsphere-custom-concierge-audience-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-v1_3_1.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-vsphere-v1_3_0.yaml
Labels: owner/packages, cla-not-required

#4758 DDE: Clean up extension logging
  extensions/docker-desktop/apps/clustermgr/main.go
  extensions/docker-desktop/apps/clustermgr/pkg/checks/preflightchecks.go
  extensions/docker-desktop/apps/clustermgr/pkg/cluster/cluster.go
Labels: cla-not-required

#4760 GIT-4729: enable io.Writer based logger
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/log/log_test.go
Labels: area/cli

#4769 Doubles operations able to be performed by stale-bot
  .github/workflows/housekeeping-stale-bot.yaml
Labels: cla-not-required

#4776 Update announcement
  docs/site/themes/template/layouts/partials/announcement.html
Labels: cla-not-required, area/docs

#4770 UI plugin: vSphere MC credentials step - thumbprint
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/vsphere.js
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/vsphere.credential.form.schema.ts
Labels: cla-not-required, area/cli

#4785 Add kpack 0.6.0 release
  addons/packages/kpack/0.6.0/README.md
  addons/packages/kpack/0.6.0/package.yaml
  addons/packages/kpack/vendir.lock.yml
  addons/packages/kpack/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#4786 UI Plugin: Navigation layout refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
Labels: cla-not-required, area/cli

#4784 UI Plugin: Add list of management cluster inventory
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/management-clusters.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterCard.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/VsphereManagementCluster.scss
Labels: cla-not-required, area/cli

#4733 Add Grafana v7.5.16
  addons/packages/grafana/7.5.16/README.md
  addons/packages/grafana/7.5.16/bundle/.imgpkg/bundle.yaml
  addons/packages/grafana/7.5.16/bundle/.imgpkg/images.yml
  addons/packages/grafana/7.5.16/bundle/config/certificates.lib.yaml
  addons/packages/grafana/7.5.16/bundle/config/globals.star
  addons/packages/grafana/7.5.16/bundle/config/helpers.star
  addons/packages/grafana/7.5.16/bundle/config/kinds.lib.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-config.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-dashboard-apiserver.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-dashboard-default.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-dashboard-provider-config.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-datasource-config.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-deployment.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-httpproxy.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-pvc.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-secret.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-grafana-service.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-ingress-secret.yaml
  addons/packages/grafana/7.5.16/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/clusterrole.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/clusterrolebinding.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/configmap.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/dashboard-apiserver-configmap.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/dashboard-default-configmap.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/dashboard-provider-configmap.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/datasource-configmap.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/deployment.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/namespace.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/pvc.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/secret.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/service.yaml
  addons/packages/grafana/7.5.16/bundle/config/upstream/grafana/serviceaccount.yaml
  addons/packages/grafana/7.5.16/bundle/config/values.yaml
  addons/packages/grafana/7.5.16/bundle/vendir.lock.yml
  addons/packages/grafana/7.5.16/bundle/vendir.yml
  addons/packages/grafana/7.5.16/package.yaml
  addons/packages/grafana/metadata.yaml
  addons/repos/main.yaml
Labels: area/docs, area/packages

#4797 [E2E] Used tanzu lib to create and delete UC in UC e2e-test
  cli/cmd/plugin/unmanaged-cluster/test/e2e/e2e_suite_test.go
  cli/cmd/plugin/unmanaged-cluster/test/e2e/utils/cli.go
Labels: cla-not-required, area/cli

#4798 UI: Restore build output README to avoid lint failures
  cli/cmd/plugin/ui/web/tanzu-ui/build/README.md
Labels: cla-not-required, area/docs, area/cli

#4789 Add version 0.9.1 of secretgen-controller
  addons/packages/secretgen-controller/0.9.1/README.md
  addons/packages/secretgen-controller/0.9.1/bundle/.imgpkg/bundle.yml
  addons/packages/secretgen-controller/0.9.1/bundle/.imgpkg/images.yml
  addons/packages/secretgen-controller/0.9.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/secretgen-controller/0.9.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/secretgen-controller/0.9.1/bundle/config/schema.yaml
  addons/packages/secretgen-controller/0.9.1/bundle/config/upstream/secretgen-controller.yaml
  addons/packages/secretgen-controller/0.9.1/bundle/config/values.star
  addons/packages/secretgen-controller/0.9.1/bundle/config/values.yaml
  addons/packages/secretgen-controller/0.9.1/bundle/vendir.lock.yml
  addons/packages/secretgen-controller/0.9.1/bundle/vendir.yml
  addons/packages/secretgen-controller/0.9.1/package.yaml
Labels: cla-not-required, area/docs, area/packages

#4792 UI Plugin: fixes websocket connection issue
  cli/cmd/plugin/ui/server/serve.go
Labels: cla-not-required, area/cli

#4775 UI Plugin: Getting Started refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/management-cluster-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/unmanaged-cluster-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/workload-cluster-bg.svg
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
Labels: cla-not-required, area/cli

#4748 UI Plugin: Add Create Unmanaged cluster basic wizard #4655
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/unmanaged.js
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.umc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterCard/UnmanagedClusterCard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterCard/UnmanagedClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/UnmanagedClusterWizardAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/UnmanagedClusterWizardBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
Labels: cla-not-required, area/cli

#4811 UI: Initialize clients on initial launch
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/aws.go
  cli/cmd/plugin/ui/server/handlers/azure.go
  cli/cmd/plugin/ui/server/handlers/docker.go
  cli/cmd/plugin/ui/server/handlers/mgmtcluster.go
  cli/cmd/plugin/ui/server/handlers/vsphere.go
  cli/cmd/plugin/ui/server/handlers/workloadcluster.go
  cli/cmd/plugin/ui/server/serve.go
Labels: cla-not-required, area/cli

#4823 UI: Test reinit config when creating clients
  cli/cmd/plugin/ui/pkg/system/client.go
Labels: cla-not-required, area/cli

#4825 Add CPI version 1.23.1.
  addons/packages/vsphere-cpi/1.23.1/README.md
  addons/packages/vsphere-cpi/1.23.1/bundle/.imgpkg/bundle.yml
  addons/packages/vsphere-cpi/1.23.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.1/bundle/vendir.lock.yml
  addons/packages/vsphere-cpi/1.23.1/bundle/vendir.yml
  addons/packages/vsphere-cpi/1.23.1/package.yaml
  addons/packages/vsphere-cpi/1.23.1/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.23.1/test/Makefile
  addons/packages/vsphere-cpi/1.23.1/test/README.md
  addons/packages/vsphere-cpi/1.23.1/test/go.mod
  addons/packages/vsphere-cpi/1.23.1/test/go.sum
  addons/packages/vsphere-cpi/1.23.1/test/vsphere_cpi_suite_test.go
  addons/packages/vsphere-cpi/1.23.1/test/vsphere_cpi_test.go
Labels: cla-not-required, area/docs, area/packages

#4793 Adding fluxcd source controller 0.24.4+update.1
  addons/packages/fluxcd-source-controller/0.21.2/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.21.5/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.21.5/test/flux-source-controller/config/testdata/minio/secret.yaml
  addons/packages/fluxcd-source-controller/0.24.4+update.1/README.md
  addons/packages/fluxcd-source-controller/0.24.4+update.1/package.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/README.md
  addons/packages/fluxcd-source-controller/0.24.4.1/package.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/secret.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/secret.yaml
  addons/packages/fluxcd-source-controller/vendir.lock.yml
  addons/packages/fluxcd-source-controller/vendir.yml
Labels: cla-not-required, area/docs, area/packages

#4839 Update whereabouts readme with explanation and limitation
  addons/packages/whereabouts/0.5.0/README.md
  addons/packages/whereabouts/0.5.1/README.md
Labels: cla-not-required, area/docs, area/packages

#4836 Removing 0.24.4.1 version of fluxcd-source-controller
  addons/packages/fluxcd-source-controller/0.24.4.1/README.md
  addons/packages/fluxcd-source-controller/0.24.4.1/package.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.24.4.1/test/flux-source-controller/config/testdata/minio/secret.yaml
Labels: cla-not-required, area/docs, area/packages

#4822 correct setting of coreDNSIP in kapp-controller package
  addons/packages/kapp-controller/0.38.1/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.38.1/bundle/config/values.star
Labels: cla-not-required, area/packages

#4806 Update metadata categories to match Bitnami #4803
  addons/packages/cert-manager/metadata.yaml
  addons/packages/contour/metadata.yaml
  addons/packages/external-dns/metadata.yaml
  addons/packages/fluent-bit/metadata.yaml
  addons/packages/grafana/metadata.yaml
  addons/packages/harbor/metadata.yaml
  addons/packages/metrics-server/metadata.yaml
  addons/packages/pinniped/metadata.yaml
Labels: cla-not-required, area/packages

#4709 Fix doc issue link and remove edit option
  docs/site/themes/template/layouts/partials/docs-right-bar.html
Labels: owner/docs, cla-not-required

#4843 UI Plugin: Cluster inventory refinements
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterCard/UnmanagedClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: cla-not-required, area/cli

#4802 Updated to knative serving 1.5.0
  addons/packages/knative-serving/1.5.0/README.md
  addons/packages/knative-serving/1.5.0/bundle/.imgpkg/bundle.yml
  addons/packages/knative-serving/1.5.0/bundle/.imgpkg/images.yml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/assertions.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-config-autoscaler.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-config-contour.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-config-domain.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-config-servicedomain-template.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-config-tls.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/upstream/cert-manager/net-certmanager.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/upstream/contour/net-contour.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/upstream/serving/serving-core.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/upstream/serving/serving-crds.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/upstream/serving/serving-default-domain.yaml
  addons/packages/knative-serving/1.5.0/bundle/config/values.yaml
  addons/packages/knative-serving/1.5.0/bundle/vendir.lock.yml
  addons/packages/knative-serving/1.5.0/bundle/vendir.yml
  addons/packages/knative-serving/1.5.0/package.yaml
Labels: cla-not-required, area/package/knative-serving, area/docs, area/packages

#4853 packages: kapp-controller 0.38.3
  addons/packages/kapp-controller/0.38.3/README.md
  addons/packages/kapp-controller/0.38.3/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.38.3/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.38.3/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.38.3/bundle/config/values.star
  addons/packages/kapp-controller/0.38.3/bundle/config/values.yaml
  addons/packages/kapp-controller/0.38.3/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.38.3/bundle/vendir.yml
  addons/packages/kapp-controller/0.38.3/package.yaml
Labels: cla-not-required, area/docs, area/packages

#4787 UI plugin: vSphere MC credentials osImage check
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/vsphere.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-datacenters.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-osimages-no-templates-one-image.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-osimages-no-templates.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/provider-vsphere-osimages-none.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Websocket.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/dockerDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/Reducer.utils.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Resources.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/App.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Aws.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Deployment.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Docker.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/DynamicForm.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Wizard.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Docker.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.umc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/Store.vsphere.mc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/ThumbprintDisplay.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/ThumbprintDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/Vsphere.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/providers/vsphere/VsphereResources.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/Wc.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterUtility.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWorkflow.tsx
Labels: cla-not-required, area/cli

#4826 UI Plugin: Misc bug fixes, add notification component
  cli/cmd/plugin/ui/web/tanzu-ui/.gitignore
  cli/cmd/plugin/ui/web/tanzu-ui/build-assets/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/www.js
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/utils.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/PageNotification/PageNotification.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/aws.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialOneTime.tsx
Labels: cla-not-required, area/docs, area/cli

#4868 UI: Explicitly set default CAPI providers
  cli/cmd/plugin/ui/server/handlers/aws.go
Labels: cla-not-required, area/cli

#4864 UI plugin: small refactor of vSphere MC class
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereOsImageUtil.tsx
Labels: cla-not-required, area/cli

#4854 Unmanaged-cluster: Protect cli against extra arguments
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/cmd/start.go
  cli/cmd/plugin/unmanaged-cluster/cmd/stop.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
Labels: area/cli

#4860 Add exernal-dns 0.11.0+1 to package repo
  addons/repos/main.yaml
Labels: cla-not-required, area/packages

#4830 Create Tooltip Component
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/Tooltip.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/Tooltip.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/TooltipContent/TooltipContent.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Tooltip/TooltipContent/TooltipContent.tsx
Labels: cla-not-required, area/cli

#4887 When publishing choco, checkout the code based on the release branch
  .github/workflows/release-choco-package.yaml
  .github/workflows/release-homebrew-package.yaml
Labels: cla-not-required

#4880 uninstall docs: edit to include missing escape command
  docs/site/content/docs/edge/cli-uninstall.md
Labels: area/docs

#4844 UI Plugin : #4720 Contextual Help Framework
  cli/cmd/plugin/ui/web/tanzu-ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/data.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/fuse-index.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/aws-intro.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tce/docker-daemon.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tkg/demo.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tkg/networking/kubernetes-networking.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/assets/contextualHelpDocs/tkg/networking/proxy-configuration.html
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/scripts/contextual-help/build-index.js
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/ContextualHelp/ContextualHelp.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DataAccordion/DataAccordion.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.enum.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/Drawer/Drawer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/HeaderBar/HeaderBar.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/hooks/Fuse.interface.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/hooks/UseFuseSearch.tsx
Labels: cla-not-required, area/docs, area/cli

#4884 Update package readme template #4882
  docs/packaging/creation/documentation.md
Labels: cla-not-required, area/docs

#4905 UI: Set provider names for all infra types
  cli/cmd/plugin/ui/server/handlers/azure.go
  cli/cmd/plugin/ui/server/handlers/docker.go
  cli/cmd/plugin/ui/server/handlers/vsphere.go
Labels: cla-not-required, area/cli

#4872 add metrics-server v0.6.1
  addons/packages/metrics-server/0.6.1/README.md
  addons/packages/metrics-server/0.6.1/bundle/.imgpkg/bundle.yml
  addons/packages/metrics-server/0.6.1/bundle/.imgpkg/images.yml
  addons/packages/metrics-server/0.6.1/bundle/config/overlays/overlay-apiservice.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/upstream/components.yaml
  addons/packages/metrics-server/0.6.1/bundle/config/values.yaml
  addons/packages/metrics-server/0.6.1/bundle/vendir.lock.yml
  addons/packages/metrics-server/0.6.1/bundle/vendir.yml
  addons/packages/metrics-server/0.6.1/package.yaml
  addons/packages/metrics-server/metadata.yaml
Labels: cla-not-required, area/docs, area/packages

#4804 Add Contour 1.20.2
  addons/packages/contour/1.20.2/README.md
  addons/packages/contour/1.20.2/bundle/.imgpkg/bundle.yaml
  addons/packages/contour/1.20.2/bundle/.imgpkg/images.yml
  addons/packages/contour/1.20.2/bundle/config/certificates.lib.yaml
  addons/packages/contour/1.20.2/bundle/config/contour.star
  addons/packages/contour/1.20.2/bundle/config/overlays/add-certmanager-certs.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/change-namespace.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/remove-certgen-job.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/update-contour-configmap.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/update-crds.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.20.2/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.20.2/bundle/config/upstream/contour.yaml
  addons/packages/contour/1.20.2/bundle/config/values.yaml
  addons/packages/contour/1.20.2/bundle/vendir.lock.yml
  addons/packages/contour/1.20.2/bundle/vendir.yml
  addons/packages/contour/1.20.2/package.yaml
  addons/packages/contour/1.20.2/test/Makefile
  addons/packages/contour/1.20.2/test/go.mod
  addons/packages/contour/1.20.2/test/go.sum
  addons/packages/contour/1.20.2/test/tools.go
  addons/packages/contour/1.20.2/test/unittest/contour_suite_test.go
  addons/packages/contour/1.20.2/test/unittest/contour_test.go
  addons/packages/contour/1.20.2/test/unittest/fixtures_test.go
Labels: cla-not-required, area/docs, area/packages

#4909 Bump AWS EBS CSI Driver to 1.8.0
  addons/packages/aws-ebs-csi-driver/1.8.0/README.md
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/.imgpkg/bundle.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/.imgpkg/images.yml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/overlays/update-aws-ebs-csi-driver.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/schema.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/upstream/aws-ebs-csi-driver.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/upstream/crd-csi-snapshot.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/upstream/csi-snapshot-controller.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/values.star
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/values.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/vendir.lock.yml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/vendir.yml
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/test/Makefile
  addons/packages/aws-ebs-csi-driver/1.8.0/test/README.md
  addons/packages/aws-ebs-csi-driver/1.8.0/test/aws-ebs-csi-driver_suite_test.go
  addons/packages/aws-ebs-csi-driver/1.8.0/test/aws-ebs-csi-driver_test.go
  addons/packages/aws-ebs-csi-driver/1.8.0/test/go.mod
  addons/packages/aws-ebs-csi-driver/1.8.0/test/go.sum
Labels: cla-not-required, area/docs, area/packages

#4812 Topic/UI Plugin: Unmanaged Cluster Deletion, landing page Unit Tests, Validation
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/unmanaged.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterCard/UnmanagedClusterCard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-network-settings-step/UnmanagedClustersNetworkSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsAdvanced.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/unmanaged-cluster-wizard-page/unmanaged-cluster-settings-step/UnmanagedClustersSettingsBasic.tsx
Labels: cla-not-required, area/cli

#4781 Update App Toolkit 0.2.0 Documentation to be more consistent
  addons/packages/app-toolkit/0.2.0/README.md
Labels: cla-not-required, area/docs, area/packages

#4921 Bump snapshot controller version used by aws ebs csi driver 1.8.0
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/.imgpkg/images.yml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/upstream/aws-ebs-csi-driver.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/bundle/config/upstream/csi-snapshot-controller.yaml
  addons/packages/aws-ebs-csi-driver/1.8.0/package.yaml
Labels: cla-not-required, area/packages

#4918 External-dns e2e test hardening
  addons/packages/external-dns/0.11.0/test/e2e/externaldns_test.go
Labels: cla-not-required, area/packages

#4898 Bump prometheus version to v2.36.2
  addons/packages/prometheus/2.36.2/README.md
  addons/packages/prometheus/2.36.2/bundle/.imgpkg/bundle.yaml
  addons/packages/prometheus/2.36.2/bundle/.imgpkg/images.yml
  addons/packages/prometheus/2.36.2/bundle/config/certificates.lib.yaml
  addons/packages/prometheus/2.36.2/bundle/config/globals.star
  addons/packages/prometheus/2.36.2/bundle/config/helpers.star
  addons/packages/prometheus/2.36.2/bundle/config/kinds.lib.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-alertmanager.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-ingress-secret.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-kube-state-metrics.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-node-exporter.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-prometheus-httpproxy.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-prometheus.yaml
  addons/packages/prometheus/2.36.2/bundle/config/overlays/overlay-pushgateway.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/clusterrole.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/clusterrolebinding.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/deployment.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/pvc.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/secret.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/service.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/alertmanager/serviceaccount.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/clusterrole.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/clusterrolebinding.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/deployment.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/service.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/kube-state-metrics/serviceaccount.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/clusterolebinding.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/clusterrole.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/daemonset.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/psp.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/service.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/node-exporter/serviceaccount.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/clusterrole.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/clusterrolebinding.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/configmap.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/deployment.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/namespace.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/pvc.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/service.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/prometheus/serviceaccount.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/pushgateway/clusterrole.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/pushgateway/clusterrolebinding.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/pushgateway/deployment.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/pushgateway/service.yaml
  addons/packages/prometheus/2.36.2/bundle/config/upstream/pushgateway/serviceaccount.yaml
  addons/packages/prometheus/2.36.2/bundle/config/values.yaml
  addons/packages/prometheus/2.36.2/bundle/kbld-config.yml
  addons/packages/prometheus/2.36.2/bundle/vendir.lock.yml
  addons/packages/prometheus/2.36.2/bundle/vendir.yml
  addons/packages/prometheus/2.36.2/package.yaml
  addons/packages/prometheus/metadata.yaml
  addons/repos/main.yaml
Labels: cla-not-required, area/docs, area/packages

#4917 Antrea 1.5.3 patch bump
  addons/packages/antrea/1.5.3/README.md
  addons/packages/antrea/1.5.3/bundle/.imgpkg/bundle.yaml
  addons/packages/antrea/1.5.3/bundle/.imgpkg/images.yml
  addons/packages/antrea/1.5.3/bundle/config/kapp-config.yaml
  addons/packages/antrea/1.5.3/bundle/config/overlay/antrea-overlay.yaml
  addons/packages/antrea/1.5.3/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/antrea/1.5.3/bundle/config/schema.yaml
  addons/packages/antrea/1.5.3/bundle/config/upstream/antrea.yaml
  addons/packages/antrea/1.5.3/bundle/config/values.star
  addons/packages/antrea/1.5.3/bundle/config/values.yaml
  addons/packages/antrea/1.5.3/bundle/vendir.lock.yml
  addons/packages/antrea/1.5.3/bundle/vendir.yml
  addons/packages/antrea/1.5.3/package.yaml
  addons/packages/antrea/1.5.3/test/Makefile
  addons/packages/antrea/1.5.3/test/README.md
  addons/packages/antrea/1.5.3/test/antrea_suite_test.go
  addons/packages/antrea/1.5.3/test/antrea_test.go
  addons/packages/antrea/1.5.3/test/go.mod
  addons/packages/antrea/1.5.3/test/go.sum
Labels: cla-not-required, area/docs, area/packages

#4878 UI plugin: small refactor of MC vSphere credentials step
  cli/cmd/plugin/ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/FormInputSections/ClusterNameInput.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/vsphere/vsphere-mc-common/VsphereCredentialsStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
Labels: cla-not-required, area/docs, area/cli

#4939 Contour 1.20.2: Fix contour Deployment overlay error
  addons/packages/contour/1.20.2/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.20.2/package.yaml
  addons/packages/contour/1.20.2/test/unittest/contour_test.go
Labels: cla-not-required, area/packages
