Repository vmware-tanzu/community-edition, pull requests merged in 2022-03, with the labels that each got.

#3281 `unmanaged-cluster` uses `v0.10.1` TCE package repo named `tce-core`
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: cla-not-required, area/cli

#2769 Bootstrap visiblity design document
  docs/designs/2730-visibility.md
  docs/designs/imgs-2730/current.png
  docs/designs/imgs-2730/kind.png
  docs/designs/imgs-2730/tce-unmanaged.png
Labels: area/docs, cla-not-required

#3079 add Contour 1.20.1 package
  addons/packages/contour/1.20.1/README.md
  addons/packages/contour/1.20.1/bundle/.imgpkg/bundle.yaml
  addons/packages/contour/1.20.1/bundle/.imgpkg/images.yml
  addons/packages/contour/1.20.1/bundle/config/certificates.lib.yaml
  addons/packages/contour/1.20.1/bundle/config/contour.star
  addons/packages/contour/1.20.1/bundle/config/overlays/add-certmanager-certs.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/remove-certgen-job.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/update-contour-configmap.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/update-contour-deployment.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/update-crds.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/update-envoy-daemonset.yaml
  addons/packages/contour/1.20.1/bundle/config/overlays/update-envoy-service.yaml
  addons/packages/contour/1.20.1/bundle/config/upstream/contour.yaml
  addons/packages/contour/1.20.1/bundle/config/values.yaml
  addons/packages/contour/1.20.1/bundle/vendir.lock.yml
  addons/packages/contour/1.20.1/bundle/vendir.yml
  addons/packages/contour/1.20.1/package.yaml
  addons/packages/contour/1.20.1/test/Makefile
  addons/packages/contour/1.20.1/test/go.mod
  addons/packages/contour/1.20.1/test/go.sum
  addons/packages/contour/1.20.1/test/tools.go
  addons/packages/contour/1.20.1/test/unittest/contour_suite_test.go
  addons/packages/contour/1.20.1/test/unittest/contour_test.go
  addons/packages/contour/1.20.1/test/unittest/fixtures_test.go
Labels: area/packages, area/docs, cla-not-required

#3282 Add 0.30.1 kapp-controller package
  addons/packages/kapp-controller/0.30.1/README.md
  addons/packages/kapp-controller/0.30.1/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.30.1/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.30.1/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.30.1/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.30.1/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.30.1/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.30.1/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.30.1/bundle/config/values.star
  addons/packages/kapp-controller/0.30.1/bundle/config/values.yaml
  addons/packages/kapp-controller/0.30.1/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.30.1/bundle/vendir.yml
  addons/packages/kapp-controller/0.30.1/package.yaml
Labels: area/packages, area/docs, cla-not-required

#3279 Implements `unmanaged-cluster` diagnostics collection
  cli/cmd/plugin/diagnostics/e2e-test/e2e-test.sh
  cli/cmd/plugin/diagnostics/e2e-test/setup-e2e-test.sh
  cli/cmd/plugin/diagnostics/pkg/collect_cmd.go
  cli/cmd/plugin/diagnostics/pkg/collect_unmanaged.go
  cli/cmd/plugin/diagnostics/pkg/types.go
  cli/cmd/plugin/diagnostics/scripts/unmanaged_cluster.star
Labels: cla-not-required, area/cli

#3280 Add unit tests for load-balancer-and-ingress-service package 1.6.0
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/Makefile
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/README.md
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/go.mod
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/go.sum
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/load_balancer_and_ingress_service_suite_test.go
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/load_balancer_and_ingress_service_test.go
Labels: area/packages, area/docs, cla-not-required

#3287 Add unit tests about CPI settings: thumbprint
  addons/packages/vsphere-cpi/1.22.5/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#3283 Revert back to TF 0.11.1
  Makefile
  hack/FRAMEWORK_BUILD_VERSION
  hack/builder/Makefile
  hack/builder/build-tanzu.sh
  hack/builder/go.mod
  hack/builder/go.sum
  hack/builder/install-tanzu.sh
  hack/builder/prep-gcp-tanzu.sh
  hack/release/install.bat
  hack/release/install.sh
  hack/release/package-release.sh
Labels: area/release-eng, cla-not-required

#3302 TCE UI: Adds main navigation panel
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/event-handlers.utility.ts
Labels: cla-not-required, area/ui

#3249 Implements meaningful exit codes for create `unmanaged` cluster
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/codes.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3278 Add unit tests for ako-operator package 1.6.0
  addons/packages/ako-operator/1.6.0/test/Makefile
  addons/packages/ako-operator/1.6.0/test/README.md
  addons/packages/ako-operator/1.6.0/test/ako_operator_suite_test.go
  addons/packages/ako-operator/1.6.0/test/ako_operator_test.go
  addons/packages/ako-operator/1.6.0/test/go.mod
  addons/packages/ako-operator/1.6.0/test/go.sum
Labels: area/packages, area/docs, cla-not-required

#3303 Fix staging build after reverting back to 0.11.1
  .github/workflows/build-staging.yaml
  Makefile
Labels: area/release-eng, cla-not-required

#3305 Fix continuous reconciliation in load-balancer-and-ingress-service
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/gatewayclasses.yaml
  addons/packages/load-balancer-and-ingress-service/1.6.1/bundle/config/upstream/loadbalancerandingressservice/crds/gateways.yaml
Labels: area/packages, cla-not-required

#3318 Update Azure image name in doc.
  docs/site/content/docs/latest/azure-mgmt.md
Labels: area/docs, cla-not-required

#3316 Fix tagging from a release branch (release-0.10)
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#3315 Fix tagging from a release branch (for main)
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#3328 Adds `unmanaged-cluster configure` aliases
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
Labels: cla-not-required, area/cli

#3327 Fix the signing-gate validation on the release & path for the GCP uploads
  .github/workflows/release-fake-bucket.yaml
  .github/workflows/release-ga-bucket.yaml
  .github/workflows/release-nonga-bucket.yaml
  test/release-build-test/check-release-build.ps1
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#3262 add cartographer package
  addons/packages/cartographer/0.2.2/README.md
  addons/packages/cartographer/0.2.2/package.yaml
  addons/packages/cartographer/metadata.yaml
  addons/packages/cartographer/vendir.lock.yml
  addons/packages/cartographer/vendir.yml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#3336 remove cartographer from main.yaml #3335
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#3309 Update package repo
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#3311 Fix continuous reconcilation in ako-operator
  addons/packages/ako-operator/1.4.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/ako-operator/1.5.0/bundle/config/upstream/akooperator/static.yaml
  addons/packages/ako-operator/1.6.0/bundle/config/upstream/akooperator/static.yaml
Labels: area/packages, cla-not-required

#3258 Add cert-injection-webhook package
  addons/packages/cert-injection-webhook/0.1.0/README.md
  addons/packages/cert-injection-webhook/0.1.0/package.yaml
  addons/packages/cert-injection-webhook/metadata.yaml
  addons/packages/cert-injection-webhook/vendir.lock.yml
  addons/packages/cert-injection-webhook/vendir.yml
  docs/site/content/packages/_index.html
Labels: area/packages, area/docs, cla-not-required

#3224 [E2E][AWS] Fix workflow file path in workflow config
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
Labels: cla-not-required

#2654 e2e: Add cleanup utils for Velero tests
  test/e2e/e2e.go
  test/e2e/e2e_suite_test.go
  test/e2e/install.go
  test/e2e/testdata/ensure-e2e-deps/aws-cli-choices.xml
  test/e2e/testdata/velero/velero_values.yaml
  test/e2e/utils/cli.go
  test/e2e/utils/velero/velero_prefix_cleanup.sh
  test/e2e/utils/velero/velero_prefix_setup.sh
  test/ensure-aws-cli.sh
  test/go.mod
  test/go.sum
Labels: area/release-eng, cla-not-required

#3340 Delay pruning binaries until after the update buckets have been uploaded
  Makefile
Labels: area/release-eng, cla-not-required

#3330 Update codeowners for new packages #3329
  CODEOWNERS
Labels: cla-not-required

#3346 Fix Windows Installation and Signing Verification for 0.11.0
  hack/release/install.bat
  hack/release/uninstall.bat
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#3107 Package docs should warn about comments in custom values.yaml file #2909
  docs/site/content/docs/latest/package-management.md
Labels: area/docs, cla-not-required

#3245 Use `calico` as the default CNI for `unmanaged` clusters
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
Labels: cla-not-required, area/cli

#3349 Fix Extraction Directory for MacOS Signing Check
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#3226 adding vsphere-pv-csi addon
  addons/packages/vsphere-pv-csi/2.4.1/README.md
  addons/packages/vsphere-pv-csi/2.4.1/bundle/.imgpkg/bundle.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/.imgpkg/images.yml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/overlays/set-cns-csi-conf.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/overlays/set-namespace.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/schema.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/values.star
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/values.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/config/vendor/vsphere-csi/manifests/guestcluster/1.22/pvcsi.yaml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/vendir.lock.yml
  addons/packages/vsphere-pv-csi/2.4.1/bundle/vendir.yml
  addons/packages/vsphere-pv-csi/2.4.1/package.yaml
  addons/packages/vsphere-pv-csi/metadata.yaml
Labels: area/packages, area/docs

#3352 MacOS Signing Directory
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#3353 MacOS Directory Part 2
  test/release-build-test/check-release-build.sh
Labels: area/release-eng, cla-not-required

#3357 Fix automation for creating patch release to use correct branch (release-0.10 branch)
  hack/PREVIOUS_RELEASE_HASH
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#3358 Fix automation for creating patch release to use correct branch (main)
  hack/release/cut-release.sh
Labels: area/release-eng, cla-not-required

#3321 Docs: Apply proper bolding for strong elements
  docs/site/themes/template/assets/scss/_base.scss
Labels: area/docs, cla-not-required

#3362 Add .gitattributes file to ensure line endings
  .gitattributes
  hack/release/install.bat
  hack/release/uninstall.bat
Labels: area/release-eng, cla-not-required

#3152 [vsphere-cpi] Add new flags `insecure` and `remoteAuthEnabled`
  addons/packages/vsphere-cpi/1.18.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.18.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.19.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.19.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.20.0/bundle/config/values.star
  addons/packages/vsphere-cpi/1.20.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.21.0/bundle/config/values.star
  addons/packages/vsphere-cpi/1.21.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.4/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.4/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.5/README.md
  addons/packages/vsphere-cpi/1.22.5/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.5/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.22.5/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.22.5/package.yaml
  addons/packages/vsphere-cpi/1.22.5/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.22.5/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.23.0-alpha.1/README.md
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.star
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-cpi/1.23.0-alpha.1/package.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/sample-values/vsphere-cpi.yaml
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/vsphere_cpi_test.go
Labels: area/packages, area/docs, cla-not-required

#3383 Post daily build notifications to an existing pinned discussion
  hack/dailybuild/dailybuild.go
Labels: area/release-eng, cla-not-required

#3378 Update ROADMAP.md
  ROADMAP.md
Labels: area/docs, cla-not-required

#3380 Update kind dependency to v0.12.0
  cli/cmd/plugin/diagnostics/go.mod
  cli/cmd/plugin/diagnostics/go.sum
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/go.sum
Labels: cla-not-required, area/cli

#3371 Fix dependabot.yaml
  .github/dependabot.yml
Labels: cla-not-required

#3451 Add cartographer 0.2.2 back to main repo #3367
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#3364 Update framework to v0.11.2
  Makefile
  hack/FRAMEWORK_BUILD_VERSION
  hack/builder/Makefile
  hack/builder/build-tanzu.sh
  hack/builder/go.mod
  hack/builder/go.sum
  hack/builder/install-tanzu.sh
  hack/release/install.bat
  hack/release/install.sh
  hack/release/package-release.sh
Labels: area/release-eng, cla-not-required

#3374 Update release directory name in E2E test scripts
  test/build-tce.sh
  test/download-or-build-tce.sh
Labels: area/release-eng, cla-not-required

#3457 fix harbor 2.2.3 e2e test package Displayname
  addons/packages/harbor/2.2.3/test/e2e/harbor_suite_test.go
Labels: area/packages, cla-not-required

#3343 Modify velero AWS plugin name in deployment
  addons/packages/velero/1.7.1/bundle/config/upstream/velero/velero.yaml
  addons/packages/velero/1.7.1/package.yaml
Labels: area/packages, cla-not-required

#3304 `unmanaged-cluster` kind provider can consume `ProviderConfiguration`
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3373 Adding fluxcd-source-controller 0.21.2 for TCE
  addons/packages/fluxcd-source-controller/0.21.2/README.md
  addons/packages/fluxcd-source-controller/0.21.2/package.yaml
  addons/packages/fluxcd-source-controller/metadata.yaml
  addons/repos/main.yaml
Labels: area/packages, area/docs, cla-not-required

#3450 Update tasks to require a tag when pushing to the oci registry
  Makefile
  docs/site/content/docs/latest/designs/package-process.md
  hack/packages/Makefile
  hack/packages/generate-package-repository.go
Labels: area/docs, area/release-eng, cla-not-required

#3299 Implements saving `kind` config during cluster creation for `unmanaged-cluster` creation
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3474 Perform signing check with source code from the release and not main
  .github/workflows/release-gate-macos-linux-builds.yaml
  .github/workflows/release-gate-windows-build.yaml
Labels: cla-not-required

#3490 Add script and Makefile for docs versioning
  docs/site/Makefile
  docs/site/load-docs.sh
Labels: area/docs, cla-not-required

#3460 TCE UI plugin: Adds some base eslint rules and linting to run/build scripts
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/header/header.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/event-handlers.utility.ts
Labels: area/cli, area/ui

#3494 Uses the new `v1.22.5` TKR for `unmanaged-cluster`
  cli/cmd/plugin/unmanaged-cluster/config/config.go
Labels: cla-not-required, area/cli

#3496 Update Grafana/Prometheus packages to work with latest cert-manager APIs
  addons/packages/grafana/7.5.7/bundle/config/certificates.lib.yaml
  addons/packages/grafana/7.5.7/package.yaml
  addons/packages/prometheus/2.27.0/bundle/config/certificates.lib.yaml
  addons/packages/prometheus/2.27.0/package.yaml
Labels: area/packages, cla-not-required

#3497 Make install/uninstall output more friendly
  hack/release/install.sh
  hack/release/uninstall.sh
Labels: area/release-eng, cla-not-required

#3501 Update path for /usr/bin/env reference
  hack/release/install.sh
  hack/release/uninstall.sh
Labels: area/release-eng, cla-not-required

#3469 Update docs for diagnostics to reflect using with unmanaged-cluster
  cli/cmd/plugin/diagnostics/README.md
  docs/site/content/docs/latest/tanzu-diagnostics.md
Labels: area/docs, cla-not-required, area/cli

#3473 Implements setting port maps to only control-plane node for `unmanaged-cluster`
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
Labels: cla-not-required, area/cli

#3515 Implements `--quiet` option for `unmanaged-cluster list`
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
Labels: cla-not-required, area/cli

#3504 Fix harbor e2e contour service type
  addons/packages/harbor/2.3.3/test/e2e/fixtures/contour.yaml
  addons/packages/harbor/2.3.3/test/e2e/harbor_suite_test.go
Labels: area/packages, cla-not-required

#3500 Fix shellcheck shell script linting
  docs/site/Makefile
  docs/site/load-docs.sh
  hack/check/check-shell.sh
  test/release-build-test/check-release-build.sh
  test/smoke/packages/cert-manager/1.5.3/cert-manager-test.sh
  test/smoke/packages/contour/1.18.2/contour-test.sh
  test/smoke/packages/fluent-bit/1.7.5/fluent-bit-test.sh
  test/smoke/packages/knative-serving/0.22.0/knative-serving-test.sh
  test/smoke/packages/local-path-storage/0.0.20/local-path-storage-test.sh
  test/smoke/packages/prometheus/2.27.0/prometheus-test.sh
  test/smoke/packages/utils/smoke-tests-utils.sh
Labels: area/docs, area/release-eng, cla-not-required

#3514 Rename cli plugin publish jobs to support macOS
  Makefile
Labels: area/release-eng, cla-not-required

#3531 Rename existing GH Actions for Grouping/Organization
  .github/workflows/housekeeping-issues-prow.yaml
  .github/workflows/housekeeping-pull-requests.yaml
  .github/workflows/housekeeping-stale-bot.yaml
  .github/workflows/housekeeping-welcome-contributors.yaml
Labels: cla-not-required

#3532 Tests/Checks that need to be running on release branches
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-diagnostics-plugin.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/e2e-aws-management-and-workload-cluster.yaml
  .github/workflows/e2e-azure-management-and-workload-cluster.yaml
  .github/workflows/e2e-diagnostics-plugin.yaml
Labels: cla-not-required

#3493 TCE UI: added store, actions and reducers
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/public/tce-logo.png
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/LandingPage.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/TestRender.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/constants/actionTypes.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/reducers/formReducer.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/reducers/index.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/reducers/uiReducer.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/reducerUtils.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/stores/store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/types/types.ts
Labels: cla-not-required, area/cli

#3264 Reenable submodule linting
  Makefile
  addons/packages/ako-operator/1.6.0/test/ako_operator_test.go
  addons/packages/contour/1.20.1/test/unittest/contour_test.go
  addons/packages/contour/1.20.1/test/unittest/fixtures_test.go
  addons/packages/harbor/2.2.3/test/e2e/harbor_suite_test.go
  addons/packages/load-balancer-and-ingress-service/1.6.1/test/load_balancer_and_ingress_service_test.go
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/go.mod
  cli/cmd/plugin/diagnostics/pkg/collect_unmanaged.go
  cli/cmd/plugin/diagnostics/pkg/types.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image.go
  hack/packages/generate-package-repository.go
Labels: area/packages, area/release-eng, cla-not-required, area/cli

#3539 Implements bubbling up `unmanaged-cluster` provider notification
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/noop.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3549 prereq-windows(doc): Fix link to install docker on windows
  docs/site/content/docs/assets/prereq-windows.md
Labels: area/docs

#3556 Add preflight warnings
  cli/cmd/plugin/unmanaged-cluster/cluster/cluster.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/cluster/kind_test.go
  cli/cmd/plugin/unmanaged-cluster/cluster/noop.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3540 Implements `unmanaged-cluster` using context name on passed in kubeconfig for existing-clusters
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/kubeconfig/kubeconfig.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3464 Implements setting additional package repositories to install for `unmanaged-cluster`
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: cla-not-required, area/cli

#3550 Introduce ARM64 support to unmanaged-cluster
  addons/packages/calico-ce/3.22.1/bundle/.imgpkg/images.yml
  addons/packages/calico-ce/3.22.1/bundle/config/upstream/calico.yaml
  addons/packages/calico-ce/3.22.1/bundle/vendir.lock.yml
  addons/packages/calico-ce/3.22.1/bundle/vendir.yml
  addons/packages/calico-ce/3.22.1/package.yaml
  addons/packages/calico-ce/metadata.yaml
  addons/repos/core.yaml
  cli/cmd/plugin/unmanaged-cluster/cluster/kind.go
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
  hack/release/tkr-bom.yaml
Labels: area/packages, area/release-eng, cla-not-required, area/cli

#3565 Documents `unmanaged-cluster` exit codes in help message
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
Labels: cla-not-required, area/cli

#3586 TCE UI: Convert main navigation to shared component
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/TestRender.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/reducers/index.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/scss/icons.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/side-navigation/side-navigation.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/event-handlers.utility.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/actionTypes.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/form.reducer.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/ui.reducer.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/getting-started.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/welcome.component.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/welcome.component.tsx
Labels: area/ui

#2968 Proposal: Implementing image vulnerability scanning for tanzu packages
  docs/designs/2967-package-image-vulnerability-scanning.md
Labels: area/docs, cla-not-required, proposal/acccepted

#3587 UI Plugin: fix lint warnings and remove unused event handler utility class
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/side-navigation/side-navigation.component.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/utilities/event-handlers.utility.ts
Labels: cla-not-required, area/cli

#3566 Updates docs for `unmanaged-cluster` in upcoming v0.11.0 release
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  docs/site/content/docs/latest/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#3592 bump kapp-controller to v0.34.0
  addons/packages/kapp-controller/0.34.0/README.md
  addons/packages/kapp-controller/0.34.0/bundle/.imgpkg/bundle.yml
  addons/packages/kapp-controller/0.34.0/bundle/.imgpkg/images.yml
  addons/packages/kapp-controller/0.34.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.34.0/bundle/config/overlays/update-configmap.yaml
  addons/packages/kapp-controller/0.34.0/bundle/config/overlays/update-crds.yaml
  addons/packages/kapp-controller/0.34.0/bundle/config/overlays/update-deployment.yaml
  addons/packages/kapp-controller/0.34.0/bundle/config/upstream/kapp-controller.yaml
  addons/packages/kapp-controller/0.34.0/bundle/config/values.star
  addons/packages/kapp-controller/0.34.0/bundle/config/values.yaml
  addons/packages/kapp-controller/0.34.0/bundle/vendir.lock.yml
  addons/packages/kapp-controller/0.34.0/bundle/vendir.yml
  addons/packages/kapp-controller/0.34.0/package.yaml
Labels: area/packages, area/docs, cla-not-required

#3601 Release Workflow Change, Release Branch Creation Workflow
  .github/workflows/release-bucket.yaml
  .github/workflows/release-tag-and-branch.yaml
  .github/workflows/release.yaml
  Makefile
  hack/DEV_BUILD_VERSION.yaml
  hack/DEV_VERSION
  hack/FAKE_BUILD_VERSION.yaml
  hack/PREVIOUS_RELEASE_HASH
  hack/PREVIOUS_VERSION
  hack/builder/build-tanzu.sh
  hack/builder/install-tanzu.sh
  hack/dailybuild/Makefile
  hack/dailybuild/dailybuild.go
  hack/dailybuild/publish-daily-build.sh
  hack/ensure-deps/ensure-dependencies.sh
  hack/ensure-deps/ensure-release-notes.sh
  hack/release/create-release-branch.sh
  hack/release/create-release.sh
  hack/release/package-release.sh
  hack/release/release/Makefile
  hack/release/release/go.mod
  hack/release/release/go.sum
  hack/release/release/release.go
  hack/release/release/release.template
  hack/runner/webhook/Makefile
Labels: area/release-eng, cla-not-required

#3625 Bump GH CLI version 2.6.0 on ensure-deps
  hack/ensure-deps/ensure-gh-cli.sh
Labels: area/release-eng, cla-not-required

#3627 Delete obsolete workflows
  .github/workflows/release-fake-bucket.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga-bucket.yaml
  .github/workflows/release-ga.yaml
Labels: cla-not-required

#3633 Fix formatting related issues
  .github/workflows/release-tag-and-branch.yaml
  Makefile
Labels: area/release-eng, cla-not-required

#3637 Fix for the docs TOC view and URLs
  docs/site/themes/template/layouts/_default/versions.html
  docs/site/themes/template/layouts/partials/docs-sidebar.html
Labels: area/docs, cla-not-required

#3626 Update package readme script for new doc structure
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#3579 cartographer: add smoke test
  test/smoke/Makefile
  test/smoke/packages/cartographer/0.2.2/cartographer-test.sh
  test/smoke/packages/cartographer/0.2.2/testdata.yaml
Labels: area/release-eng, cla-not-required

#3643 Handle include links for versioned docs
  docs/site/.gitignore
  docs/site/content/docs/_index.md
  docs/site/content/docs/architecture.md
  docs/site/layouts/shortcodes/include.html
Labels: area/docs, cla-not-required

#3645 Update package readme script for new doc structure (#3626)
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#3568 Add Application Toolkit Package
  addons/packages/app-toolkit/0.1.0/README.md
  addons/packages/app-toolkit/0.1.0/bundle/.imgpkg/bundle.yml
  addons/packages/app-toolkit/0.1.0/bundle/.imgpkg/images.yml
  addons/packages/app-toolkit/0.1.0/bundle/config/_exclusions.star
  addons/packages/app-toolkit/0.1.0/bundle/config/cartographer.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/cert-manager.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/contour.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/fluxcd-source-controller.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/knative-serving.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/kpack.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/rbac/cluster-admin.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/values.yaml
  addons/packages/app-toolkit/0.1.0/package.yaml
  addons/packages/app-toolkit/0.1.0/test/Makefile
  addons/packages/app-toolkit/0.1.0/test/README.md
  addons/packages/app-toolkit/0.1.0/test/app-toolkit-test.go
  addons/packages/app-toolkit/0.1.0/test/example_sc/builder.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/kpack-templates.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/rbac.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/supplychain.yaml
  addons/packages/app-toolkit/0.1.0/test/go.mod
  addons/packages/app-toolkit/0.1.0/test/go.sum
  addons/packages/app-toolkit/0.1.0/test/rbac.yaml
  addons/packages/app-toolkit/0.1.0/test/wait_for_app_toolkit.sh
  addons/packages/app-toolkit/0.1.0/test/workload.yaml
  addons/packages/app-toolkit/metadata.yaml
  addons/repos/main.yaml
  docs/developer/app-toolkit.md
Labels: area/packages, area/docs

#3658 Docs: Update docsearch facetfilters version variable
  docs/site/themes/template/layouts/_default/baseof.html
Labels: area/docs, cla-not-required

#3559 Add rebaseRules for avi-secrets to retain user modifications to avi c…
  addons/packages/ako-operator/1.6.0/bundle/config/kapp-config.yaml
Labels: cla-not-required

#3355 Add Grafana v7.5.11
  addons/packages/grafana/7.5.11/README.md
  addons/packages/grafana/7.5.11/bundle/.imgpkg/bundle.yaml
  addons/packages/grafana/7.5.11/bundle/.imgpkg/images.yml
  addons/packages/grafana/7.5.11/bundle/config/certificates.lib.yaml
  addons/packages/grafana/7.5.11/bundle/config/globals.star
  addons/packages/grafana/7.5.11/bundle/config/helpers.star
  addons/packages/grafana/7.5.11/bundle/config/kinds.lib.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-apiserver.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-default.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-provider-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-datasource-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-deployment.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-httpproxy.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-pvc.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-service.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-ingress-secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/clusterrole.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/clusterrolebinding.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-apiserver-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-default-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-provider-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/datasource-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/deployment.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/namespace.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/pvc.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/service.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/serviceaccount.yaml
  addons/packages/grafana/7.5.11/bundle/config/values.yaml
  addons/packages/grafana/7.5.11/bundle/kbld-config.yml
  addons/packages/grafana/7.5.11/bundle/vendir.lock.yml
  addons/packages/grafana/7.5.11/bundle/vendir.yml
  addons/packages/grafana/7.5.11/package.yaml
  addons/packages/grafana/metadata.yaml
Labels: area/packages, area/docs, cla-not-required

#3655 Update package readme script for new doc structure (#3626) (#3645)
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#3644 Fix some issues with golangci-lint, urllint, imagelint, and misspell
  .gitignore
  Makefile
  hack/check/check-misspell.sh
  hack/check/imagelinter/.imagelintconfig.yaml
  hack/check/imagelinter/Makefile
  hack/check/imagelinter/README.md
  hack/check/imagelinter/config/imagelintconfig.yaml
  hack/check/imagelinter/go.mod
  hack/check/imagelinter/go.sum
  hack/check/imagelinter/main.go
  hack/check/imagelinter/pkg/imagewrapper/wrapper.go
  hack/check/imagelinter/pkg/lint/imagelint.go
  hack/check/imagelinter/pkg/lint/summary.go
  hack/check/tools/Makefile
  hack/check/tools/go.mod
  hack/check/tools/go.sum
  hack/check/tools/tools.go
  hack/check/urllinter/.urllintconfig.yaml
  hack/check/urllinter/Makefile
  hack/check/urllinter/README.md
  hack/check/urllinter/config/urllintconfig.yaml
  hack/check/urllinter/go.mod
  hack/check/urllinter/go.sum
  hack/check/urllinter/main.go
  hack/check/urllinter/pkg/lint/lint.go
  hack/check/urllinter/pkg/lint/summary.go
Labels: area/docs, area/release-eng, cla-not-required

#3600 Enable linting for addon test packages
  addons/packages/multus-cni/3.7.1/test/Makefile
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_suite_test.go
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_test.go
  addons/packages/sriov-network-device-plugin/3.3.2/test/Makefile
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov_dp_suite_test.go
  addons/packages/sriov-network-device-plugin/3.3.2/test/unit/sriov_dp_test.go
  addons/packages/whereabouts/0.5.0/test/Makefile
  addons/packages/whereabouts/0.5.0/test/e2e/whereabouts_suite_test.go
  addons/packages/whereabouts/0.5.0/test/e2e/whereabouts_test.go
  hack/tagger/main.go
Labels: area/packages, area/release-eng, cla-not-required

#3603 UI Plugin: added react hook form
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/vsphere.auth.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/actionTypes.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/form.reducer.ts
Labels: cla-not-required, area/cli

#3660 Get avi secrets name from overlay values file in kapp-config for ako-…
  addons/packages/ako-operator/1.6.0/bundle/config/kapp-config.yaml
  addons/packages/ako-operator/1.6.0/test/ako_operator_test.go
Labels: area/packages, cla-not-required

#3642 Removes mention of cgroups v1 being a requirement in docs
  docs/site/content/docs/assets/prereq-linux-short.md
  docs/site/content/docs/assets/prereq-linux.md
  docs/site/content/docs/assets/prereq-mac-short.md
  docs/site/content/docs/assets/prereq-mac.md
  docs/site/content/docs/assets/prereq-windows-short.md
  docs/site/content/docs/assets/prereq-windows.md
  docs/site/content/docs/support-matrix.md
Labels: area/docs, cla-not-required

#3665 Doc update for mac support of arm64.
  docs/site/content/docs/assets/prereq-unmanaged-mac.md
Labels: area/docs, cla-not-required

#3666 Adds deploy sample workload doc
  docs/site/content/docs/assets/next-steps.md
  docs/site/content/docs/getting-started-unmanaged.md
  docs/site/content/docs/sample.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#3670 Cherry-pick: Removes mention of cgroups v1 being a requirement in docs (#3642)
  docs/site/content/docs/assets/prereq-linux-short.md
  docs/site/content/docs/assets/prereq-linux.md
  docs/site/content/docs/assets/prereq-mac-short.md
  docs/site/content/docs/assets/prereq-mac.md
  docs/site/content/docs/assets/prereq-windows-short.md
  docs/site/content/docs/assets/prereq-windows.md
  docs/site/content/docs/support-matrix.md
Labels: cla-not-required

#3682 Update TOC file for package README updates
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#3577 Adding tests for fluxcd-source-controller v0.21.0
  addons/packages/fluxcd-source-controller/0.21.2/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.21.2/test/flux-source-controller/config/testdata/minio/secret.yaml
Labels: area/packages

#3484 Adding vendir for fluxcd-source-controller
  addons/packages/fluxcd-source-controller/vendir.lock.yml
  addons/packages/fluxcd-source-controller/vendir.yml
Labels: area/packages, cla-not-required

#3623 Bump kpack and cert-injection webhook
  addons/packages/cert-injection-webhook/0.1.1/README.md
  addons/packages/cert-injection-webhook/0.1.1/package.yaml
  addons/packages/cert-injection-webhook/vendir.lock.yml
  addons/packages/cert-injection-webhook/vendir.yml
  addons/packages/kpack/0.5.2/README.md
  addons/packages/kpack/0.5.2/package.yaml
  addons/packages/kpack/vendir.lock.yml
  addons/packages/kpack/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#3596 Docs: Fix TOC visibility when navigating to packages
  docs/site/themes/template/assets/js/main.js
Labels: area/docs, cla-not-required

#2854 Adds tlsThumbprint and insecureFlag to vsphereCSI
  addons/packages/vsphere-csi/2.3.0/README.md
  addons/packages/vsphere-csi/2.3.0/bundle/config/values.star
  addons/packages/vsphere-csi/2.3.0/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.3.0/bundle/config/vsphereconf.lib.txt
  addons/packages/vsphere-csi/2.4.1/README.md
  addons/packages/vsphere-csi/2.4.1/bundle/config/values.star
  addons/packages/vsphere-csi/2.4.1/bundle/config/values.yaml
  addons/packages/vsphere-csi/2.4.1/bundle/config/vsphereconf.lib.txt
Labels: area/packages, area/docs, cla-not-required

#3684 Fix mdlint error in support-matrix doc
  docs/site/content/docs/support-matrix.md
Labels: area/docs, cla-not-required

#3681 Update SHA for secretgen-controller 0.8.0
  addons/packages/secretgen-controller/0.8.0/package.yaml
Labels: area/packages, cla-not-required

#3662 Daily Builds for a Given Month Under a Single Discussion Thread
  hack/dailybuild/dailybuild.go
Labels: area/release-eng, cla-not-required

#3606 Unmanaged-cluster: use context from kubeconfig
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3492 Remove/redirect /plugins
  docs/site/content/plugins/_index.md
  docs/site/content/plugins/list/01-plugin-example.md
  docs/site/content/plugins/list/02-plugin-example.md
  docs/site/content/plugins/list/03-plugin-example.md
  docs/site/content/plugins/list/04-plugin-example.md
  docs/site/content/plugins/list/05-plugin-example.md
  docs/site/content/plugins/list/06-plugin-example.md
  docs/site/content/plugins/list/07-plugin-example.md
  docs/site/content/plugins/list/08-plugin-example.md
  docs/site/content/plugins/list/09-plugin-example.md
  docs/site/content/plugins/list/10-plugin-example.md
  docs/site/content/plugins/list/11-plugin-example.md
  docs/site/content/plugins/list/12-plugin-example.md
  docs/site/content/plugins/list/index.md
  docs/site/netlify.toml
Labels: area/docs, cla-not-required

#3699 Update vSphere images in docs to be version independent
  docs/site/content/docs/img/customer-connect-downloads.png
  docs/site/content/docs/img/customer-connect-ovas.png
  docs/site/content/docs/img/kickstart-vsphere-os.png
  docs/site/content/docs/img/vcenter-convert-to-template.png
  docs/site/content/docs/img/vcenter-template-import.png
Labels: area/docs, cla-not-required

#3703 addons/packages/pinniped: add Sarah as maintainer
  addons/packages/pinniped/metadata.yaml
Labels: area/packages, cla-not-required

#3707 Update ova links in docs for v0.11
  docs/site/content/docs/assets/vsphere-clusters.md
  docs/site/content/docs/vsphere.md
Labels: cla-not-required

#3709 Pin GCP upload action to v0.5.0 [release-0.11 branch]
  .github/workflows/release-fake-bucket.yaml
  .github/workflows/release-ga-bucket.yaml
  .github/workflows/release-nonga-bucket.yaml
Labels: cla-not-required

#3453 Update package repo for v0.11.0 #3350
  addons/repos/main.yaml
Labels: area/packages, cla-not-required

#3712 [release-0.11] Fix mdlint error in support-matrix doc (#3684)
  docs/site/content/docs/support-matrix.md
Labels: area/docs, cla-not-required

#3696 cherry-pick: adds deploy sample workload doc (#3666)
  docs/site/content/docs/assets/next-steps.md
  docs/site/content/docs/getting-started-unmanaged.md
  docs/site/content/docs/sample.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3702 Tkr doc
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/azure-clusters.md
  docs/site/content/docs/assets/vsphere-clusters.md
  docs/site/content/docs/tkr-managed-cluster.md
  docs/site/content/docs/workload-clusters.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#3652 Add doc to register a mgmt cluster in TMC
  docs/site/content/docs/assets/next-steps.md
  docs/site/content/docs/tmc-register.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#3683 Set caching location for golangci-lint
  .github/workflows/check-lint.yaml
Labels: cla-not-required

#3717 [release-0.11] remove standalone cluster files (#3659)
  docs/site/content/docs/assets/aws-standalone-clusters.md
  docs/site/content/docs/assets/azure-standalone-clusters.md
  docs/site/content/docs/assets/capd-standalone-clusters-windows.md
  docs/site/content/docs/assets/capd-standalone-clusters.md
  docs/site/content/docs/assets/clean-up-standalone-aws.md
  docs/site/content/docs/assets/clean-up-standalone-capd.md
  docs/site/content/docs/assets/clean-up-standalone-vsphere.md
  docs/site/content/docs/assets/clean-up-standalone.md
  docs/site/content/docs/assets/standalone-desc.md
  docs/site/content/docs/assets/standalone-warning.md
  docs/site/content/docs/assets/vsphere-standalone-clusters.md
  docs/site/content/docs/aws-install-standalone.md
  docs/site/content/docs/azure-install-standalone.md
  docs/site/content/docs/designs/standalone-clusters.md
  docs/site/content/docs/docker-install-standalone.md
  docs/site/content/docs/docker-monitoring-stack.md
  docs/site/content/docs/getting-started-standalone.md
  docs/site/content/docs/vsphere-install-standalone.md
Labels: area/docs, cla-not-required

#3723 [release-0.11] auto-generated - update package documentation (#3685)
  docs/site/content/docs/package-readme-app-toolkit-0.1.0.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3724 [release-0.11] auto-generated - update package documentation (#3713)
  docs/site/content/docs/package-readme-cartographer-0.2.2.md
  docs/site/content/docs/package-readme-cert-injection-webhook-0.1.0.md
  docs/site/content/docs/package-readme-cert-injection-webhook-0.1.1.md
  docs/site/content/docs/package-readme-fluxcd-source-controller-0.21.2.md
  docs/site/content/docs/package-readme-grafana-7.5.11.md
  docs/site/content/docs/package-readme-kpack-0.5.2.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3725 [release-0.11] Updates docs for unmanaged-cluster in v0.11.0 release (#3566)
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required, area/cli

#3726 [release-0.11] update ova links for v0.11 (#3707)
  docs/site/content/docs/assets/vsphere-clusters.md
  docs/site/content/docs/vsphere.md
Labels: area/docs, cla-not-required

#3719 [release-0.11] Tmc doc1
  docs/site/content/docs/assets/next-steps.md
  docs/site/content/docs/tmc-register.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3718 [release-0.11] Tkr doc (#3702)
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/azure-clusters.md
  docs/site/content/docs/assets/vsphere-clusters.md
  docs/site/content/docs/tkr-managed-cluster.md
  docs/site/content/docs/workload-clusters.md
  docs/site/data/docs/latest-toc.yml
Labels: area/docs, cla-not-required

#3716 [release-0.11] Handle include links for versioned docs (#3643)
  docs/site/.gitignore
  docs/site/content/docs/_index.md
  docs/site/content/docs/architecture.md
  docs/site/layouts/shortcodes/include.html
Labels: area/docs, cla-not-required

#3731 URLLint: make URL checks concurrent
  .github/workflows/check-urllint.yaml
  hack/check/urllinter/pkg/lint/lint.go
Labels: area/release-eng, cla-not-required

#3729 modify storageclass settings in k8s1.23
  addons/packages/harbor/2.3.3/test/e2e/fixtures/harbor.yaml
  addons/packages/harbor/2.3.3/test/e2e/fixtures/local-path-storage.yaml
  addons/packages/harbor/2.3.3/test/e2e/harbor_suite_test.go
  addons/packages/harbor/2.3.3/test/go.mod
  addons/packages/harbor/2.3.3/test/go.sum
Labels: area/packages, cla-not-required

#3641 Adds `unmanaged-cluster` TKR compatibility check
  cli/cmd/plugin/unmanaged-cluster/config/config.go
  cli/cmd/plugin/unmanaged-cluster/config/config_test.go
  cli/cmd/plugin/unmanaged-cluster/go.mod
  cli/cmd/plugin/unmanaged-cluster/hack/push-new-compatibility-file.sh
  cli/cmd/plugin/unmanaged-cluster/hack/tce-compatibility.yaml
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
  cli/cmd/plugin/unmanaged-cluster/tkr/compatibility.go
  cli/cmd/plugin/unmanaged-cluster/tkr/compatibility_test.go
  cli/cmd/plugin/unmanaged-cluster/tkr/image.go
  cli/cmd/plugin/unmanaged-cluster/tkr/tkr.go
Labels: cla-not-required, area/cli

#3763 Fix lint error with extra whitespace in unmanaged code
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#3764 Revert "Bump github.com/onsi/gomega in /addons/packages/test/pkg (#3745)
  addons/packages/test/pkg/go.mod
  addons/packages/test/pkg/go.sum
Labels: area/packages, cla-not-required

#3769 Fixing doc versions for release-0.10
  docs/site/content/docs/assets/cli-install-linux.md
  docs/site/content/docs/assets/cli-install-mac.md
  docs/site/content/docs/assets/cli-install-windows.md
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/azure-mgmt.md
  docs/site/content/docs/docker-monitoring-stack.md
  docs/site/content/docs/package-management.md
  docs/site/content/docs/solutions-secure-ingress.md
  docs/site/content/docs/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#3754 Add download data for v0.11.0 to website
  docs/site/data/downloads/v0-11-0.yml
Labels: area/docs, cla-not-required

#3760 Fix choco install script [release-0.11 branch]
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyUninstall.ps1
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3736 Correction chocolatey install Script
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyUninstall.ps1
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3728 Update choco for 0.11.0 release [main branch]
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3772 Fix GCP bucket init on main
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#3705 Refined README.md for App-toolkit
  addons/packages/app-toolkit/0.1.0/README.md
Labels: area/packages, area/docs, cla-not-required

#3774 Update 06-tanzu-community-edition-011.md
  docs/site/content/posts/06-tanzu-community-edition-011.md
Labels: area/docs, cla-not-required

#3777 Update v0.11 toc to match main-toc.yml
  docs/site/data/docs/v0.11-toc.yml
Labels: area/docs, cla-not-required

#3779 fix typo in toc
  docs/site/data/docs/main-toc.yml
  docs/site/data/docs/v0.11-toc.yml
Labels: area/docs, cla-not-required

#3708 Parallel `make check` for improved linting times
  .github/workflows/check-all.yaml
  Makefile
  hack/check/.misspellignore
  hack/check/check-misspell.sh
Labels: area/release-eng, cla-not-required

#3790 Add Application Toolkit Package (#3568)
  addons/packages/app-toolkit/0.1.0/README.md
  addons/packages/app-toolkit/0.1.0/bundle/.imgpkg/bundle.yml
  addons/packages/app-toolkit/0.1.0/bundle/.imgpkg/images.yml
  addons/packages/app-toolkit/0.1.0/bundle/config/_exclusions.star
  addons/packages/app-toolkit/0.1.0/bundle/config/cartographer.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/cert-manager.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/contour.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/fluxcd-source-controller.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/knative-serving.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/kpack.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/rbac/cluster-admin.yaml
  addons/packages/app-toolkit/0.1.0/bundle/config/values.yaml
  addons/packages/app-toolkit/0.1.0/package.yaml
  addons/packages/app-toolkit/0.1.0/test/Makefile
  addons/packages/app-toolkit/0.1.0/test/README.md
  addons/packages/app-toolkit/0.1.0/test/app-toolkit-test.go
  addons/packages/app-toolkit/0.1.0/test/example_sc/builder.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/kpack-templates.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/rbac.yaml
  addons/packages/app-toolkit/0.1.0/test/example_sc/supplychain.yaml
  addons/packages/app-toolkit/0.1.0/test/go.mod
  addons/packages/app-toolkit/0.1.0/test/go.sum
  addons/packages/app-toolkit/0.1.0/test/rbac.yaml
  addons/packages/app-toolkit/0.1.0/test/wait_for_app_toolkit.sh
  addons/packages/app-toolkit/0.1.0/test/workload.yaml
  addons/packages/app-toolkit/metadata.yaml
  addons/repos/main.yaml
  docs/developer/app-toolkit.md
Labels: area/packages, area/docs, cla-not-required

#3791 Add Grafana v7.5.11 (#3355)
  addons/packages/grafana/7.5.11/README.md
  addons/packages/grafana/7.5.11/bundle/.imgpkg/bundle.yaml
  addons/packages/grafana/7.5.11/bundle/.imgpkg/images.yml
  addons/packages/grafana/7.5.11/bundle/config/certificates.lib.yaml
  addons/packages/grafana/7.5.11/bundle/config/globals.star
  addons/packages/grafana/7.5.11/bundle/config/helpers.star
  addons/packages/grafana/7.5.11/bundle/config/kinds.lib.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-apiserver.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-default.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-dashboard-provider-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-datasource-config.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-deployment.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-httpproxy.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-pvc.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-grafana-service.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-ingress-secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/clusterrole.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/clusterrolebinding.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-apiserver-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-default-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/dashboard-provider-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/datasource-configmap.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/deployment.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/namespace.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/pvc.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/secret.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/service.yaml
  addons/packages/grafana/7.5.11/bundle/config/upstream/grafana/serviceaccount.yaml
  addons/packages/grafana/7.5.11/bundle/config/values.yaml
  addons/packages/grafana/7.5.11/bundle/kbld-config.yml
  addons/packages/grafana/7.5.11/bundle/vendir.lock.yml
  addons/packages/grafana/7.5.11/bundle/vendir.yml
  addons/packages/grafana/7.5.11/package.yaml
  addons/packages/grafana/metadata.yaml
Labels: area/packages, area/docs, cla-not-required
