Repository vmware-tanzu/community-edition, pull requests merged in 2022-05, with the labels that each got.

#4258 🍒 [release-0.12] cherry-pick: Getting Started Guide for Creating Tanzu Workloads (#4176)
  docs/site/content/docs/getting-started-tanzu-workloads.md
Labels: area/docs, cla-not-required

#4259 🍒 [release-0.12] cherry-pick: Doc updates for unmanaged cluster (#4203)
  docs/site/content/docs/ref-unmanaged-cluster.md
Labels: area/docs, cla-not-required

#4260 🍒 [release-0.12] cherry-pick: fix links (#4236)
  addons/packages/app-toolkit/0.2.0/README.md
  addons/packages/velero/1.8.0/README.md
  docs/site/content/docs/assets/package-installation.md
  docs/site/content/docs/solutions-secure-ingress.md
Labels: area/packages, area/docs, cla-not-required

#4263 🍒 [release-0.12] cherry-pick - docs: Add custom WSL kernel link to Docker deployment (#4072)
  docs/site/content/docs/assets/capd-clusters.md
Labels: area/docs, cla-not-required

#4262 🍒 [release-0.12] cherry-pick: On release day docs (#4092)
  docs/developer/managing-release-process.md
  docs/developer/release-process.md
Labels: area/docs, cla-not-required

#4265 🍒 [release-0.12] cherry-pick - Add common redirects for certain links already used (#4087)
  docs/site/themes/template/layouts/index.redirects
Labels: area/docs, cla-not-required

#4282 Add go and cloning to auto merge of dependabot
  .github/workflows/build-automatically-merge-pr.yaml
Labels: cla-not-required

#4266 New blog, updated readme and maintainers files
  MAINTAINERS.md
  README.md
  docs/site/content/posts/08-build-deploy-apps-w-tce.md
  docs/site/themes/template/static/img/deploy-app-post-img1.png
  docs/site/themes/template/static/img/deploy-app-post-img10.png
  docs/site/themes/template/static/img/deploy-app-post-img11.png
  docs/site/themes/template/static/img/deploy-app-post-img12.png
  docs/site/themes/template/static/img/deploy-app-post-img2.png
  docs/site/themes/template/static/img/deploy-app-post-img3.png
  docs/site/themes/template/static/img/deploy-app-post-img4.png
  docs/site/themes/template/static/img/deploy-app-post-img5.png
  docs/site/themes/template/static/img/deploy-app-post-img6.png
  docs/site/themes/template/static/img/deploy-app-post-img7.png
  docs/site/themes/template/static/img/deploy-app-post-img8.png
  docs/site/themes/template/static/img/deploy-app-post-img9.png
Labels: area/docs, cla-not-required

#4283 Fixed the handle on maintainers for Nanci
  MAINTAINERS.md
Labels: area/docs, cla-not-required

#4273 Reenable vsphere-cpi unit tests
  addons/packages/vsphere-cpi/1.23.0-alpha.1/test/Makefile
  addons/packages/vsphere-cpi/1.23.0/test/Makefile
Labels: area/packages, cla-not-required

#4281 New kpack dependencies version
  addons/packages/kpack-dependencies/0.0.27/README.md
  addons/packages/kpack-dependencies/0.0.27/package.yaml
  addons/packages/kpack-dependencies/vendir.lock.yml
  addons/packages/kpack-dependencies/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4297 Implements misc unmanaged cluster tests - exit codes, kubeconfig, etc.
  cli/cmd/plugin/unmanaged-cluster/kubeconfig/kubeconfig_test.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/codes_test.go
Labels: cla-not-required, area/cli

#4248 Adds draft of WC creation workflow
  cli/cmd/plugin/ui/api/spec.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ManagementCluster.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/form.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Wc.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/Welcome.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterLanding.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWorkflow.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/select-management-cluster.scss
Labels: cla-not-required, area/cli

#4295 UI: Add endpoints for general mgmt cluster API
  cli/cmd/plugin/ui/Makefile
  cli/cmd/plugin/ui/README.md
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/server/handlers/app.go
  cli/cmd/plugin/ui/server/handlers/mgmtcluster.go
  cli/cmd/plugin/ui/server/models/a_w_s_route.go
  cli/cmd/plugin/ui/server/models/a_w_s_route_table.go
  cli/cmd/plugin/ui/server/models/cluster_class.go
  cli/cmd/plugin/ui/server/models/cluster_class_variable.go
  cli/cmd/plugin/ui/server/models/cluster_class_variable_schema.go
  cli/cmd/plugin/ui/server/models/management_cluster.go
  cli/cmd/plugin/ui/server/models/v_sphere_availability_zone.go
  cli/cmd/plugin/ui/server/restapi/embedded_spec.go
  cli/cmd/plugin/ui/server/restapi/operations/management/delete_mgmt_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/management/delete_mgmt_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/delete_mgmt_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/management/delete_mgmt_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_class.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_class_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_class_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_class_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_classes.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_classes_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_classes_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_cluster_classes_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_cluster.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_cluster_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_cluster_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_cluster_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_clusters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_clusters_parameters.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_clusters_responses.go
  cli/cmd/plugin/ui/server/restapi/operations/management/get_mgmt_clusters_urlbuilder.go
  cli/cmd/plugin/ui/server/restapi/operations/tanzu_ui_api.go
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  hack/check/check-mdlint.sh
  hack/check/check-shell.sh
Labels: area/docs, area/release-eng, cla-not-required, area/cli

#4096 Added fluxcd-helm-controller to TCE
  addons/packages/fluxcd-helm-controller/0.17.2/README.md
  addons/packages/fluxcd-helm-controller/0.17.2/package.yaml
  addons/packages/fluxcd-helm-controller/metadata.yaml
  addons/packages/fluxcd-helm-controller/vendir.lock.yml
  addons/packages/fluxcd-helm-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4307 Doc for tanzu cli upgrade
  docs/site/content/docs/cli-uninstall.md
  docs/site/content/docs/cli-upgrade.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4300 add and update youtube videos
  docs/site/content/resources/_index.html
Labels: area/docs

#4308 Fix "dependabot[bot]" name for auto PR merge
  .github/workflows/build-automatically-merge-pr.yaml
Labels: cla-not-required

#4312 🍒 Added new kpack dependencies version 0.0.27 (#4281)
  addons/packages/kpack-dependencies/0.0.27/README.md
  addons/packages/kpack-dependencies/0.0.27/package.yaml
  addons/packages/kpack-dependencies/vendir.lock.yml
  addons/packages/kpack-dependencies/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4313 🍒 Added fluxcd-helm-controller to TCE (#4096)
  addons/packages/fluxcd-helm-controller/0.17.2/README.md
  addons/packages/fluxcd-helm-controller/0.17.2/package.yaml
  addons/packages/fluxcd-helm-controller/metadata.yaml
  addons/packages/fluxcd-helm-controller/vendir.lock.yml
  addons/packages/fluxcd-helm-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4311 Bumps compatibility file for new tkr in prep for 0.12.0 GA tag
  cli/cmd/plugin/unmanaged-cluster/hack/tce-compatibility.yaml
  hack/release/tkr-bom.yaml
Labels: area/release-eng, cla-not-required, area/cli

#4315 fix broken image links
  docs/site/content/docs/designs/package-management.md
  docs/site/content/docs/designs/package-process.md
Labels: area/docs, cla-not-required

#4317 🍒 fix broken link and minor edits (#4056)
  docs/site/content/docs/docker-monitoring-stack.md
Labels: area/docs, cla-not-required

#4316 🍒 Doc for tanzu cli upgrade (#4307)
  docs/site/content/docs/cli-uninstall.md
  docs/site/content/docs/cli-upgrade.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4221 Update App-Toolkit displayName in metadata.yaml
  addons/packages/app-toolkit/metadata.yaml
Labels: area/packages, cla-not-required

#4323 Update doc links to "edge" instead of "main"
  CONTRIBUTING.md
  README.md
Labels: area/docs, cla-not-required

#4327 UI plugin: WC - includes display of CC variables
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/widgets/RadioButton.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/select-management-cluster.scss
Labels: cla-not-required, area/cli

#4329 Add "image" key to schema for metrics-server package 0.5.1
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, cla-not-required

#4326 Add "image" to the schema for antrea package versions: 0.11.3, 0.13.3, 1.2.3
  addons/packages/antrea/0.11.3/bundle/config/schema.yaml
  addons/packages/antrea/0.11.3/package.yaml
  addons/packages/antrea/0.13.3/bundle/config/schema.yaml
  addons/packages/antrea/0.13.3/package.yaml
  addons/packages/antrea/1.2.3/bundle/config/schema.yaml
  addons/packages/antrea/1.2.3/package.yaml
Labels: area/packages, cla-not-required

#4344 UI plugin: WC stores CC attributes in state
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/App.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWorkflow.tsx
Labels: cla-not-required, area/cli

#4301 TCE UI Plugin: Adds timeline to deploy progress
  cli/cmd/plugin/ui/web/tanzu-ui/FORMATTING.md
  cli/cmd/plugin/ui/web/tanzu-ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployTimeline/DeployTimeline.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployTimeline/DeployTimeline.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
Labels: area/docs, cla-not-required, area/cli, area/ui

#4361 Fix next tag to be used when cutting a release on a release branch
  hack/release/create-release.sh
  hack/release/release/release.go
Labels: area/release-eng, cla-not-required

#4350 addons/packages/pinniped/0.12.1: expand update strategy overlay to include jobs
  addons/packages/pinniped/0.12.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-oidc-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/values/mc-ldap-updatestrategyoverlay-v1_5_0.yaml
  addons/packages/pinniped/0.12.1/fixtures/values/mc-oidc-updatestrategyoverlay-v1_5_0.yaml
Labels: area/packages, cla-not-required

#4365 Update load-docs.sh
  docs/site/load-docs.sh
Labels: area/docs, cla-not-required

#3242 [Chocolatey] Upgrade test for chocolatey Package
  hack/choco/test/choco-upgrade-test.ps1
Labels: area/release-eng, cla-not-required

#4376 add upgrade cluster doc
  docs/site/content/docs/edge/upgrade-managed.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4375 Fix dependabot automerge
  .github/workflows/build-automatically-merge-pr.yaml
Labels: cla-not-required

#4377 Doc updates for unmanaged cluster
  docs/site/content/docs/edge/architecture.md
  docs/site/content/docs/edge/assets/create-unmanaged-cluster.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-linux.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-mac.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-windows.md
  docs/site/content/docs/edge/assets/unmanaged-desc.md
  docs/site/content/docs/edge/sample.md
Labels: area/docs, cla-not-required

#4371 [release-0.12] Update doc links to "edge" instead of "main" (#4323)
  CONTRIBUTING.md
  README.md
Labels: area/docs, cla-not-required

#4383 Updated TCE logo
  extensions/docker-desktop/logo.svg
Labels: cla-not-required

#4386 Fixed feedback button link
  extensions/docker-desktop/Dockerfile
  extensions/docker-desktop/ui/src/shared/constants.tsx
Labels: cla-not-required

#4390 UI plugin: WC - fleshes out full support for CC variables
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterUtility.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/fake-cluster-class-service.ts
Labels: cla-not-required, area/cli

#4384 Docker Desktop: update README with useful notes
  extensions/docker-desktop/README.md
Labels: area/docs, cla-not-required

#4397 Fixing doc versions
  docs/site/content/docs/edge/assets/cli-install-linux.md
  docs/site/content/docs/edge/assets/cli-install-mac.md
  docs/site/content/docs/edge/assets/cli-install-windows.md
  docs/site/content/docs/edge/assets/package-installation.md
  docs/site/content/docs/edge/azure-mgmt.md
  docs/site/content/docs/edge/docker-monitoring-stack.md
  docs/site/content/docs/edge/package-management.md
  docs/site/content/docs/edge/solutions-secure-ingress.md
  docs/site/content/docs/edge/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#4391 Docker extension: Use `buildx` for build steps
  extensions/docker-desktop/Dockerfile-apps-bin
  extensions/docker-desktop/Dockerfile-client
  extensions/docker-desktop/Dockerfile-tanzu-cli
  extensions/docker-desktop/Makefile
Labels: cla-not-required

#4380 Container deleted out of band checked
  extensions/docker-desktop/apps/clustermgr/main.go
  extensions/docker-desktop/apps/clustermgr/pkg/checks/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/cluster/cluster.go
  extensions/docker-desktop/apps/clustermgr/pkg/kubeconfig/kubeconfig.go
  extensions/docker-desktop/backend/templates/apps/apps-values.yaml
  extensions/docker-desktop/backend/templates/apps/certmanager.yaml
  extensions/docker-desktop/backend/templates/apps/ingress.yaml
  extensions/docker-desktop/backend/templates/apps/kubeapps.yaml
  extensions/docker-desktop/backend/templates/cluster-template.yaml
  extensions/docker-desktop/backend/templates/cluster-values.yaml
  extensions/docker-desktop/ui/src/providers/globalAppState/reducer.tsx
  extensions/docker-desktop/ui/src/views/App.tsx
Labels: cla-not-required

#4402 Fix links
  addons/packages/app-toolkit/0.1.0/README.md
  docs/site/content/docs/edge/designs/package-process.md
  docs/site/content/docs/edge/docker-monitoring-stack.md
  docs/site/content/docs/edge/headless-install.md
  docs/site/content/docs/edge/ref-windows-capd.md
  docs/site/content/docs/edge/solutions-opinionated-install-package.md
  docs/site/content/docs/edge/vsphere-monitoring-stack.md
Labels: area/packages, area/docs, cla-not-required

#4379 Add/Update troubleshooting/logs docs
  docs/site/content/docs/edge/faq-cluster-bootstrapping.md
  docs/site/content/docs/edge/glossary.md
  docs/site/content/docs/edge/logs.md
  docs/site/content/docs/edge/tanzu-debugging-tips.md
  docs/site/content/docs/edge/tanzu-diagnostics.md
  docs/site/content/docs/edge/ts-manually.md
  docs/site/content/docs/edge/tsg-bootstrap.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4404 UI plugin: WC - Adds STRING_K8SCOMPLIANT as a CC var type; tweaks other var types
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/widgets/RadioButton.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/validations/Validation.service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/fake-cluster-class-service.ts
Labels: cla-not-required, area/cli

#4426 Fix more links
  addons/packages/app-toolkit/0.2.0/README.md
  docs/site/content/docs/edge/assets/aws-clusters.md
  docs/site/content/docs/edge/assets/azure-clusters.md
  docs/site/content/docs/edge/assets/prereq-pkg-creation.md
  docs/site/content/docs/edge/assets/vsphere-clusters.md
  docs/site/content/docs/edge/solutions-secure-ingress.md
Labels: area/packages, area/docs, cla-not-required

#4403 Fix package README doc update path
  hack/workflows/packages/copy-package-readmes-to-docs.go
Labels: area/release-eng, cla-not-required

#4406 Update TCE UC to v0.12.0
  extensions/docker-desktop/Dockerfile-tanzu-cli
Labels: cla-not-required

#4378 add doc for node pool
  docs/site/content/docs/edge/node-pool.md
  docs/site/content/docs/edge/workload-clusters.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4414 Fix unmanaged cluster log verbosity enforcement
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/cmd/start.go
  cli/cmd/plugin/unmanaged-cluster/cmd/stop.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/main.go
Labels: cla-not-required, area/cli

#4429 Add Getting Started with Workloads topic to toc
  docs/site/content/docs/edge/getting-started-tanzu-workloads.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4442 🍒 0.12.0 release - update toc and minor edits (#4429)
  docs/site/content/docs/edge/getting-started-tanzu-workloads.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4441 🍒 0.12.0 release - Doc cherry 0.12 um minor
  docs/site/content/docs/edge/architecture.md
  docs/site/content/docs/edge/assets/create-unmanaged-cluster.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-linux.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-mac.md
  docs/site/content/docs/edge/assets/prereq-unmanaged-windows.md
  docs/site/content/docs/edge/assets/unmanaged-desc.md
  docs/site/content/docs/edge/sample.md
Labels: area/docs, cla-not-required

#4440 🍒 0.12.0 release - add doc for node pool (#4378)
  docs/site/content/docs/edge/node-pool.md
  docs/site/content/docs/edge/workload-clusters.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4439 🍒 0.12.0 release - update troubleshooting docs (#4379)
  docs/site/content/docs/edge/faq-cluster-bootstrapping.md
  docs/site/content/docs/edge/glossary.md
  docs/site/content/docs/edge/logs.md
  docs/site/content/docs/edge/tanzu-debugging-tips.md
  docs/site/content/docs/edge/tanzu-diagnostics.md
  docs/site/content/docs/edge/ts-manually.md
  docs/site/content/docs/edge/tsg-bootstrap.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4438 🍒 0.12.0 release - add upgrade cluster doc (#4376)
  docs/site/content/docs/edge/upgrade-managed.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4437 Docker desktop: add `.yarnrc` for package download timeouts
  extensions/docker-desktop/ui/.yarnrc
Labels: cla-not-required

#4372 [release-0.11] Update doc links to "edge" instead of "main" (#4323)
  CONTRIBUTING.md
  README.md
  docs/designs/2730-visibility.md
  docs/developer/app-toolkit.md
  docs/site/content/posts/03-five-ways-to-begin.md
Labels: area/docs, cla-not-required

#4433 remove octant doc
  docs/site/content/docs/edge/assets/octant-install.md
  docs/site/content/docs/edge/getting-started.md
Labels: area/docs, cla-not-required

#4436 test edit
  addons/packages/app-toolkit/0.1.0/README.md
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4444 Fix links in app toolkit readme
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4448 🍒 release 0.12 - Fixing doc versions (#4397)
  docs/site/content/docs/edge/assets/cli-install-linux.md
  docs/site/content/docs/edge/assets/cli-install-mac.md
  docs/site/content/docs/edge/assets/cli-install-windows.md
  docs/site/content/docs/edge/assets/package-installation.md
  docs/site/content/docs/edge/azure-mgmt.md
  docs/site/content/docs/edge/docker-monitoring-stack.md
  docs/site/content/docs/edge/package-management.md
  docs/site/content/docs/edge/solutions-secure-ingress.md
  docs/site/content/docs/edge/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#4447 🍒 release 0.12 - fix broken image links (#4315)
  docs/site/content/docs/edge/designs/package-management.md
  docs/site/content/docs/edge/designs/package-process.md
Labels: area/docs, cla-not-required

#4449 🍒 release 0.12 - update ova version in docs (#4400)
  docs/site/content/docs/edge/assets/vsphere-clusters.md
  docs/site/content/docs/edge/vsphere.md
Labels: area/docs, cla-not-required

#4446 fix link
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4452 🍒 release 0.12 - fix broken links (#4426)
  addons/packages/app-toolkit/0.2.0/README.md
  docs/site/content/docs/edge/assets/aws-clusters.md
  docs/site/content/docs/edge/assets/azure-clusters.md
  docs/site/content/docs/edge/assets/prereq-pkg-creation.md
  docs/site/content/docs/edge/assets/vsphere-clusters.md
  docs/site/content/docs/edge/solutions-secure-ingress.md
Labels: area/packages, area/docs, cla-not-required

#4459 Fix comment indentation for schema for metrics-package version 0.5.1
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, cla-not-required

#4430 UI plugin: WC - adds dataPath
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/types/types.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Form.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterUtility.tsx
Labels: cla-not-required, area/cli

#4455 🍒 release 0.12 - fix links (#4444)
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4458 🍒 release 0.11 - remove octant doc (#4433)
  docs/site/content/docs/edge/assets/octant-install.md
  docs/site/content/docs/edge/getting-started.md
Labels: area/docs, cla-not-required

#4456 🍒 release 0.12 - fix link (#4446)
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4450 🍒 release 0.12 - fix broken links (#4402)
  addons/packages/app-toolkit/0.1.0/README.md
  docs/site/content/docs/edge/designs/package-process.md
  docs/site/content/docs/edge/docker-monitoring-stack.md
  docs/site/content/docs/edge/headless-install.md
  docs/site/content/docs/edge/ref-windows-capd.md
  docs/site/content/docs/edge/solutions-opinionated-install-package.md
  docs/site/content/docs/edge/vsphere-monitoring-stack.md
Labels: area/packages, area/docs, cla-not-required

#4457 🍒 release 0.12 - remove octant doc (#4433)
  docs/site/content/docs/edge/assets/octant-install.md
  docs/site/content/docs/edge/getting-started.md
Labels: area/docs, cla-not-required

#4462 Rename "path" key to "name" for image property for metrics server 0.5.1
  addons/packages/metrics-server/0.5.1/bundle/.imgpkg/bundle.yml
  addons/packages/metrics-server/0.5.1/bundle/.imgpkg/images.yml
  addons/packages/metrics-server/0.5.1/bundle/config/schema.yaml
  addons/packages/metrics-server/0.5.1/package.yaml
Labels: area/packages, cla-not-required

#4463 Add Docker Desktop extension getting started guide
  docs/site/content/docs/edge/getting-started-docker.md
  docs/site/content/docs/edge/img/dd-add-extensions.png
  docs/site/content/docs/edge/img/dd-cluster-created.png
  docs/site/content/docs/edge/img/dd-create-cluster.png
  docs/site/content/docs/edge/img/dd-delete-cluster.png
  docs/site/content/docs/edge/img/dd-install-tce.png
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4427 Make v0.12.0 doc live
  docs/site/config.yaml
  docs/site/data/docs/toc-mapping.yml
  docs/site/data/docs/v0.12-toc.yml
Labels: area/docs, cla-not-required

#4469 [release-0.10] Add script and Makefile for docs versioning (#3490)
  docs/site/Makefile
  docs/site/load-docs.sh
Labels: area/docs, cla-not-required

#4474 Fix toc display issue
  docs/site/data/docs/main-toc.yml
  docs/site/data/docs/v0.12-toc.yml
Labels: area/docs, cla-not-required

#4461 Update external-dns maintainers
  addons/packages/external-dns/metadata.yaml
Labels: area/packages

#4478 [release-0.12] steps to make v0.12.0 doc live (#4427)
  docs/site/config.yaml
  docs/site/data/docs/toc-mapping.yml
  docs/site/data/docs/v0.12-toc.yml
Labels: area/docs, cla-not-required

#4479 Fix some broken links in package docs
  docs/site/content/docs/edge/package-readme-app-toolkit-0.1.0.md
  docs/site/content/docs/edge/package-readme-app-toolkit-0.2.0.md
  docs/site/content/docs/edge/package-readme-gatekeeper-3.7.1.md
Labels: area/docs, cla-not-required

#4482 Adds missing `v0.12.0` to TOC dropdown in docs site
  docs/site/config.yaml
Labels: area/docs, cla-not-required

#4484 UI: initialize websocket listener
  cli/cmd/plugin/ui/server/serve.go
Labels: cla-not-required, area/cli

#4488 UI: add UI plugin to make target
  Makefile
  hack/builder/Makefile
Labels: area/release-eng, cla-not-required

#4423 Add the option to skip cni plugins installation
  addons/packages/calico/3.22.1/README.md
  addons/packages/calico/3.22.1/bundle/config/overlay/calico-overlay.yaml
  addons/packages/calico/3.22.1/bundle/config/schema.yaml
  addons/packages/calico/3.22.1/bundle/config/values.yaml
  addons/packages/calico/3.22.1/package.yaml
  addons/packages/calico/3.22.1/test/calico_test.go
Labels: area/packages, area/docs, cla-not-required

#4489 UI plugin: WC - makes MC list retrieval a "real" service
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/app.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/conf/paths.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/common.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/management.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/management-clusters.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ManagementCluster.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ManagementClusterInfoBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterUtility.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
Labels: cla-not-required, area/cli

#4494 UI: return docker daemon status
  cli/cmd/plugin/ui/server/handlers/docker.go
Labels: cla-not-required, area/cli

#4502 UI: fix launching browser to UI path
  cli/cmd/plugin/ui/server/restapi/server.go
  cli/cmd/plugin/ui/server/serve.go
Labels: cla-not-required, area/cli

#4412 Fix cartographer catalog doc errors in app-toolkit
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4504 🍒 cherry-picks for app-toolkit docs
  addons/packages/app-toolkit/0.2.0/README.md
  docs/site/content/docs/edge/package-readme-app-toolkit-0.2.0.md
  docs/site/data/docs/main-toc.yml
Labels: area/packages, area/docs, cla-not-required

#4500 [release-0.12] auto-generated - update package documentation (#4499)
  docs/site/content/docs/edge/package-readme-external-dns-0.10.0.md
  docs/site/content/docs/edge/package-readme-external-dns-0.8.0.md
Labels: area/docs, cla-not-required

#4373 [release-0.10] Update doc links to "edge" instead of "main" (#4323)
  CONTRIBUTING.md
  README.md
Labels: area/docs, cla-not-required

#4496 Update @docsearch/js to `3.0.0`
  docs/site/package-lock.json
  docs/site/package.json
  docs/site/themes/template/layouts/_default/baseof.html
Labels: area/docs, cla-not-required

#4517 [release-0.12] UC: raise logging level for some log messages
  cli/cmd/plugin/unmanaged-cluster/cmd/configure.go
  cli/cmd/plugin/unmanaged-cluster/cmd/create.go
  cli/cmd/plugin/unmanaged-cluster/cmd/delete.go
  cli/cmd/plugin/unmanaged-cluster/cmd/list.go
  cli/cmd/plugin/unmanaged-cluster/cmd/start.go
  cli/cmd/plugin/unmanaged-cluster/cmd/stop.go
  cli/cmd/plugin/unmanaged-cluster/cmd/utils.go
  cli/cmd/plugin/unmanaged-cluster/log/log.go
  cli/cmd/plugin/unmanaged-cluster/main.go
  cli/cmd/plugin/unmanaged-cluster/tanzu/tanzu.go
Labels: cla-not-required, area/cli

#4516 UI plugin: WC - error display for CC variables input
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/management.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/fake-cluster-class-service.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/select-management-cluster.scss
Labels: cla-not-required, area/cli

#4521 Auto Merge Select Dependabot PRs
  .github/workflows/build-automatically-merge-pr.yaml
Labels: cla-not-required

#4530 Ui plugin: WC - makes ccVar category display data-driven
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/Ui.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
Labels: cla-not-required, area/cli

#4526 addons/packages/pinniped: id mgmt type none works with updateStrategy overlay
  addons/packages/pinniped/0.12.1/bundle/config/overlay/update-strategy-overlay.yaml
  addons/packages/pinniped/0.12.1/fixtures/expected/wlc-v1_6_0-id-mgmt-type-none.yaml
  addons/packages/pinniped/0.12.1/fixtures/values/wlc-v1_6_0-id-mgmt-type-none.yaml
Labels: area/packages, cla-not-required

#4513 Update ExternalDNS package docs
  addons/packages/external-dns/0.11.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4509 Add paravirtual mode support, nodeSelector, deployment Strategy for different versions of CPI.
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.21.3/bundle/config/values.star
  addons/packages/vsphere-cpi/1.21.3/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.21.3/package.yaml
  addons/packages/vsphere-cpi/1.21.3/test/go.mod
  addons/packages/vsphere-cpi/1.21.3/test/go.sum
  addons/packages/vsphere-cpi/1.21.3/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/update-strategy-overlay.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/vsphere-cpi/add-secret.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/vsphere-cpi/update-config.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/vsphere-cpi/update-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/vsphere-cpi/update-secret.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/overlays/vsphere-paravirtual-cpi/update-deployment.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/schema.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-cpi/03-secret.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-cpi/04-daemonset.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-paravirtual-cpi/01-rbac.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-paravirtual-cpi/02-config.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/upstream/vsphere-paravirtual-cpi/03-deployment.yaml
  addons/packages/vsphere-cpi/1.22.6/bundle/config/values.star
  addons/packages/vsphere-cpi/1.22.6/bundle/config/values.yaml
  addons/packages/vsphere-cpi/1.22.6/package.yaml
  addons/packages/vsphere-cpi/1.22.6/test/go.mod
  addons/packages/vsphere-cpi/1.22.6/test/go.sum
  addons/packages/vsphere-cpi/1.22.6/test/vsphere_cpi_test.go
  addons/packages/vsphere-cpi/1.23.0/package.yaml
  addons/packages/vsphere-cpi/1.23.0/test/vsphere_cpi_test.go
Labels: area/packages, cla-not-required

#4519 Fix next tag to be used when cutting a release on a release branch [release-0.12]
  hack/release/create-release.sh
  hack/release/release/release.go
Labels: area/release-eng, cla-not-required

#4506 Implements multi-arch building from amd64 or arm64 for Docker desktop extension
  extensions/docker-desktop/Dockerfile
  extensions/docker-desktop/Makefile
  extensions/docker-desktop/README.md
Labels: area/docs, cla-not-required

#4547 UI plugin: WC - changes to CC structs
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterTopologyStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
Labels: cla-not-required, area/cli

#4551 UI Plugin: Adds a Provider service for getting provider logo/name
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/DeployProgress/DeployProgress.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Provider.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/App.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Ui.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/welcome/RolloverBanner/RolloverBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
Labels: cla-not-required, area/cli, area/ui

#4555 UI plugin: WC CC PROXY
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCProxyComponent.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/select-management-cluster.scss
Labels: cla-not-required, area/cli

#4362 UI Plugin: format UI code by prettier
  cli/cmd/plugin/ui/web/tanzu-ui/.eslintrc.json
  cli/cmd/plugin/ui/web/tanzu-ui/.prettierrc.json
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
Labels: cla-not-required, area/cli

#4542 UI Plugin: add management cluster creation for the docker workflow
  cli/cmd/plugin/ui/web/tanzu-ui/build/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/common.js
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/endpoints/docker.js
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/AwsMCCreateSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/management-credential-step/ManagementCredentialProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/docker/DockerMCCreateSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/docker/mc-prerequisite-step/McPrerequisiteStep.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/docker/mc-prerequisite-step/McPrerequisiteStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/wizard/Wizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/aws.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/defaults/docker.defaults.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/awsDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/dockerDeployment.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Docker.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Docker.store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.aws.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/DockerManagementClusterSimple.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/DockerManagementClusterSimple.tsx
Labels: area/docs, cla-not-required, area/cli

#4546 Bumps docker desktop build to latest tag for docker desktop extension
  extensions/docker-desktop/Dockerfile-tanzu-cli
Labels: cla-not-required

#4559 addons/packages/pinniped: add unit test for custom_cluster_issuer data value
  addons/packages/pinniped/0.12.1/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.12.1/fixtures/values/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.4.3/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.4.3/fixtures/values/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.4.4/fixtures/expected/mc-ldap-custom-cluster-issuer.yaml
  addons/packages/pinniped/0.4.4/fixtures/values/mc-ldap-custom-cluster-issuer.yaml
Labels: area/packages, cla-not-required

#4566 Bump choco for v0.12.1 [main]
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#4565 Bump for Release v0.12.1 [release-0.12]
  hack/choco/tanzu-community-edition.nuspec
  hack/choco/tools/chocolateyinstall.ps1
Labels: area/release-eng, cla-not-required

#4570 Update latest release [main]
  docs/site/data/downloads/v0-12-1.yml
Labels: area/docs, cla-not-required

#4563 Modifies swagger structures for CC; adds default values for Proxy component
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCProxyComponent.tsx
Labels: cla-not-required, area/cli

#4573 UI Plugin: Move and rename some the MC create workflow components
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/aws/AwsMCCreateSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/docker/DockerMCCreateSimple.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsManagementCluster.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/AwsManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/AwsManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialOneTime.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialOneTime.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialProfile.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentialProfile.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/ManagementCredentials.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/aws/wizard-basic/management-credential-step/management.credential.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/DockerManagementCluster.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/DockerManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/DockerManagementClusterBasic.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/docker/wizard-basic/mc-prerequisite-step/McPrerequisiteStep.tsx
Labels: area/cli, area/ui

#4528 Contour README.md updates
  addons/packages/contour/1.20.1/README.md
Labels: area/packages, area/docs, cla-not-required

#4560 add ytt schema for external-dns package
  addons/packages/external-dns/0.11.0/DEV.md
  addons/packages/external-dns/0.11.0/README.md
  addons/packages/external-dns/0.11.0/bundle/config/overlays/assertions.yaml
  addons/packages/external-dns/0.11.0/bundle/config/schema.yaml
  addons/packages/external-dns/0.11.0/bundle/config/values.yaml
  addons/packages/external-dns/0.11.0/package.yaml
  addons/packages/external-dns/0.11.0/test/e2e/fixtures/external-dns-values-fixture.yaml
  addons/packages/external-dns/0.11.0/test/unittest/externaldns_test.go
  addons/packages/external-dns/0.11.0/test/unittest/fixtures/expected/minimal-configuration.yaml
Labels: area/packages, area/docs, cla-not-required

#4577 UI plugin: WC - support for multiple cluster classes
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-custom-cluster-class.json
  cli/cmd/plugin/ui/web/tanzu-ui/package-lock.json
  cli/cmd/plugin/ui/web/tanzu-ui/package.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/index.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Provider.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.wc.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ManagementClusterInfoBanner.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/SelectManagementCluster.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCProxyComponent.tsx
Labels: cla-not-required, area/cli

#4575 Fix download page for 0.12.1 release [main]
  docs/site/data/downloads/v0-12-1.yml
Labels: area/docs, cla-not-required

#4576 Fix download page with correct link for windows
  docs/site/data/downloads/v0-12-1.yml
Labels: area/docs, cla-not-required

#4520 Docs: Application Toolkit readme minor fixes
  addons/packages/app-toolkit/0.2.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4583 auto-generated - update daily build in README
  README.md
  hack/dailybuild/PREVIOUS_DAILY_HASH
Labels: area/docs, area/release-eng, cla-not-required

#4578 auto-generated - update package documentation
  docs/site/content/docs/edge/package-readme-app-toolkit-0.2.0.md
  docs/site/data/docs/main-toc.yml
Labels: area/docs, cla-not-required

#4561 Update App Toolkit 1.0.0 documented Contour version
  addons/packages/app-toolkit/0.1.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4510 Update multus readme to improve user experience
  addons/packages/multus-cni/3.7.1/README.md
  addons/packages/multus-cni/3.8.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4588 UI Plugin: Update main navigation, store nav route in router
  cli/cmd/plugin/ui/web/tanzu-ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/SideNavigation/SideNavigation.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/constants/NavRoutes.constants.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/actions/App.actions.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/App.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/stores/Store.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterInventory.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.test.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/unmanaged-cluster/UnmanagedClusterInventory.tsx
Labels: area/docs, area/cli, area/ui

#4596 UI Plugin: removed unnecessary POC files
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DependencyMap.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/DisplayFormData.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/TestRender.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphere.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/VSphereAuthForm.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/components/vsphere.auth.form.schema.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/form.service.tsx
Labels: cla-not-required, area/cli

#4620 Bump external-dns package to 0.11.0+1
  addons/packages/external-dns/0.11.0/package.yaml
Labels: area/packages, cla-not-required

#4627 Update CODEOWNERS to include fluxcd-helm-controller package #4626
  CODEOWNERS
Labels: cla-not-required

#4615 fix doc links for v0.11.0
  docs/site/content/docs/edge/assets/aws-clusters.md
  docs/site/content/docs/edge/assets/azure-clusters.md
  docs/site/content/docs/edge/assets/prereq-pkg-creation.md
  docs/site/content/docs/edge/assets/vsphere-clusters.md
  docs/site/content/docs/edge/designs/package-management.md
  docs/site/content/docs/edge/designs/package-process.md
  docs/site/content/docs/edge/docker-monitoring-stack.md
  docs/site/content/docs/edge/headless-install.md
  docs/site/content/docs/edge/package-management.md
  docs/site/content/docs/edge/solutions-opinionated-install-package.md
  docs/site/content/docs/edge/solutions-secure-ingress.md
  docs/site/content/docs/edge/vSphere-ldap-config.md
  docs/site/content/docs/edge/vsphere-monitoring-stack.md
Labels: area/docs, cla-not-required

#4606 Releasing v0.24.4 of fluxcd-source-controller
  addons/packages/fluxcd-source-controller/0.24.4/README.md
  addons/packages/fluxcd-source-controller/0.24.4/package.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/e2e.sh
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_bucket.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/samples/source_v1beta1_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/git/large-repo.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-from-bucket/source.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_gitrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmchart_helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/helmchart-valuesfile/helmrepository.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/namespace/namespace.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/namespace/role.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/podinfo/deployment.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/manifests/podinfo/service.yaml
  addons/packages/fluxcd-source-controller/0.24.4/test/flux-source-controller/config/testdata/minio/secret.yaml
  addons/packages/fluxcd-source-controller/metadata.yaml
  addons/packages/fluxcd-source-controller/vendir.lock.yml
  addons/packages/fluxcd-source-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4607 Releasing v0.24.4 of fluxcd-kustomize-controller
  addons/packages/fluxcd-kustomize-controller/0.24.4/README.md
  addons/packages/fluxcd-kustomize-controller/0.24.4/package.yaml
  addons/packages/fluxcd-kustomize-controller/metadata.yaml
  addons/packages/fluxcd-kustomize-controller/vendir.lock.yml
  addons/packages/fluxcd-kustomize-controller/vendir.yml
Labels: area/packages, area/docs, cla-not-required

#4633 Fix overlay to not ignore createNamespace
  addons/packages/kapp-controller/0.34.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.34.0/package.yaml
  addons/packages/kapp-controller/0.35.0/bundle/config/overlays/change-namespace.yaml
  addons/packages/kapp-controller/0.35.0/package.yaml
Labels: area/packages, cla-not-required

#4637 UI Plugin: Update CSS on getting started, general cleanup
  cli/cmd/plugin/ui/web/tanzu-ui/src/App.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/components/management-cluster-settings-step/ManagementClusterSettings.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/Provider.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/getting-started/GettingStarted.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/management-cluster/ManagementClusterSelectProvider.scss
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterInventory.tsx
Labels: cla-not-required, area/cli, area/ui

#4610 Update whereabouts readme to improve user experience
  addons/packages/whereabouts/0.5.0/README.md
  addons/packages/whereabouts/0.5.1/README.md
Labels: area/packages, area/docs, cla-not-required

#4600 Fix multus e2e tests
  addons/packages/multus-cni/3.7.1/test/e2e/multihomed-testfiles/cni-install.yaml
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_suite_test.go
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_test.go
  addons/packages/multus-cni/3.8.0/test/e2e/multihomed-testfiles/cni-install.yaml
  addons/packages/multus-cni/3.8.0/test/e2e/multihomed-testfiles/multus-cni-values.yaml
  addons/packages/multus-cni/3.8.0/test/e2e/multuscni_suite_test.go
  addons/packages/multus-cni/3.8.0/test/e2e/multuscni_test.go
Labels: area/packages, cla-not-required

#4629 minor content updates
  docs/site/content/resources/_index.html
  docs/site/themes/template/assets/scss/_base.scss
  docs/site/themes/template/layouts/_default/download.html
Labels: area/docs

#4495 3159 secure ingress guide
  docs/site/content/docs/edge/solutions-secure-ingress.md
Labels: area/docs, cla-not-required

#4460 Update Calico package maintainers
  addons/packages/calico/metadata.yaml
Labels: area/packages

#4650 UI Plugin: Enhance developer docs .MD files
  cli/cmd/plugin/ui/web/tanzu-ui/FORMATTING.md
  cli/cmd/plugin/ui/web/tanzu-ui/README.md
  cli/cmd/plugin/ui/web/tanzu-ui/RESTAPIS.md
Labels: area/docs, cla-not-required, area/cli, area/ui

#4616 Update knative-serving docs to match new template #4614
  addons/packages/knative-serving/1.0.0/README.md
Labels: area/packages, area/docs, cla-not-required

#4653 Tce UI poc
  cli/cmd/plugin/ui/api/swagger.yaml
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-custom-cluster-class.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-aws-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/node-server/src/routes/api/responses/cc-tkg-vsphere-default.json
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/models/ClusterClass.ts
  cli/cmd/plugin/ui/web/tanzu-ui/src/shared/services/ClusterClass.service.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/Form.reducer.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/state-management/reducers/index.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterAttributeStep.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/ClusterClassVariableDisplay.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/WorkloadClusterWizard.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCImageRepository.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCProxyComponent.tsx
  cli/cmd/plugin/ui/web/tanzu-ui/src/views/workload-cluster/cluster-class-display-widgets/CCUtil.tsx
Labels: cla-not-required, area/cli
