Repository vmware-tanzu/community-edition, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tce-owners, @vmware-tanzu/tce-releng, @vmware-tanzu/pkg-ako-operator-owners, @vmware-tanzu/pkg-antrea-owners, @vmware-tanzu/pkg-calico-owners, @vmware-tanzu/pkg-cert-manager-owners, @vmware-tanzu/pkg-contour-owners, @vmware-tanzu/pkg-external-dns-owners, @vmware-tanzu/pkg-fluent-bit-owners, @vmware-tanzu/pkg-gatekeeper-owners, @vmware-tanzu/pkg-grafana-owners, @vmware-tanzu/pkg-harbor-owners, @vmware-tanzu/pkg-kapp-controller-owners, @vmware-tanzu/pkg-knative-serving-owners, @vmware-tanzu/pkg-load-balancer-and-ingress-service-owners, @vmware-tanzu/pkg-local-path-storage-owners, @vmware-tanzu/pkg-metrics-server-owners, @vmware-tanzu/pkg-multus-cni-owners, @vmware-tanzu/pkg-pinniped-owners, @vmware-tanzu/pkg-prometheus-owners, @vmware-tanzu/pkg-velero-owners, @vmware-tanzu/pkg-vsphere-cpi-owners, @vmware-tanzu/pkg-vsphere-csi-owners

CODEOWNERS:

# This file details the various owners of the TCE project and their
# corresponding directories

# Repository Ownership

## Ownership of the entire TCE repository
*                          @vmware-tanzu/tce-owners

## Ownership of release engineering efforts
/test/                       @vmware-tanzu/tce-releng

# Package Ownership

## Ownership of the ako-operator package
addons/packages/ako-operator @vmware-tanzu/pkg-ako-operator-owners

## Ownership of the antrea package
addons/packages/antrea @vmware-tanzu/pkg-antrea-owners

## Ownership of the calico package
addons/packages/calico @vmware-tanzu/pkg-calico-owners

## Ownership of the cert-manager package
addons/packages/cert-manager @vmware-tanzu/pkg-cert-manager-owners

## Ownership of the contour package
addons/packages/contour @vmware-tanzu/pkg-contour-owners

## Ownership of the contour-operator package
addons/packages/contour-operator @vmware-tanzu/pkg-contour-owners

## Ownership of the external-dns package
addons/packages/external-dns @vmware-tanzu/pkg-external-dns-owners

## Ownership of the fluent-bit package
addons/packages/fluent-bit @vmware-tanzu/pkg-fluent-bit-owners

## Ownership of the gatekeeper package
addons/packages/gatekeeper @vmware-tanzu/pkg-gatekeeper-owners

## Ownership of the grafana package
addons/packages/grafana @vmware-tanzu/pkg-grafana-owners

## Ownership of the harbor package
addons/packages/harbor @vmware-tanzu/pkg-harbor-owners

## Ownership of the  package
addons/packages/kapp-controller @vmware-tanzu/pkg-kapp-controller-owners

## Ownership of the knative-serving package
addons/packages/knative-serving @vmware-tanzu/pkg-knative-serving-owners

## Ownership of the load-balancer-and-ingress-service package
addons/packages/load-balancer-and-ingress-service @vmware-tanzu/pkg-load-balancer-and-ingress-service-owners

## Ownership of the local-path-storage package
addons/packages/local-path-storage @vmware-tanzu/pkg-local-path-storage-owners

## Ownership of the metrics-server package
addons/packages/metrics-server @vmware-tanzu/pkg-metrics-server-owners

## Ownership of the multus-cni package
addons/packages/multus-cni @vmware-tanzu/pkg-multus-cni-owners

## Ownership of the pinniped package
addons/packages/pinniped @vmware-tanzu/pkg-pinniped-owners

## Ownership of the prometheus package
addons/packages/prometheus @vmware-tanzu/pkg-prometheus-owners

## Ownership of the velero package
addons/packages/velero @vmware-tanzu/pkg-velero-owners

## Ownership of the vsphere-cpi package
addons/packages/vsphere-cpi @vmware-tanzu/pkg-vsphere-cpi-owners

## Ownership of the vsphere-csi package
addons/packages/vsphere-csi @vmware-tanzu/pkg-vsphere-csi-owners

Update docs on using the get-tce-release.sh scipt via CLI
  docs/site/content/docs/assets/cli-install-linux.md
  hack/get-tce-release.sh
Owners: @vmware-tanzu/tce-owners

Remove old references to forked repos (#1624)
  Makefile
Owners: @vmware-tanzu/tce-owners

Load values for harbor certificates overlay
  addons/packages/harbor/2.2.3/bundle/config/overlay/harbor/add-certificates.yaml
  addons/packages/harbor/2.2.3/package.yaml
Owners: @vmware-tanzu/pkg-harbor-owners

add kubeacademy logo to resources page
  docs/site/content/resources/_index.html
  docs/site/themes/template/assets/scss/_base.scss
  docs/site/themes/template/static/img/kubeacademy-logo.svg
Owners: @vmware-tanzu/tce-owners

Changes doc flow to linear per infrastructure provider
  docs/site/content/docs/assets/step1.md
  docs/site/content/docs/assets/support-matrix.md
  docs/site/content/docs/latest/aws-intro.md
  docs/site/content/docs/latest/aws.md
  docs/site/content/docs/latest/azure-intro.md
  docs/site/content/docs/latest/azure-mgmt.md
  docs/site/content/docs/latest/cli-installation.md
  docs/site/content/docs/latest/docker-intro.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/content/docs/latest/support-matrix.md
  docs/site/content/docs/latest/verify-deployment.md
  docs/site/content/docs/latest/vsphere-intro.md
  docs/site/content/docs/latest/vsphere.md
  docs/site/data/docs/latest-toc.yml
Owners: @vmware-tanzu/tce-owners

set ceip off for all standalone cluster creations (#1473)
  cli/cmd/plugin/standalone-cluster/create.go
Owners: @vmware-tanzu/tce-owners

Add docs issue template
  .github/ISSUE_TEMPLATE/documentation.md
Owners: @vmware-tanzu/tce-owners

Improve CI response time by detecting non-responsive runners
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
  hack/runner/setup.sh
Owners: @vmware-tanzu/tce-owners

bump tanzu-framework to 0.2.0
  Makefile
  cli/cmd/plugin/standalone-cluster/go.mod
  cli/cmd/plugin/standalone-cluster/go.sum
  hack/FRAMEWORK_BUILD_VERSION
Owners: @vmware-tanzu/tce-owners

Improve CI response time by detecting non-responsive runners (#1604)
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
  hack/runner/setup.sh
Owners: @vmware-tanzu/tce-owners

Use VMware built images for k8s-sidecar and grafana (#1623)
  addons/packages/grafana/7.5.7/bundle/.imgpkg/images.yml
  addons/packages/grafana/7.5.7/bundle/config/overlays/overlay-grafana-image.yaml
  addons/packages/grafana/7.5.7/bundle/config/overlays/overlay-k8s-sidecar-image.yaml
  addons/packages/grafana/7.5.7/bundle/config/values.yaml
  addons/packages/grafana/7.5.7/package.yaml
Owners: @vmware-tanzu/pkg-grafana-owners

Use VMware built cadvisor image for prometheus package (#1626)
  addons/packages/prometheus/2.27.0/bundle/.imgpkg/images.yml
  addons/packages/prometheus/2.27.0/bundle/config/overlays/overlay-cadvisor.yaml
  addons/packages/prometheus/2.27.0/bundle/config/values.yaml
  addons/packages/prometheus/2.27.0/package.yaml
Owners: @vmware-tanzu/pkg-prometheus-owners

Update docs on using the get-tce-release.sh scipt via CLI (#1629)
  docs/site/content/docs/assets/cli-install-linux.md
  hack/get-tce-release.sh
Owners: @vmware-tanzu/tce-owners

Changes doc flow to linear per infrastructure provider (#1636)
  docs/site/content/docs/assets/step1.md
  docs/site/content/docs/assets/support-matrix.md
  docs/site/content/docs/latest/aws-intro.md
  docs/site/content/docs/latest/aws.md
  docs/site/content/docs/latest/azure-intro.md
  docs/site/content/docs/latest/azure-mgmt.md
  docs/site/content/docs/latest/cli-installation.md
  docs/site/content/docs/latest/docker-intro.md
  docs/site/content/docs/latest/installation-planning.md
  docs/site/content/docs/latest/support-matrix.md
  docs/site/content/docs/latest/verify-deployment.md
  docs/site/content/docs/latest/vsphere-intro.md
  docs/site/content/docs/latest/vsphere.md
  docs/site/data/docs/latest-toc.yml
Owners: @vmware-tanzu/tce-owners
