Repository vmware-tanzu/community-edition, changes with the owners that CODEOWNERS names for each.
All owners: @vmware-tanzu/tce-owners, @vmware-tanzu/tce-releng, @vmware-tanzu/pkg-ako-operator-owners, @vmware-tanzu/pkg-antrea-owners, @vmware-tanzu/pkg-calico-owners, @vmware-tanzu/pkg-cert-manager-owners, @vmware-tanzu/pkg-contour-owners, @vmware-tanzu/pkg-external-dns-owners, @vmware-tanzu/pkg-fluent-bit-owners, @vmware-tanzu/pkg-gatekeeper-owners, @vmware-tanzu/pkg-grafana-owners, @vmware-tanzu/pkg-harbor-owners, @vmware-tanzu/pkg-kapp-controller-owners, @vmware-tanzu/pkg-knative-serving-owners, @vmware-tanzu/pkg-load-balancer-and-ingress-service-owners, @vmware-tanzu/pkg-local-path-storage-owners, @vmware-tanzu/pkg-metrics-server-owners, @vmware-tanzu/pkg-multus-cni-owners, @vmware-tanzu/pkg-pinniped-owners, @vmware-tanzu/pkg-prometheus-owners, @vmware-tanzu/pkg-velero-owners, @vmware-tanzu/pkg-vsphere-cpi-owners, @vmware-tanzu/pkg-vsphere-csi-owners

CODEOWNERS:

# This file details the various owners of the TCE project and their
# corresponding directories

# Repository Ownership

## Ownership of the entire TCE repository
*                          @vmware-tanzu/tce-owners

## Ownership of release engineering efforts
/test/                       @vmware-tanzu/tce-releng

# Package Ownership

## Ownership of the ako-operator package
addons/packages/ako-operator @vmware-tanzu/pkg-ako-operator-owners

## Ownership of the antrea package
addons/packages/antrea @vmware-tanzu/pkg-antrea-owners

## Ownership of the calico package
addons/packages/calico @vmware-tanzu/pkg-calico-owners

## Ownership of the cert-manager package
addons/packages/cert-manager @vmware-tanzu/pkg-cert-manager-owners

## Ownership of the contour package
addons/packages/contour @vmware-tanzu/pkg-contour-owners

## Ownership of the contour-operator package
addons/packages/contour-operator @vmware-tanzu/pkg-contour-owners

## Ownership of the external-dns package
addons/packages/external-dns @vmware-tanzu/pkg-external-dns-owners

## Ownership of the fluent-bit package
addons/packages/fluent-bit @vmware-tanzu/pkg-fluent-bit-owners

## Ownership of the gatekeeper package
addons/packages/gatekeeper @vmware-tanzu/pkg-gatekeeper-owners

## Ownership of the grafana package
addons/packages/grafana @vmware-tanzu/pkg-grafana-owners

## Ownership of the harbor package
addons/packages/harbor @vmware-tanzu/pkg-harbor-owners

## Ownership of the  package
addons/packages/kapp-controller @vmware-tanzu/pkg-kapp-controller-owners

## Ownership of the knative-serving package
addons/packages/knative-serving @vmware-tanzu/pkg-knative-serving-owners

## Ownership of the load-balancer-and-ingress-service package
addons/packages/load-balancer-and-ingress-service @vmware-tanzu/pkg-load-balancer-and-ingress-service-owners

## Ownership of the local-path-storage package
addons/packages/local-path-storage @vmware-tanzu/pkg-local-path-storage-owners

## Ownership of the metrics-server package
addons/packages/metrics-server @vmware-tanzu/pkg-metrics-server-owners

## Ownership of the multus-cni package
addons/packages/multus-cni @vmware-tanzu/pkg-multus-cni-owners

## Ownership of the pinniped package
addons/packages/pinniped @vmware-tanzu/pkg-pinniped-owners

## Ownership of the prometheus package
addons/packages/prometheus @vmware-tanzu/pkg-prometheus-owners

## Ownership of the velero package
addons/packages/velero @vmware-tanzu/pkg-velero-owners

## Ownership of the vsphere-cpi package
addons/packages/vsphere-cpi @vmware-tanzu/pkg-vsphere-cpi-owners

## Ownership of the vsphere-csi package
addons/packages/vsphere-csi @vmware-tanzu/pkg-vsphere-csi-owners

Adds doc for conformance command to Getting Started
  docs/site/content/docs/assets/sonobuoy.md
  docs/site/content/docs/latest/getting-started-standalone.md
  docs/site/content/docs/latest/getting-started.md
Owners: @vmware-tanzu/tce-owners

GitHub workflow-action linter (#1573)
  .github/workflows/check-actionlint.yaml
  Makefile
Owners: @vmware-tanzu/tce-owners

Refactors makefile to use more explicit build and install targets
  .github/workflows/build-staging.yaml
  CONTRIBUTING.md
  Makefile
  hack/build-tanzu.sh
  hack/install-tanzu.sh
  hack/package-release.sh
Owners: @vmware-tanzu/tce-owners

Update go.sum with current checksums
  cli/cmd/plugin/conformance/Makefile
  cli/cmd/plugin/conformance/go.sum
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/standalone-cluster/Makefile
  cli/cmd/plugin/standalone-cluster/go.sum
Owners: @vmware-tanzu/tce-owners

Remove shell from github workflows
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Owners: @vmware-tanzu/tce-owners

Update README for current package, retire xip.io
  addons/packages/knative-serving/0.22.0/README.md
  addons/packages/knative-serving/0.22.0/bundle/config/overlays/assertions.yaml
  addons/packages/knative-serving/0.22.0/bundle/config/values.yaml
Owners: @vmware-tanzu/pkg-knative-serving-owners

Remove shell from github workflows (#1595)
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Owners: @vmware-tanzu/tce-owners

Update README for current package, retire xip.io (#1596)
  addons/packages/knative-serving/0.22.0/README.md
  addons/packages/knative-serving/0.22.0/bundle/config/overlays/assertions.yaml
  addons/packages/knative-serving/0.22.0/bundle/config/values.yaml
Owners: @vmware-tanzu/pkg-knative-serving-owners

auto-generated - update package documentation
  docs/site/content/docs/latest/package-readme-knative-serving-0.22.0.md
Owners: @vmware-tanzu/tce-owners

auto-generated - update package documentation (#1597)
  docs/site/content/docs/latest/package-readme-knative-serving-0.22.0.md
Owners: @vmware-tanzu/tce-owners

Add GitHub workflow for urllinter
  .github/workflows/check-urllint.yaml
  Makefile
  hack/.urllintconfig.yaml
Owners: @vmware-tanzu/tce-owners

Revert "Remove shell from github workflows (#1595)"
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Owners: @vmware-tanzu/tce-owners

Revert "Remove shell from github workflows (#1595)" (#1599)
  .github/workflows/build-staging.yaml
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  .github/workflows/release-fake.yaml
  .github/workflows/release-ga.yaml
  .github/workflows/release-nonga.yaml
Owners: @vmware-tanzu/tce-owners

Allow install script as root with override
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  hack/install.sh
Owners: @vmware-tanzu/tce-owners

Allow install script as root with override (#1601)
  .github/workflows/check-main.yaml
  .github/workflows/check-pr-docker-management.yaml
  .github/workflows/check-pr-docker-standalone.yaml
  hack/install.sh
Owners: @vmware-tanzu/tce-owners

Update go.sum with current checksums (#1588)
  cli/cmd/plugin/conformance/Makefile
  cli/cmd/plugin/conformance/go.sum
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/standalone-cluster/Makefile
  cli/cmd/plugin/standalone-cluster/go.sum
Owners: @vmware-tanzu/tce-owners

Add License check for shell scripts and Makefiles
  addons/packages/calico/test/Makefile
  addons/packages/external-dns/test/Makefile
  addons/packages/harbor/2.2.3/bundle/config/scripts/generate-passwords.sh
  addons/packages/pinniped/hack/Makefile
  addons/packages/pinniped/hack/regen-readme.sh
  addons/packages/test/pkg/Makefile
  cli/cmd/plugin/conformance/Makefile
  cli/cmd/plugin/diagnostics/Makefile
  cli/cmd/plugin/standalone-cluster/Makefile
  hack/addon-dev/dev-deploy-addon.sh
  hack/asset/Makefile
  hack/builder/Makefile
  hack/check-mdlint.sh
  hack/check-shell.sh
  hack/copy-images-to-tce.sh
  hack/packages/Makefile
  hack/packages/create-package.sh
  hack/release/Makefile
  hack/workflows/packages/Makefile
Owners: @vmware-tanzu/pkg-calico-owners, @vmware-tanzu/pkg-external-dns-owners, @vmware-tanzu/pkg-harbor-owners, @vmware-tanzu/pkg-pinniped-owners, @vmware-tanzu/tce-owners

Remove unnecessary go mod download tidy
  .github/workflows/build-staging.yaml
  hack/build-tanzu.sh
Owners: @vmware-tanzu/tce-owners

Add e2e tests for velero
  addons/packages/velero/1.5.2/test/Makefile
  addons/packages/velero/1.5.2/test/README.md
  addons/packages/velero/1.5.2/test/install-velero-cli.sh
Owners: @vmware-tanzu/pkg-velero-owners

Refactors makefile to use more explicit build and install targets (#1563)
  .github/workflows/build-staging.yaml
  CONTRIBUTING.md
  Makefile
  hack/build-tanzu.sh
  hack/install-tanzu.sh
  hack/package-release.sh
Owners: @vmware-tanzu/tce-owners

fix default adc will be written back by add-on manager issue (#1462)
  addons/packages/ako-operator/1.4.0/bundle/config/kapp-config.yaml
  addons/packages/ako-operator/1.4.0/bundle/config/upstream/akooperator/static.yaml
Owners: @vmware-tanzu/pkg-ako-operator-owners

Add multus-cni tests (#1144)
  addons/packages/multus-cni/3.7.1/test/Makefile
  addons/packages/multus-cni/3.7.1/test/README.md
  addons/packages/multus-cni/3.7.1/test/e2e/multihomed-testfiles/multus-cni-values.yaml
  addons/packages/multus-cni/3.7.1/test/e2e/multihomed-testfiles/simple-macvlan1.yaml
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_suite_test.go
  addons/packages/multus-cni/3.7.1/test/e2e/multuscni_test.go
  addons/packages/multus-cni/3.7.1/test/go.mod
  addons/packages/multus-cni/3.7.1/test/go.sum
  addons/packages/test/pkg/utils/validation.go
Owners: @vmware-tanzu/pkg-multus-cni-owners, @vmware-tanzu/tce-owners

Restore workflow branch condition #1615
  .github/workflows/package-copy-readmes-to-docs.yaml
Owners: @vmware-tanzu/tce-owners

Restore workflow branch condition #1615 (#1616)
  .github/workflows/package-copy-readmes-to-docs.yaml
Owners: @vmware-tanzu/tce-owners

TKG-3574: Pinniped Package: Use service type LB on vSphere with Avi
  addons/packages/pinniped/0.4.3/README.md
  addons/packages/pinniped/0.4.4/README.md
  addons/packages/pinniped/0.4.4/bundle/config/libs/constants.lib.yaml
  addons/packages/pinniped/0.4.4/bundle/config/overlay/dex-service.yaml
  addons/packages/pinniped/0.4.4/bundle/config/overlay/pinniped-supervisor-svc.yaml
  addons/packages/pinniped/0.4.4/bundle/config/values.star
  addons/packages/pinniped/0.4.4/bundle/config/values.yaml
  addons/packages/pinniped/0.4.4/bundle/examples/mc-ldap.yaml
Owners: @vmware-tanzu/pkg-pinniped-owners

Adds local-path-storage 0.0.20
  addons/packages/local-path-storage/0.0.19/Dockerfile
  addons/packages/local-path-storage/0.0.19/bundle/.imgpkg/images.yml
  addons/packages/local-path-storage/0.0.19/bundle/config/overlays/overlay-image.yaml
  addons/packages/local-path-storage/0.0.20/Dockerfile
  addons/packages/local-path-storage/0.0.20/README.md
  addons/packages/local-path-storage/0.0.20/bundle/.imgpkg/bundle.yaml
  addons/packages/local-path-storage/0.0.20/bundle/.imgpkg/images.yml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-image.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-storageclass.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/upstream/local-path-storage.yaml/local-path-storage.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/values.yaml
  addons/packages/local-path-storage/0.0.20/bundle/kbld-config.yaml
  addons/packages/local-path-storage/0.0.20/bundle/vendir.lock.yml
  addons/packages/local-path-storage/0.0.20/bundle/vendir.yml
  addons/packages/local-path-storage/0.0.20/package.yaml
Owners: @vmware-tanzu/pkg-local-path-storage-owners

TKG-3574: Pinniped Package: Use service type LB on vSphere with Avi (#1038)
  addons/packages/pinniped/0.4.3/README.md
  addons/packages/pinniped/0.4.4/README.md
  addons/packages/pinniped/0.4.4/bundle/config/libs/constants.lib.yaml
  addons/packages/pinniped/0.4.4/bundle/config/overlay/dex-service.yaml
  addons/packages/pinniped/0.4.4/bundle/config/overlay/pinniped-supervisor-svc.yaml
  addons/packages/pinniped/0.4.4/bundle/config/values.star
  addons/packages/pinniped/0.4.4/bundle/config/values.yaml
  addons/packages/pinniped/0.4.4/bundle/examples/mc-ldap.yaml
Owners: @vmware-tanzu/pkg-pinniped-owners

Docs: Include link in quickstart to prepare AWS account
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/aws-standalone-clusters.md
Owners: @vmware-tanzu/tce-owners

Docs: Include link in quickstart to prepare AWS account (#1617)
  docs/site/content/docs/assets/aws-clusters.md
  docs/site/content/docs/assets/aws-standalone-clusters.md
Owners: @vmware-tanzu/tce-owners

Package docs workflow should exit cleanly #1619
  hack/workflows/packages/update-package-readmes.sh
Owners: @vmware-tanzu/tce-owners

check for specific output message
  hack/workflows/packages/update-package-readmes.sh
Owners: @vmware-tanzu/tce-owners

Add e2e tests for velero (#1600)
  addons/packages/velero/1.5.2/test/Makefile
  addons/packages/velero/1.5.2/test/README.md
  addons/packages/velero/1.5.2/test/install-velero-cli.sh
Owners: @vmware-tanzu/pkg-velero-owners

Adds local-path-storage 0.0.20 (#1603)
  addons/packages/local-path-storage/0.0.19/Dockerfile
  addons/packages/local-path-storage/0.0.19/bundle/.imgpkg/images.yml
  addons/packages/local-path-storage/0.0.19/bundle/config/overlays/overlay-image.yaml
  addons/packages/local-path-storage/0.0.20/Dockerfile
  addons/packages/local-path-storage/0.0.20/README.md
  addons/packages/local-path-storage/0.0.20/bundle/.imgpkg/bundle.yaml
  addons/packages/local-path-storage/0.0.20/bundle/.imgpkg/images.yml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-image.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-namespace.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/overlays/overlay-storageclass.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/upstream/local-path-storage.yaml/local-path-storage.yaml
  addons/packages/local-path-storage/0.0.20/bundle/config/values.yaml
  addons/packages/local-path-storage/0.0.20/bundle/kbld-config.yaml
  addons/packages/local-path-storage/0.0.20/bundle/vendir.lock.yml
  addons/packages/local-path-storage/0.0.20/bundle/vendir.yml
  addons/packages/local-path-storage/0.0.20/package.yaml
Owners: @vmware-tanzu/pkg-local-path-storage-owners

Remove old references to forked repos
  Makefile
Owners: @vmware-tanzu/tce-owners

Add GitHub workflow for urllinter (#1498)
  .github/workflows/check-urllint.yaml
  Makefile
  hack/.urllintconfig.yaml
Owners: @vmware-tanzu/tce-owners

Use VMware built cadvisor image for prometheus package
  addons/packages/prometheus/2.27.0/bundle/.imgpkg/images.yml
  addons/packages/prometheus/2.27.0/bundle/config/overlays/overlay-cadvisor.yaml
  addons/packages/prometheus/2.27.0/bundle/config/values.yaml
  addons/packages/prometheus/2.27.0/package.yaml
Owners: @vmware-tanzu/pkg-prometheus-owners

Use VMware built images for k8s-sidecar and grafana
  addons/packages/grafana/7.5.7/bundle/.imgpkg/images.yml
  addons/packages/grafana/7.5.7/bundle/config/overlays/overlay-grafana-image.yaml
  addons/packages/grafana/7.5.7/bundle/config/overlays/overlay-k8s-sidecar-image.yaml
  addons/packages/grafana/7.5.7/bundle/config/values.yaml
  addons/packages/grafana/7.5.7/package.yaml
Owners: @vmware-tanzu/pkg-grafana-owners

Use VMware built image for external-dns in external-dns package
  addons/packages/external-dns/0.8.0/bundle/.imgpkg/images.yml
  addons/packages/external-dns/0.8.0/bundle/config/overlays/overlay-deployment.yaml
  addons/packages/external-dns/0.8.0/bundle/config/values.yaml
  addons/packages/external-dns/0.8.0/package.yaml
Owners: @vmware-tanzu/pkg-external-dns-owners

Insert go module version of Sonobuoy at build time
  cli/cmd/plugin/conformance/pkg/version.go
  hack/builder/Makefile
Owners: @vmware-tanzu/tce-owners

Update Sonobuoy to v0.53.2
  cli/cmd/plugin/conformance/go.mod
  cli/cmd/plugin/conformance/go.sum
Owners: @vmware-tanzu/tce-owners
